<div class="userdata-title" ng-i18next>{{'user-gender'}}</div>
<div class="full-toggle-container">
	<div ng-class="fullToggleLeftClass()" ng-click="setGender(1)" ng-i18next>{{'gender-male'}}</div>
	<div ng-class="fullToggleRightClass()" ng-click="setGender(0)" ng-i18next>{{'gender-female'}}</div>
</div>
<div style="height: 10px;"></div>
<div class="userdata-title" ng-i18next>{{'user-height'}}</div>
<div style="height: 45px;">
	<input type="number" ng-model="userData.height" style="width: 48%; float: left;height: 35px; padding: 0 10px;">
	<div class="unit-toggle-container"  style="width: 50%; float: right">
		<div ng-class="heightToggleLeftClass()" ng-click="setHeightUnit(1)">cm</div>
		<div ng-class="heightToggleRightClass()" ng-click="setHeightUnit(0)">ft</div>
	</div>
</div>
<div class="userdata-title" ng-i18next>{{'user-weight'}}</div>
<div style="height: 45px;">
	<input type="number" ng-model="userData.weight" style="width: 48%; float: left; height: 35px; padding: 0 10px;">
	<div class="unit-toggle-container"  style="width: 50%; float: right">
		<div ng-class="weightToggleLeftClass()" ng-click="setWeightUnit(1)">kg</div>
		<div ng-class="weightToggleRightClass()" ng-click="setWeightUnit(0)">lb</div>
	</div>
</div>
<div class="userdata-title" ng-i18next>{{'user-age'}}</div>
<input type="number" ng-model="userData.age" style=" padding: 0 10px;">
