<ion-view view-title="Carbon Usage Past 7 Days" class="ion-view-background">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <!--
  <ion-nav-buttons side="secondary">
      <button class="button button-icon" ng-click="leaderboardHelp()">
        <i class="icon ion-help"></i>
      </button>
  </ion-nav-buttons>-->

  <ion-content>

      <div ng-repeat="tier in leaderboard.tiers">
        <div id="leaderboard" class="card">
          <div ng-if="$index == 0"><h4 class="dashboard-headers" style="background-color: #FDD835" id="gold-tier">Gold Tier</h4></div>
          <div ng-if="$index == 1"><h4 class="dashboard-headers" style="background-color: #9E9E9E" id="silver-tier">Silver Tier</h4></div>
          <div ng-if="$index == 2"><h4 class="dashboard-headers" style="background-color: #cd7f32" id="bronze-tier">Bronze Tier</h4></div>
          <div ng-if="$index > 2"><h4 class="dashboard-headers">Extra Tier</h4></div>
            <!-- Links to trip detail page -->
              <div ng-repeat="user in tier">
                <div id="leaderboard" class="trip-card" style="margin-top: 5px; border-top-width: 2px; color: black;padding:0px 5px">
                  <div ng-if="hasUsername(user)" style="width: 100%">
                    <div class="col-left-75" style="font-size: 15px;">{{$index + 1}}.   <b>{{user.username.username}}</b></div>
                    <div class="col-right-25" style="font-size: 15px;">{{leaderboardDisplay(user.carbonLastWeek)}} g CO₂/mi</div>
                  </div>
                  <div ng-if="hasUsername(user) == false" style="width: 100%">
                    <div class="col-left-75" style="font-size: 15px;">{{$index + 1}}.   <b>Anon User</b></div>
                    <div class="col-right-25" style="font-size: 15px;">{{leaderboardDisplay(user.carbonLastWeek)}} g CO₂/mi</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </ion-content>
</ion-view>
