<ion-view view-title="Leaderboard: Updated Every Monday" class="ion-view-background">

  <ion-content>
      <div ng-repeat="tier in leaderboard.tiers">
        <div id="leaderboard" class="card">
          <h4 class="dashboard-headers">Tier {{ $index + 1}}</h4>
            <!-- Links to trip detail page -->
              <div ng-repeat="user in tier">
                <div id="leaderboard" class="trip-card" style="margin-top: 5px; border-top-width: 2px;">
                  <div ng-if="hasUsername(user)">
                    {{$index + 1}}.   <b>{{user.username.username}}</b> {{roundCarbon(user.carbonLastWeek)}} g CO2/km
                  </div>
                  <div ng-if="hasUsername(user) == false">
                    {{$index + 1}}.   <b>Anon User</b> {{roundCarbon(user.carbonLastWeek)}} g CO2/km
                  </div>
                </div>
              </div>
            </div>
          </div>

  </ion-content>
</ion-view>
