<ion-view view-title="Account">
  <div align-title="center" class="bar bar-positive bar-subheader bg-color">
      <div class="buttons" style="text-align:center">
        <button class="button" ng-click="returnToIntro()"> Intro </button>
        <button class="button" ng-click="forceTripStart()"> Start trip </button>
        <button class="button" ng-click="forceTripEnd()"> End trip </button>
        <button class="button" ng-click="forceRemotePush()"> Remote Push </button>
      </div>
  </div>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Connection
      </div>
      <div class="item">
        {{settings.connect.url}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Collection
      </div>
      <ion-list>
          <ion-item class="row" ng-repeat="entry in settings.collect">
                <div class="col timestamp item-text-wrap">{{entry.key}}</div>
                <div class="col detail item-text-wrap"> {{entry.val}}</div>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
