<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
<ion-tabs ng-class="tabsCustomClass()">

  <!-- Diary Tab -->
  <ion-tab title="Diary" icon="ion-map" href="#/root/main/diary">
    <ion-nav-view name="main-diary"></ion-nav-view>
  </ion-tab>

  <!-- Game Tab  -->
  <!-- ion-tab title="Goals" icon="ion-android-checkbox" href="#/root/main/goals">
    <ion-nav-view name="main-goals"></ion-nav-view>
  </ion-tab -->

  <!-- Common Patterns Tab
  <ion-tab title="Common" icon="ion-star" href="#/root/main/common/map">
    <ion-nav-view name="main-common"></ion-nav-view>
  </ion-tab> -->

  <!-- AccessMap Tab -->
  <ion-tab title="AccessMap" icon="ion-map" href="#/root/main/accessmap">
    <ion-nav-view name="main-accessmap"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon="ion-ios-analytics" href="#/root/main/metrics">
    <ion-nav-view name="main-metrics"></ion-nav-view>
  </ion-tab>

  <!-- Heatmap Tab -->
  <!-- ion-tab title="Heatmap" icon="ion-fireball" href="#/root/main/heatmap">
    <ion-nav-view name="main-heatmap"></ion-nav-view>
  </ion-tab -->

  <!-- Debug Tab -->
<!--   <ion-tab title="Recent" icon="ion-android-stopwatch" href="#/root/main/recent/log">
    <ion-nav-view name="main-recent"></ion-nav-view>
  </ion-tab> -->

  <!-- Controls Tab -->
  <ion-tab title="Profile" icon="ion-person" href="#/root/main/control">
    <ion-nav-view name="main-control"></ion-nav-view>
  </ion-tab>

</ion-tabs>

</ion-view>
