<ion-view view-title="Recommendations" class="ion-view-background">
     <ion-nav-buttons side="secondary">
      <button class="button button-icon" ng-click="clickSuggestion(0)">
        <i class="icon ion-refresh"></i>
      </button>
  </ion-nav-buttons>
     <link rel="stylesheet" href="css/main-recommend.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
     <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <ion-content class="has-header" overflow-scroll="true" padding="false">
    <div id = "scrolling">
     <center><div id="dashboard-recommend" class="card">
       <h4 class="dashboard-headers"> Current Recommendation </h4>
       <h4>
         {{name}}<br />
         {{mode}}<br />
           <img src="img/small/small_4.png" width="75" />
             <button class="button button-block button-balanced button-outline" ng-click="clickReview(0)">Reviews</button>
         </h4>
     </div></center>
       </div>
   <div id="reviewModal0" class="modal">
     <div class="modal-content">
       <div align="left">
       <h3>Reviews</h3>
       I really like this cafe, it has great vibes!
         <img src="img/small/small_5.png" width="50" /> - Jane, San Francisco <br />
           I really like their midterms! It goes great with their
             freshly baked depression!
             <img src="img/small/small_5.png" width="50" /> - John, Atlanta <br />
               The parties are ok but the grading is kind of slow.
                 <img src="img/small/small_4.png" width="50" /> - Sam, Boston <br />
         </div>
         <button class="button button-block button-balanced button-outline back" ng-click="clickX()">Back</button>
     </div>
   </div>
 <script src="js/recommendations.js"></script>
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.scrolling').slick({
        setting-name: setting-value
      });
    });
  </script>

</ion-content>
</ion-view>