<ion-view view-title="Dashboard" class="ion-view-background">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-nav-buttons side="primary">
      <button class="button button-icon" ng-click="share()">
        <i class="icon ion-share"></i>
      </button>
  </ion-nav-buttons>
  <!--
  <ion-nav-buttons side="secondary">
      <button class="button button-icon" ng-click="doRefresh()">
        <i class="icon ion-refresh"></i>
      </button>
  </ion-nav-buttons>-->

  <ion-content  style="">
    <div style="text-align: center;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;">
        <p style="color: 00A896">
        Thank you for participating in our study conducted at UC Berkeley.
        </p>
        <p style="color: 05668d">
        If you have any questions or concerns, please contact us at tripaware@lists.eecs.berkeley.edu
        </p>
      </div>
  </ion-content>
</ion-view>
