<ion-view view-title="Dashboard">
	<ion-content class="has-header" overflow-scroll="true">
		<div id="dashboard-footprint" class="card">
			<div>
				<div class="circle">
					<div id="green-leaf" class="icon ion-leaf">
					</div>
				</div>
				<h4 class="dashboard-headers">Footprint<h4>
			</div>
			<div ng-click="extendFootprintCard()" class="arrow-position">
				<i ng-class="checkFootprintCardExpanded()"></i>
			</div>
		</div>
		<div id="dashboard-calorie" class="card">
			<div>
				<div class="circle">
					<img src="img/cookie.png" id="cookie"> 
				</div>
				<h4 class="dashboard-headers">Calories<h4>
			</div>
			<div ng-click="extendCalorieCard()" class="arrow-position">
				<i ng-class="checkCalorieCardExpanded()"></i>
			</div>
		</div>
		<div id="dashboard-bottom" class="card">
			<div>
				<h4 class="dashboard-headers">Distance<h4>
			</div>
		</div>
	</ion-content>	
</ion-view>
