<ion-view title="Trip Diary">
	<div align-title="center" class="bar bar-positive bar-subheader ">
		<div class="buttons" style="text-align:center">
			<button class="button button-icon icon ion-ios-arrow-thin-left" ng-click="prevDay()">
			</button>
			<ionic-datepicker input-obj="datepickerObject">
			<button class="button"> {{datepickerObject.inputDate | date:datepickerObject.dateFormat}}</button>
		</ionic-datepicker>

		<button class="button button-icon icon ion-ios-arrow-thin-right" ng-click="nextDay()">
		</button>
        <button class="button button-icon icon ion-refresh" ng-click="refresh()">
        </button>
		</div>
	</div> 	
	<ion-content class="has-subheader" style="background-color: #eeeeee;">


		<ion-list>
        <!-- 
        This needs to be collection-repeat instead of ng-repeat on android.
        Otherwise, you can only scroll using the sidebar, scrolling on the map side does not work.
        I have no clue why this happens, but it is not worth it to understand
        this deeply. It is not purely a leaflet issue, but it also clearly something to
        do with leaflet because scrolling on the details part does work.

        If you want to change this from collection-repeat to ng-repeat, you
        MUST test on android first to make sure that the scrolling works.
        -->
		<div collection-repeat="trip in data.currDayTrips">
			<div class="list card" style="margin-top: 20px; margin-bottom: 20px;">
			 <ion-item
             style="padding: 10px;">

                <div class="row">
                    <div class="col-30">
                        <div style="font-size: 13px; padding-top: 5px; padding-bottom: 5px;">{{getFormattedTime(trip.data.properties.start_ts)}}</div><div style="font-size: 13px; padding-top: 5px; padding-bottom: 5px;">{{getFormattedTime(trip.data.properties.end_ts)}}
                        </div>
                    </div>

                    <div class="col-70">
                        <div class="item item-icon-left" href="#" style="font-size: 13px; padding-top: 5px; padding-bottom: 5px;padding-left: 25px; margin-top: 0; margin-bottom: 0;">
                        <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #72b026;"></i>
                    {{trip.start_place.properties.displayName.split(',')[0]}}
                        </div>
                        <div class="item item-icon-left" href="#" style="font-size: 13px; padding-top: 5px; padding-bottom: 5px;padding-left: 25px; margin-top: 0; margin-bottom: 0;">
                        <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #d63e2a;"></i>
                    {{trip.end_place.properties.displayName.split(',')[0]}}
                        </div>
                    </div>
                </div>

                <div style="height: 10px;"></div>

            	<div class="row">
				  <div class="col-70">
				    <leaflet geojson="trip" id="$index" defaults="defaults"></leaflet>
				  </div>
				  <div class="col-30" style="padding: 10px;">
				  	<p style="font-size: 15px; color: #cccccc">Distance</p>
				    <p style="font-size: 20px;">{{getFormattedDistance(trip.data.properties.distance)}} km</p>
				    <div style="height: 10px;"></div>
				    <p style="font-size: 15px; color: #cccccc">Time</p>
				    <p style="font-size: 20px;">{{getFormattedTimeRange(trip.data.properties.start_ts,
                           trip.data.properties.end_ts)}}</p>
                    <div style="height: 10px;"></div>
                    
                    <i class="{{mode}}" ng-repeat="mode in allModes(trip) track by $index" style="margin-left: 5px; margin-right: 5px; font-size: 20px;">
                    <!-- 	<i class="{{mode}}" style="font-size: 24px;"></i> -->
                    </i>
                    

				  </div>
				</div>
            	
            		<!-- <div class="item item-icon-left" href="#" style="font-size: 13px; padding-left: 44px; padding-top: 15px; padding-bottom: 6px;">
    					<i class="icon ion-ios-location" style="font-size: 16px; padding-top: 15px; padding-bottom: 6px; color: #cccccc;"></i>
				    	{{trip.start_place.properties.displayName}}
				  	</div>
            		<div class="item item-icon-left" href="#" style="font-size: 13px; padding-left: 44px; padding-top: 6px; padding-bottom: 6px;">
    					<i class="icon ion-ios-arrow-thin-down" style="font-size: 16px; color: #aaaaaa; padding-top: 6px; padding-bottom: 6px;"></i>
    					Travelled {{getFormattedDistance(trip.data.properties.distance)}} km in 
				    	{{getFormattedTimeRange(trip.data.properties.start_ts,
                           trip.data.properties.end_ts)}}
				  	</div>
             		<div class="item item-icon-left" href="#" style="font-size: 13px; padding-left: 44px; padding-top: 6px; padding-bottom: 10px;">
    					<i class="icon ion-ios-location" style="font-size: 16px; padding-top: 6px; padding-bottom: 10px; color: #cccccc;"></i>
				    	{{trip.end_place.properties.displayName}}
				  	</div>    
             		<div class="item item-icon-left item-stable" href="#" ng-click="toggleGroup(trip)"
                    ng-class="{active: isGroupShown(trip)}" style="font-size: 10px; padding-left: 44px; padding-top: 1px; padding-bottom: 1px; background-color: #ffffff;">
    					<i class="icon" ng-class="isGroupShown(trip) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'" style="font-size: 13px; padding-top: 1px; padding-bottom: 1px; color: #cccccc;"></i>
				    	{{isGroupShown(trip) ? 'Hide the map' : 'Show the map'}}
				  	</div>   -->
            </ion-item>
<!-- 	        <ion-item class="item-accordion" ng-show="isGroupShown(trip)">
			    
			    <div class="row" ng-repeat="section in trip.sections">
                      <div class="col">{{getFormattedTime(section.properties.start_ts)}}</div>
                      <div class="col">{{getFormattedTime(section.properties.end_ts)}}</div>
                      <div class="col">{{getFormattedTimeRange(section.properties.end_ts, section.properties.start_ts)}}</div>
                      <div class="col">{{getFormattedDistance(section.properties.distance)}}</div>
                      <div class="col">{{getKmph(section)}}</div>
                      <div class="col">{{getHumanReadable(section.properties.sensed_mode)}}</div>
                 </div>
	        </ion-item> -->
            </div>
        </div>
		</ion-list>
	</ion-content>


</ion-view>
