<ion-view view-title="Goals">
	<ion-nav-buttons side="right">
    	<button class="button button-icon" ng-click="openModal()">
        	<i class="icon ion-compose"></i>
   	 	</button>
   	 </ion-nav-buttons>
     <!--ion-nav-buttons side="left">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete"></button>
     </ion-nav-buttons-->
<ion-content class="has-header" overflow-scroll="true" padding="true">
      <!--div>
        <img ng-src="https://habitica-assets.s3.amazonaws.com/avatars/4f369eef-aed4-4408-bcbf-b34896daf7e3.png">
      </div-->
      <div ng-hide="screen">
      <h1 class="signup-title" style="text-align:center">Signup</h1>
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="theUser.username">
        </label>

      <button class="button button-positive button-full" ng-click="signup()">Submit</button>
    </div>
    <div ng-show="screen">
      <div style="height:91px">
        <a class="item item-thumbnail-left" style="background-color:transparent; height:91px">
          <img ng-src="http://54.159.38.241:3000/export/avatar-{{user._id}}.png">
          <div id="stats-wrapper">
            <i id="habitica-heart-icon" class="icon ion-heart"></i>
            <progress value="{{user.stats.hp}}" max="{{user.stats.maxHealth}}"></progress>
            <div class="stats-value-wrapper">
              <p class="stats-value">{{user.stats.hp}}/{{user.stats.maxHealth}}</p>
              <p class="stats-name">Health</p>
            </div>
          </div>
          <div>
            <i id="habitica-star-icon" class="icon ion-android-star"></i>
            <progress class="golden" value="{{user.stats.exp}}" max="{{user.stats.toNextLevel}}"></progress>
            <div class="stats-value-wrapper">
              <p class="stats-value">{{user.stats.exp}}/{{user.stats.toNextLevel}}</p>
              <p class="stats-name" style="margin-top: 1.5px;">Exprerience</p>
            </div>
          </div>
        </a>
      </div>
      <div>
      <div class="row">
        <div class="col" style="margin:auto; margin-top:5px; margin-left:2.5%">
            <img src="img/ic_header_gold.png" style="height:15px; width:15px;float: left;"><p style="font-size: 10px; float: left; margin: 0 10% 0 2%;">0</p>
            <img src="img/ic_header_silver.png" style="height:15px; width:15px;float: left;"><p style="font-size: 10px; float: left; margin: 0 10% 0 2%;">0</p>
            <img src="img/ic_header_gem.png" style="height:15px; width:15px;float: left;"><p style="font-size: 10px; float: left; margin: 0 0 0 2%;">0</p>
        </div>
        <div class="col col-40" style="margin-top:-5px;">
          <img src="img/ic_header_healer.png" style="height:30px; width:30px;" class="center">
          <h2 style="font-size:10px; text-align:center; margin:0px">{{user.profile.name}}</h2>
          <p style="font-size:8px; text-align:center;">{{user.stats.class}}</p>
        </div>
        <div class="col" style="margin:auto; text-align:center">
          <button class="button button-icon" ui-sref="root.main.goals.party">
          <i class="icon ion-ios-people"></i>
          </button>
        </div>
      </div>
      </div>
      <ion-list>
        <ion-item class="item" ng-repeat="goal in goals" style="border:1px;">
          <div class="row">
          <label class="checkbox">
              <input type="checkbox" ng-click="completeGoal(goal)">
          </label>
          </div>
          <!--div class="col col-20" style="display:flex; justify-content:flex-end; align-items:center;">
          <button class="button button-clear" style="font-size:2rem !important">
            <i icon="ion-checkmark-circled"></i>
          </button>
          </div-->
          <div class="col col-80" style="padding-left: 5% !important;">
          <h2>{{goal.name}}</h2>
          <p style="font-size: 10px">{{goal.note}}</p>
          </div>
          <ion-option-button class="button-assertive" ng-click="removeGoal(goal)">Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
      </div>
      <!--ion-list>
      <ion-list ng-click="removeGoal(goal)">
      <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-checkbox ng-repeat="goal in goals" show-delete="showDelete">
          {{goal.name}}
        </ion-checkbox>
      </ion-list-->
</ion-content>
</ion-view>
