<ion-view view-title="San Jose" class="ion-view-background">
     <ion-nav-buttons side="left">
      <button ng-if="screen" class="button button-icon" ng-click="refreshPage()">
        <i class="icon ion-android-refresh"></i>
      </button>
     </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true" padding="false">
    <h1>San Jose</h1>
     <p>San Jose is a city in the bay area that is the heart of Silicon Valley.
    <button class="button button-block button-balanced button-outline" ng-click="travel()">Travel</button>
</ion-content>
</ion-view>
