<ion-view view-title="Dashboard" class="ion-view-background">
  <div class="bear-wrapper">
    <h3>Happiness Value: {{bear.happiness}}</h3>
		<button side="right" class="button" ng-click="onLoad()">Refresh</button>
    <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%" zooming="true" locking="false" has-bouncing="false">
      <div style="width: 1369.8px; height: 975px; background: url('img/background.png'); background-repeat: no-repeat; background-size: cover;">
        <img ng-src="img/alfredexe.gif" alt="Description" />
    </div>
 </ion-scroll>
</div>
</ion-view>
