<ion-view view-title="Big Data" class="ion-view-background">
     <ion-nav-buttons side="left">
      <button ng-if="screen" class="button button-icon" ng-click="refreshPage()">
        <i class="icon ion-android-refresh"></i>
      </button>
     </ion-nav-buttons>
    <div ng-if="screen">
      <div id="message" class="has-header" ng-if="reward" style="position: fixed;width: 100px;height: 20px;background-color: #6e6e6e;;border-top-right-radius: 10px;border-bottom-right-radius: 10px;z-index:1;">
          <i class="icon ion-arrow-up-b" style="font-size: 15px; color:#4BC3AB; float:left; margin: 0 8px 0 8px;"></i>
          <img src="img/ic_header_gold.png" style="height:13px; width:13px;float: left;margin-top:3px">
          <p style="font-size: 10px; color:#fff; float: left; margin: 0 8px 0 2px;">{{gainedGold}}</p>
          <i class="icon ion-android-star" style="font-size:15px; color: #ffbe5d;float:left;"></i>
          <p style="font-size: 10px; color:#fff; float: left; margin-left: 2px;">{{gainedExp}}</p>
      </div>
      <div id="message" class="has-header" ng-if="loss" style="position: fixed;width: 100px;height: 20px;background-color: #6e6e6e;;border-top-right-radius: 10px;border-bottom-right-radius: 10px;z-index:1;">
          <i class="icon ion-arrow-down-b" style="font-size: 15px; color:#ff6064; float:left; margin: 0 20px 0 8px;"></i>
          <i class="icon ion-heart" style="font-size:15px; color: #ff6064;float:left;"></i>
          <p style="font-size: 10px; color:#fff; float: left; margin-left: 2px;">{{lossHp}}</p>
      </div>
    </div>
  <ion-content class="has-header" overflow-scroll="true" padding="false">
    <h1>San Francisco Government</h1>
     <p>Hello
</ion-content>
</ion-view>
