<!-- Label -->
 <!-- <div class="row" style="margin-top: 0px">
  <div ng-repeat="input in userInputDetails" class={{input.width}} style="text-align: center;font-size: 13px; font-family: 'Lato'; font-weight: 600;" ng-attr-id="{{ 'userinputlabel' + input.name }}" translate>
    {{input.labeltext}}
  </div>
 </div> -->
<!-- Buttons (if confirmed) -->
<!-- <div class="row input-confirm-row">
    <div ng-repeat="input in userInputDetails" class={{input.width}} style="text-align: center;" ng-attr-id="{{ 'userinput' + input.name }}">
        <div ng-if="trip.userInput[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-green">
                {{trip.userInput[input.name].text}}
            </button>
        </div> -->
<!-- Buttons (if inferred but not confirmed) -->
        <!-- <div ng-if="!trip.userInput[input.name] && trip.finalInference[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-yellow" translate>
                {{trip.finalInference[input.name].text}}
            </button>
        </div> -->
<!-- Buttons (if not inferred or confirmed) -->
        <!-- <div ng-if="!trip.userInput[input.name] && !trip.finalInference[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-red" translate>
            {{input.choosetext}}
            </button>
        </div>
    </div>
 </div> -->

 <!-- Vertical Alignment for the Survey Buttons (Stacked on Top of One Another) -->

<div> <!-- Container to keep buttons together -->
    <div ng-repeat="input in userInputDetails" ng-attr-id="{{ 'userinput' + input.name }}">
        <div style="text-align: center; font-size: 14px; font-family: 'Lato'; font-weight: bold; color: #0088ce" translate>{{input.labeltext}}</div>
        <!-- Buttons (if trip is confirmed) -->
        <span ng-if="trip.userInput[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-green">
                {{trip.userInput[input.name].text}}
            </button>
        </span>

        <!-- Buttons (if inferred, but not confirmed) -->
        <span ng-if="!trip.userInput[input.name] && trip.finalInference[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-yellow" translate>
                {{trip.finalInference[input.name].text}}
            </button>
        </span>

        <!-- Buttons (if not inferred or confirmed) -->
        <span ng-if="!trip.userInput[input.name] && !trip.finalInference[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, trip, input.name)" class="button btn-input-confirm btn-input-confirm-red" translate>
            {{input.choosetext}}
            </button>
        </span>
    </div>
</div>