/* diary page start*/

.diary-entry{
    .date-picker-button {
      color: #303030;
      padding: 0 15px;
      margin-top: 4px;
      box-shadow: none;
      border-style: none;
      background: transparent;
    }

    ion-item{
        background: transparent;
    }
}

/* diary page ends */