<ion-content>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
    <center><h3>AccessMap Research App (Beta)</h3></center>
    <center><h5>Powered by E-Mission: Data driven carbon emission reduction</h5></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	Changes between the previously approved protocol and the current one are:
	<div class="intro-space"></div>
    <ol>
        <li>Switch from moves to our own data collection</li>
        <li>Define policies when used as a platform for an external study</li>
        <li>Specify policies for time-delayed access of datasets</li>
    </ol>
	</div>
	<div class="bar bar-footer no-bgColor" id="intro-footer">
	  <button class="button button-block button-outline button-positive" ng-click="next()">
	  	FULL TEXT
	  </button>
	</div>
</ion-content>
