<ion-content>
<div class="consent-title">
<center><h3>AccessMap Research App (Beta)</h3></center>
<center><h5>Powered by E-Mission: Data driven carbon emission reduction</h5></center>
</div>
<div class="consent-text">
<h3>Introduction and Purpose</h3>
This app aims to research travel behavior to improve experience of other OpenToAll
related services.
It is powered by E-Mission, which is part of a travel behavior research platform developed at the
University of California, Berkeley. The platform development is being led by <a
href="http://www.cs.berkeley.edu/~shankari">K. Shankari</a> under the
supervision of <a href="http://www.cs.berkeley.edu/~culler/">Prof. David
Culler</a>.

<h3>What we collect</h3>
We automatically track your location, accelerometer, device-generated activity
recognition, and battery usage. We also allow you to optionally enter your
experiences and feedback during travel through the app.

<h3>How we associate it with you</h3>
You log in to the app using a valid OpenToAll account. We map the account to
a unique UUID and associate all collected data with the UUID. In general, the
mapping between the account and the UUID will only be made available to
the lead researchers for the platform. The reason we use an account is so that
we can ensure that your data is only available to somebody logged in as you, and
remains available even if you switch phones.

<h3>Who gets to see it</h3>
Individually identified, real-time data is only available to researchers for the
study. It will not be used for marketing or advertising purposes.
<ul>

<h3>Benefits and Compensation</h3>
There're chances that you can be directly compensated for contributing you data
to this platform. Contact <a
  href="mailto:caspian@cs.washington.edu">Anat Caspi</a> for detail.
<p>
We will use this information to perform crowdsourced analysis, and improve
routing experience of our other related services (e.g. AccessMap).

<h3>Your rights</h3>
You have the right to decline to participate or to withdraw at any point in this
study, but penalty or loss of benefits might be applied under some cases.
(e.g. not compensated if withdraw)

<h3>Questions</h3>
If you have any questions about this research, please feel free to contact us.
You can send email to the lead researcher <a
href="mailto:caspian@cs.washington.edu">Anat Caspi</a>.

If you agree to contribute your data to the platform, please click "I agree"
below to proceed. If you do not wish to contribute your data to the platform,
please click "I disagree" below to return to the aggregate views.

<div class="row" style="margin-top: 20px;">
  <div class="col" style="margin-right: 5px">
    <button class="button button-block button-assertive button-outline" ng-click="disagree()" id="consent-button">I Refuse</button>
  </div>
  <div class="col" style="margin-left: 5px">
    <button class="button button-block button-balanced button-outline" ng-click="agree()" id="consent-button">I Agree</button>
  </div>
</div>
</div>
<div class="consent-space"></div>


</ion-content>
