<div class="consent-title">
<center><h4>NREL OPENPATH PRIVACY POLICY/TERMS OF USE</h4></center>
</div>
<div class="consent-text">
<h3>Introduction and Purpose</h3>
<p>
{{template_text.short_textual_description}}
</p><p>
This data is being collected through OpenPATH, an NREL open-sourced platform.
The smart phone application, NREL OpenPATH (“App”), combines data from
smartphone sensors, semantic user labels and a short demographic survey.
</p><p>
NREL is a national laboratory of the U.S. Department of Energy, Office of
Energy Efficiency and Renewable Energy, operated by Alliance for Sustainable
Energy, LLC under Prime Contract No. DE-AC36-08GO28308. This Privacy Policy
applies to the App provided by Alliance for Sustainable Energy, LLC. This App
is provided solely for the purposes of collecting travel behavior data for the
{{ui_config.intro.program_or_study}} and for research to inform public policy.
None of the data collected by the App will never be sold or used for any
commercial purposes, including advertising.
</p><p>
IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DELETE THE APP
</p>

<h3>Why we collect this information</h3>
{{template_text.why_we_collect}}

<h3>What information we collect</h3>
<p>
The App will never ask for any Personally Identifying Information (PII) such as
name, email address or phone number.  
</p><p>
It collects phone sensor data pertaining to your location (including background
location), accelerometer, device-generated activity and mode recognition, App
usage time, and battery usage. The App will create a “travel diary” based on
your background location data to determine your travel patterns and location
history.
</p><p>
It will also ask you to periodically annotate these sensed trips with semantic
labels, such as the trip mode, purpose, and replaced mode.
</p><p>
It will also request sociodemographic information such as your approximate age,
gender and household type. The sociodemographic factors can be used to
understand the influence of lifestyle on travel behavior, as well as generalize
the results to a broader population.
</p><p>
For the greatest transparency, the App is based on an open source platform,
NREL’s OpenPATH. you can inspect the data that OpenPATH collects in the background at
<a
href="https://github.com/e-mission/e-mission-data-collection.git">https://github.com/e-mission/e-mission-data-collection.git</a>,
the analysis pipeline at <a
href="https://github.com/e-mission/e-mission-server.git">https://github.com/e-mission/e-mission-server.git</a>
and the dashboard metrics at <a
href="https://github.com/e-mission/em-public-dashboard.git">https://github.com/e-mission/em-public-dashboard.git</a>
</p>

<h3>How we associate information with you</h3>
<div ng-if="!ui_config.opcode.autogen">
Program administrators will provide you with a 'opcode' that you will use to log
in to the system. This long random string will be used for all further
communication with the server. If you forget or lose your opcode, you may
request it by providing your name and/or email address to the program
administrator. Please do not contact NREL staff with opcode retrieval requests
since we do not have access to the connection between your name/email and your
opcode. The data that NREL automatically collects (phone sensor data,
semidemographic data, etc.) will only be associated with your 'opcode'
</div>
<div ng-if="ui_config.opcode.autogen">
You are logging in with a randomly generated 'opcode' that has been generated by the
platform. This long random string will used for all further communication with
the server. Only you know the opcode that is associated with you. There is no
“Forgot password” option, and NREL staff cannot retrieve your opcode, even if
you provide your name or email address. This means that, unless you store your
opcode in a safe place, you will not have access to your prior data if you
switch phones or uninstall and reinstall the App.
</div>

<h3>Who gets to see the information</h3>
<p>
Aggregate metrics derived from the travel patterns will be made available on a public dashboard to provide transparency into the impact of the program. These metrics will focus on information summaries such as counts, distances and durations, and will not display individual travel locations or times.
</p><p>
Individual labeling rates and trip tables will only be made available to:
<ul>
    <li> 🧑 Program administrators from {{ui_config.intro.deployment_partner_name}} to monitor
    the {{ui_config.intro.program_or_study}}, send personalized surveys or provide
    recommendations to participants, and
    <li> 💻 NREL OpenPATH developers for debugging
</ul>
</p><p>
The data will also be periodically archived in NREL’s Transportation Secure
Data Center (TSDC) after a delay of 3 to 6 months. It will then be made
available for legitimate research through existing, privacy-preserving TSDC
operating procedures. Further information on the procedures is available <a href="https://nrel.gov/tsdc">on the
website</a> and in <a href="http://www.sciencedirect.com/science/article/pii/S2352146515002999">this publication</a> and <a href="https://www.nrel.gov/docs/fy18osti/70723.pdf">fact sheet</a>.
</p>

<h3>Your rights</h3>
<p>
<div ng-if="ui_config.intro.app_required">
You are required to track your travel patterns using the App as a condition of
participation in the Program. If you wish to withdraw from the Program, you
should contact the program administrator,
{{ui_config.intro.program_admin_contact}}  to discuss termination options. If you
wish to stay in the program but not use the app, please contact your program
administrator to negotiate an alternative data collection procedure before
uninstalling the app. If you uninstall the app without approval from the
program administrator, you may not have access to the benefits provided by the
program.
</div>
<div ng-if="!ui_config.intro.app_required">
Participation in the {{ui_config.intro.program_or_study}} is completely
voluntary. You have the right to decline to participate or to withdraw at any
point in the Study without providing notice to NREL or the point of contact. If
you do not wish to participate in the Study or to discontinue your
participation in the Study, please delete the App.
</div>
</p><p>
If you would like to have your data destroyed, please contact K. Shankari
(<a href="mailto:k.shankari@nrel.gov">k.shankari@nrel.gov</a>) requesting deletion.
You must include your token in the request for deletion. Because we do not
connect your identity with your token, we cannot delete your information
without obtaining the token as part of the deletion request. We will then
destroy all data associated with that deletion request, both in the online and
archived datasets.
</p>

<h3>Questions</h3>
If you have any questions about the data collection goals and results, please
contact the primary point of contact for the study,
{{ui_config.intro.program_admin_contact}}. If you have any technical questions
about app operation, please contact NREL’s K. Shankari (k.shankari@nrel.gov).


<h3>Consent</h3>
Please select the button below to indicate that you have read and agree to this
Privacy Policy, consent to the collection of your information, and want to
participate in the {{ui_config.intro.program_or_study}}.
</div>
