<ion-content>
<div class="consent-title">
<center><h4>ECO-ESCORT: Data driven carbon emission reduction</h4></center>
</div>
<div class="consent-text">
<h3>Introduction</h3>
Our names are Andy Yan, Jack Sullivan, Jesse Zhang, Kyle Tse, Simon Behar, John Leyden and
Vasudev Venkatesh and our supervisors are PhD candidate K. Shankari and Professor David Culler.
We are undergraduates at the University of California, Berkeley, in the department of Electrical
Engineering and Computer Science. We are planning to conduct a research study, which we invite you
to take part in.

<h3>Purpose</h3>
The purpose of this study is to influence user behavior
towards more sustainable methods of transportation and to analyze
which set of features result in the most net positive carbon emission impact.
<h3>What we collect</h3>
If you agree to participate in our research, we will automatically track your location,
accelerometer, device-generated activity recognition, and battery usage. We will also allow you to
optionally enter your experiences and feedback during travel through the app. Furthermore, there will
be an initial survey upon first launch of the application to collect information about your age,
socioeconomic status, and health status. This information will never be made public, unless you specifically
opt-in to releasing your data after the study (with all personal identifiers removed i.e. email, age,
socioeconomic status), and is for research purposes only. Since our code is open source, you can inspect
the data that we collect in the background at
<a
href="https://github.com/e-mission/e-mission-data-collection.git">https://github.com/e-mission/e-mission-data-collection.git</a>,
explore the prompts for optional sentiment reporting at <a
href="https://github.com/e-mission/e-mission-phone.git">https://github.com/e-mission/e-mission-phone.git</a>,
and see the analysis that we perform at <a
href="https://github.com/e-mission/e-mission-server.git">https://github.com/e-mission/e-mission-server.git</a>

<h3>How we associate your data with you</h3>
You will log in to the app using a valid email address.
We map the email address to a UUID (Universally Unique Identifier)
and associate all collected data with the UUID. In general, the
mapping between the email address and the UUID will only be made
available to the researchers of the platform. If you are not comfortable
sharing your real email address, you can update your email or create
an address specifically for the use of this experiment. The only reason
we use an email address is so that we can ensure that your data is
only available to somebody logged in as you, and remains available even
if you switch phones.

<h3>Who gets to see it</h3>
Individually identified, real-time data is only available to the lead researchers.
It will not be used for marketing or advertising purposes. Aggregate views of the collected data (both automatic and optional) that
do not show individual information (e.g. heatmaps) will be made publicly available
through the platform website and on the phone app.
Some of your aggregated trip information may get displayed to other users within the app. These trip
statistics over certain time periods include total carbon emissions, change of emission amount
from last time, total distance and time traveled, and favorite mode of transportation. Hence, no personal,
identifiable information will be available to any other user of the application.

<h3>Benefits</h3>
Benefits for participating in this study include providing you with a personalized travel profile
with state and federal goals for daily exercise and GHG emission reduction.

<h3>Compensation</h3>
There will be a drawing of ten $50 Amazon gift cards randomly given out to participants. The submission
of your email address in the initial survey you filled out will be your entry into this drawing. You
will receive a compensation benefit with a probability value of 10 divided by the number of total
participants.

<h3>Risks and Discomforts</h3>
There may be some discomfort regarding filling out the initial survey, however the survey data is secured
on a E-Mission platform server that only the researchers have access to. There may also be some discomfort
about being tracked, however the study location data will also be secured through said server. There is a
miniscule but undeniably present risk regarding a data breach, but we are taking precautions to minimize
this risk.

<h3>Confidentiality</h3>
Your study data will be handled as confidentially as possible. If the results of this study are published
or presented, individual names and other personally identifiable information will not be used. To minimize
risks to confidentiality, we will store study data on a secure, encrypted E-Mission platform server. The
server can only be accessed by the researchers and nobody else.

<h3>Your rights</h3>
<em>Participation in research is completely voluntary.</em> You have the right to decline to participate
or to withdraw at any point in this study without penalty or loss of benefits to which you are otherwise
entitled.


<h3>Questions</h3>
If you have any questions about this research, please feel free to contact us.
For the quickest response, you can send email to the entire team at
<a href='emissionberkeley@gmail.com'>emissionberkeley@gmail.com</a>.


<h3>Consent</h3>

If you have any questions about your rights or treatment as a research
participant using this platform, please contact the University of California at
Berkeley's Committee for Protection of Human Subjects at 510-642-7461, or
e-mail <a href="mailto:subjects@berkeley.edu">subjects@berkeley.edu</a>.

Please select the button below to indicate that you have read and agree to this consent document,
and want to participate in our study.

<div class="row" style="margin-top: 20px;">
  <div class="col">
    <button class="button button-block button-balanced button-outline" ng-click="agree()" id="consent-button">Agree</button>
  </div>
</div>
</div>
<div class="consent-space"></div>


</ion-content>
