<div class="consent-text">
<h1>Privacy policy and terms of use - Ma Mobilité</h1>
<p>
    Date of last update: 24/11/2021
</p>
<p>
    Please read these general terms and conditions of use carefully because they contain important information concerning the rights and obligations of Users. They include various limitations and exclusions, as well as obligations relating to compliance with applicable laws and regulations. They apply to any User of the application and constitutes a contract between the User and the supplier of the Application, la Fabrique des mobilités Québec (« FabMob », « we »)
</p>
<p>
    To use the Application, the User must be at least 18 years old.
</p>
<p>
    These T & Cs are applicable to Ma Mobilité mobile application and any use of the Application is subject to the TOU. By using the Application, the User accepts the TOU as a whole.
</p>
<p>
    Any questions relating to Ma Mobilité application can be sent to the following address: <a href="info@fabmobqc.ca">info@fabmobqc.ca</a>.
</p>
<p>
    By using the Application, you agree that personal information about you will be collected, used and disclosed in accordance with our Privacy Policy available at the end of these TOU.
</p>
<h2>1. Definitions</h2>
<p>
    <b>“Application”</b> means the Ma Mobilité application developed and operated by La Fabrique des Mobilités Québec, which collects certain data relating to mobility, in particular the journeys made and modes of transport used by the user. 
</p>
<p>
    <b>“User”</b> means any person who uses the Application. 
</p>
<p>
    <b>“TOU”</b> designates these Terms of Use.
</p>
<h2>2. License</h2>
<p>
    The Application is based on the code of the E-Mission application (<a href="https://wiki.lafabriquedesmobilites.fr/wiki/E-mission_GPS_tracker_Berkeley">link</a>) developed by Kalyanaraman Shankari of the NREL Federal Laboratory (USA) and available under an open-source license. The adaptations of the open-source code of E-Mission to design My Mobility were designed by La Fabrique des Mobilités Québec and its partner Savoir-faire Linux. 
</p>
<p>
    The Application and its content are provided to the User under a license, which means that we authorize the User to reproduce and use the Application according to the terms provided by these TOU but that the User does not become the owner of any right to the Application and its content. We may, at our sole discretion, terminate the license granted to all or part of the Application or its content for any reason, including failure to comply with the TOU.
</p>
<h2>3. Purpose</h2>
<p>
    The purpose of the Application is to allow users to consult their mobility traces on their smartphone. The mobility traces correspond to the journeys made and the modes of transport used by the user with the active application. The Application is also able to provide a personalized estimate of the calories burned during a trip if the user has entered the information of gender, height, weight and age. The disclosure of this information by the User is optional and it is not subject to any subsequent data processing since it is stored on the User's smartphone only.
</p>
<h2>4. Access to services and functions</h2>
<p>
    Access to the services offered by the Application requires downloading the mobile application from the Google Play Store for Android smartphones or from the AppStore for Apple smartphones. When opening the Application for the first time, a unique identification token is communicated to the user. It must be kept preciously. La Fabrique des Mobilités Québec cannot be held responsible for the loss and / or distribution of the user token.
</p>
<p>
    Downloading the application and registering require the use of a compatible mobile device with a subscription allowing Internet access, the latter two being the responsibility of the user. The creation of the account is free and does not require the user to provide any personal data apart from the email address. Once the account is created, other personal data is collected (see chapter 6. Personal data).
</p>
<p>
    Once his account has been created, the user undertakes to carefully keep his user token (authentication key) and to ensure its confidentiality. This token will be the only way for the user to recover his data if he changes his smartphone. La Fabrique des Mobilités Québec cannot be held responsible for the loss and distribution of the user token. In the event of loss of his smartphone and / or his user token, the user can obtain a new one by downloading the Application again.
</p>
<p>
    Each User agrees to have only one account per smartphone.
</p>
<h2>5.Our obligations</h2>
<p>
    The sources of information disseminated on the Application are reliable to the best of our knowledge, but FabMob does not guarantee that they are free from defects, errors or omissions.
</p>
<p>
    Any event due to a case of force majeure resulting in a malfunction of the Application and subject to any interruption or modification in the event of maintenance, does not engage the responsibility of La Fabrique des Mobilités Québec.
</p>
<p>
    FabMob undertakes to take commercially reasonable means to secure the Application, in particular by taking all the necessary measures to ensure the security and confidentiality of the information provided.
</p>
<p>
    FabMob makes reasonable efforts to ensure continued access to the Application. It reserves the right to develop, modify or suspend, without notice, access to the Application for maintenance reasons or for any other reason deemed necessary.
</p>
<p>
    This Application may provide links that may direct the user to sites created by external third parties. These third parties are solely responsible for the content published by them. FabMob has no control over the content of these sites, this content can not engage the responsibility of the administration.
</p>
<h2>6. Obligations of the User</h2>
<p>
    The User makes sure to keep his token secret. Any disclosure of the token, whatever its form, is prohibited. He assumes the risks associated with the use of his token.
</p>
<p>
    The User undertakes not to upload content or information that is contrary to the legal and regulatory provisions in force.
</p>
<p>
    The content of the User can be at any time and for any reason deleted or modified by the site, without notice.
</p>
<p>
    The User is responsible for the information he transfers, and must avoid as much as possible sending unnecessary documents, or documents containing sensitive data.
</p>
<h2>7. No guarantee</h2>
<p>
    The User acknowledges that his use of the Application is at his own risk. The Application is provided "as is" and without any warranty, whether express, tacit or implied, with the exception of warranties that the law does not allow to be waived, where applicable.
</p>
<p>
    We do not warrant that access to the Application will be uninterrupted and secure and that the content available through the Application will be error-free, accurate, complete and up to date.
</p>
<p>
    The results that the User may obtain by using the Application are not guaranteed and we make no representation in this regard.
</p>
<h2>8. Limitation of liability</h2>
<p>
    If you are a Quebec consumer, this clause does not limit FabMob's liability for damages resulting directly from the fault or the act of FabMob.
</p>
<p>
    Except to the extent that such limitation is prohibited by law, in no event will FabMob., Nor its directors, employees or officers be liable for any prejudice that you may suffer as a result of your use of the Application or of your inability to use the Application, including direct, indirect, punitive, incidental, special, consequential or other damages of any kind, including, without limitation, damages for loss enjoyment of data or profits. If you are dissatisfied with all or part of the Application, or with any of the terms of these TOU, your unique appeal is to stop using the Application.
</p>
<h2>9. Miscellaneous</h2>
<p>
    The failure for La Fabrique des Mobilités Québec to exercise the rights recognized to it in application of these TOU does not in any way constitute a waiver of the exercise of these rights. In the event of non-compliance of part of these TOU with the legislation in force which would be declared void by a court decision, this decision will not be such as to call into question the validity of the other provisions of these TOU which will continue to be applied. The non-conforming parts will then be replaced by provisions as close as possible, in compliance with the current legislation.
</p>
<p>
    La Fabrique des Mobilités Québec reserves the right to add to these TOU, at any time and without notice, any modification it deems useful. 
</p>
<h2>10. Updates to Terms of Use</h2>
<p>
    The terms of these Terms of Use may be amended at any time without notice. Any modification will take effect immediately as soon as it is posted on the Application, and the update date will be mentioned.
<h3>Personal data and privacy policy</h3>
<h4>a. What data is collected and why?</h4>
<p>
    La Fabrique des Mobilités Québec and its partner Coop Carbone are responsible for processing user data. The data as well as the application will be hosted on secure servers of Digital Océan. La Fabrique des Mobilités Québec has contractually ensured that its partners ensure the security of the data collected by means of the Application.
</p>
<p>
    The Application may constitute one or more files comprising information provided voluntarily by the user or else retrieved through the operating system of the user's smartphone. The legal basis on which the processing of personal data is based is a contractual relationship. La Fabrique des Mobilités Québec undertakes to request and / or collect only the data necessary for the project aimed at understanding new travel habits and the provision of the services offered in accordance with principle 5 of the digital data charter (Digital sobriety ; Make reasoned and reasonable use of the data).
</p>
<p>
    The data collected by means of the Application and processed by FabMob and its partners, as well as the purposes of this processing are described below:
</p>
<ul>
    <li>
        Purpose 1: identification of the user to find his data in the database.
        <ul>
            <li>Single user token;</li>
            <li>User creation timestamp;</li>
            <li>Associated operating system;</li>
            <li>Unique device identifier.</li>
        </ul>
    </li>
    <li>
        Purpose 2: visualization of traces of mobility by the user or the beta-tester with an estimate of his carbon footprint.
        <ul>
            <li>Geographic positions of the telephone.</li>
        </ul>
    </li>
    <li>
        Purpose 3: cleaning and correction of mobility traces so that the user can view them.
        <ul>
            <li>Geographic positions of the telephone.</li>
            <li>Speeds detected by the operating system of the telephone</li>
            <li>Modes of transport detected by the operating system of the telephone</li>
        </ul>
    </li>
</ul>
<p>
    The aforementioned data must be collected in order to be able to benefit from the services offered by the Application, namely the visualization of its traces of mobility and the '' estimate of the carbon footprint linked to its journeys. No data processing gives rise to automated individual decision-making or profiling.
</p>
<p>
    If the user does not want this data to be communicated to the server, he is then unable to use the Application.
</p>
<p>
    The following data is collected on an optional basis, and stored locally on the Application:
</p>
<ul>
    <li>
        Purpose 4: estimation of certain personalized metrics based on physical characteristics (optional collection)
        <ul>
            <li>Gender, height, weight, age (the collection of this data is not not mandatory to use the Application)</li>
        </ul>
    </li>
</ul>
<h4>b. How is the collected data used?</h4>
<p>
    The raw data is stored on the user's smartphone and continuously sent to a server which performs nightly processing to improve the data. These improvements consist of a processing in 8 steps:
</p>
<p>
    the position and speed data of the GPS are collected in the application (phone side) by querying the smartphone OS, then:
</p>
<ol>
    <li>sent (asynchronously) to the server for processing in deferred time (every night) in a processing pipeline:</li>
    <li>recovery of app data already recorded in the database;</li>
    <li>division into trips: after 5 'of immobility (configurable threshold), it is considered that this is another trip;</li>
    <li>cutting into sections;</li>
    <li>smoothing of sections: correction of potential GPS errors</li>
    <li>cleaning / temporal resampling of samples</li>
    <li>detection of the movement mode: the mode is detected as a function of the speed, and, for public transport, only by relying on the proximity of the start and end of the journey (section) and of a public transport stop (public transport stops are found on the OpenStreetMap database queried by the overpass API)</li>
    <li>verification of active modes: the mobile app allows the user to inform about an incident and correct the mode, or complete the reason for a trip.</li>
</ol>
<p>
    The server hosting the Application as well as the data collected: TOR1 is located in Toronto, Canada, at the company Digital Ocean.
</p>
<p>
    No use for commercial purposes of this personal data is made by La Fabrique des Mobilités Québec and its partners (Coop Carbone and Savoir Faire Linux).
</p>
<p>
    To guarantee the right to privacy (preserve privacy and prevent surveillance) in accordance with principle 1 of the digital data charter, no individual processing of data will be carried out.
</p>
<p>
    The analyzes will be carried out on aggregated data. 
</p>
<p>
    The Data visible in the “Dashboard” tab and corresponds to the indicators for each user of the application for a period defined by the User. 
</p>
<p>
    This data is not the subject of a specific database and is calculated on the fly for direct display in the users' application. These are the following indicators:
</p>
<ul>
    <li>total number of kilometers by mode of travel,</li>
    <li>number of trips by mode of travel,</li>
    <li>total duration of trips by mode of travel,</li>
    <li>speed by mode of travel</li>
</ul>
<h4>c. Data retention</h4>
<p>
    If the user deletes the Application, the data stored on the Application are immediately deleted and the data associated with his token (geographical positions, speeds, journeys) in the server are saved unless the user requests the deletion of their data.
</p>
<p>
    The data stored locally on the Application (gender, height, weight, age) are kept in the Application until the Application is deleted.
</p>
<p>
    The user can request the deletion of his data stored on the server (geographical positions, speeds, journeys) at any time.
</p>
<p>
    FabMob keeps the personal data collected for the time necessary to perform the analyzes described herein, a maximum of 12 months following their collection. The data are then anonymized or aggregated and ceases to be associated with identifiable individuals. 
</p>
<h4>d. What ensures data security?</h4>
<p>
    Data protection In accordance with the digital data charter (principle 3: Cybersecurity; Protecting personal data), all user data is hosted in Canada, on facilities operated by Digital Ocean. Digital Ocean claims to comply with Canadian legislation on the protection of personal data. All the elements relating to Digital Ocean's security and compliance are available on this page: <a href="https://www.digitalocean.com/trust/resources/">https://www.digitalocean.com/trust/resources/</a>
</p>
<p>
    The Application infrastructure is managed by La Fabrique des Mobilités Quebec (<a href="https://fabmobqc.ca/">https://fabmobqc.ca/</a>).
</p>
<h4>e. How to exercise your rights regarding personal data?</h4>
<p>
    In application of the provisions of the digital data charter (principle 4: Consent; Guarantee full citizen control over the digital footprint), the user benefits in particular from:
<ul>
    <li>Right to information: the User can ask FabMob at any time what data is processed about him.</li>
    <li>Right of rectification: the User can request the rectification of the data concerning him if they prove to be inaccurate.</li>
    <li>Right of access: the User can ask FabMob to send him all the data processed about him.</li>
    <li>Right to deletion: the User may request the deletion of his personal data</li>
</ul>
<p>
    The data collected through the Application is subject to a possible aggregation, following which no personal data is kept. by FabMob or its partners.
</p>
<p>
    To exercise these rights, simply send an e-mail to <a href="info@fabmobqc.ca">info@fabmobqc.ca</a>.
</p>
<h4>f. Data obtained via a questionnaire</h4>
<p>
    Periodically, when specific analyzes are carried out by FabMob and its partners, personal data is collected via a questionnaire.
</p>
<p>
    This data is associated with your account for the duration of such an analysis, but will not be subject to individual processing, and will only be used to identify trends or compile statistics within the framework of a particular analysis. . 
</p>
<p>
    The questionnaire as well as the data collected through it will be hosted and stored on the website of the Fabrique des mobilités Québec, which is itself hosted on secure servers operated by Godaddy, some of which may be located outside of Quebec. . 
</p>
<p>
    The data obtained through the questionnaire will be deleted once the particular analysis is completed. 
</p>
<h4>g. Purpose of the data collected</h4>
<p>
    As part of a project whose objectives are to understand new travel habits, and to set up a governance of shared data, the data collected for the purposes of this project will be intended to be shared in the Jalon library. <a href="https://jalonmtl.services/">https://jalonmtl.services/</a> And this by respecting the principles of the digital data charter.
</p>
<p>
    Data anonymization is necessary before it can be made accessible on the Jalon MTL library, to benefit the mobility ecosystem of Montreal and Quebec.
</p>
<p>
    Anonymization will aim to transform personal data through non-reversible algorithms in order to remove any association with an identifiable individual, while allowing them to remain exploitable for processing for statistical purposes. In other terms this practice will therefore consist of using techniques to make it impossible to identify individuals while retaining sufficient information to use.
</p>
<h4>h. Digital Data Charter</h4>
<p>
    La Fabrique des mobilités Québec undertakes to use the Application in compliance with the <a href="https://laburbain.montreal.ca/sites/villeintelligente.montreal.ca/files/25817-charte_donnees_numeriques_ang.pdf">Digital Data Charter</a> and its 13 principles displayed below.
<ol>
    <li>Right to privacy. Preserving privacy and preventing surveillance</li>
    <li>Inclusion. Ensuring equity and fighting discrimination</li>
    <li>cybersecurity. Protecting personal data</li>
    <li>Consent. Ensuring full citizen control over their digital footprint</li>
    <li>Digital sobriety. Striving for reasoned and reasonable use of data</li>
    <li>Common good. Collecting data on behalf of the community</li>
    <li>Digital Sovereignty. Sharing data of general interest on the territory</li>
    <li>Data Interoperability and portability. Promoting data exchange and use, and technical agnosticism</li>
    <li>Transparency. Forging a bond of trust</li>
    <li>Universal access. Bridging the digital divide</li>
    <li>Public participation. Involving the community and facilitating the creation of social values</li>
    <li>Framed experiment. Daring to push the limits of innovation</li>
    <li>Ecological transition. Controlling our environmental footprint</li>
</ol>
</div>
