<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><ion-icon></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	
	<div class="intro-space"></div>
	<center><b>At the end of two days, the user can pull up all of his/her trips and answer mode questions for each trip:</b></center>
	<div class="intro-space"></div>
	<center>If you aren't joining a study, please proceed!</center>
	</div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
  	NEXT STEP
  </button>
</ion-footer-bar>
