<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><ion-icon></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	
	<div class="intro-space"></div>
	<center><b>Thank you for installing e-mission. e-mission will collect data on your location and speed to make inferences about your trip such as mode choice. Please keep e-mission on your phone for at least two days. At the end of two days, you are requested to pull up your trips and answer questions to confirm inferences made by e-mission. :</b></center>
	<div class="intro-space"></div>
	
	</div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
  	NEXT STEP
  </button>
</ion-footer-bar>
