<ion-view hide-nav-bar="true" class="intro-view">
    <ion-slide-box delegate-handle="intro-box" on-slide-changed="slideChanged(index)" show-pager="false">
      <!-- <ion-slide>
        <ng-include src="summaryFile"></ng-include>
      </ion-slide> -->
      <ion-slide>
        <ng-include src="consentFile"></ng-include>
      </ion-slide>
     <!--  <ion-slide>
        <ng-include src="explainFile"></ng-include>
      </ion-slide>
      <ion-slide>
        <ng-include src="loginFile"></ng-include>
      </ion-slide> -->
    </ion-slide-box>
</ion-view>
