<ion-content>
<div class="intro-title">
<center><h3>Login via passphrase</h3></center></div>

<div class="intro-text">
We will now ask you to select a unique passphrase that will be used to identify
you in the system. Please do not use anything that can be easily guessed, such
as your email address. You will not be allowed to change the passphrase after
you enter it. You will need the passphrase if you want to access your data from
another device such as your laptop or a new phone.
<div class="intro-space"></div>
<button class="button button-block button-balanced" ng-click="login()">Login via passphrase</button>
</div>


</ion-content>
