<ion-content>
<div class="consent-title" translate-namespace="login">
<center><h2 translate>{{'.make-sure-save-your-opcode'}}</h2></center>
</div>
<div class="consent-text">

<center><h3 translate-namespace="login" translate>{{'.cannot-retrieve'}}</h3></center>

<center><qrcode class="col" aria-label="qrcode for user email" data="{{currentToken}}" size="220" download></qrcode></center>

<div class="col" style="height: 150%">
    <button class="col" style="height: 100%; background-color: #0088ce; color: white"
        ng-click="shareQR()" class="control-icon-button">
         <u>{{currentToken}}</u>
    </button>
</div>

<div class="row" style="margin-top: 20px;" translate-namespace="login">
  <div class="col" style="margin-left: 5px">
      <button class="button button-block button-positive button-outline" ng-click="shareQR()" id="consent-button"><span translate>{{'.save'}}</span></button>
  </div>
  <div class="col" style="margin-right: 5px">
      <button class="button button-block button-assertive button-outline" ng-click="next()" id="consent-button"><span translate>{{'.continue'}}</span></button>
  </div>
</div>
</div>

<div class="consent-space"></div>

</ion-content>
