<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><ion-icon></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	<center><img src="img/stop.png"/ style="width: 80%; height: auto;"></center>
	<div class="intro-space"></div>
	 <center><b>Si se está uniendo a un estudio, regrese a las instrucciones de su estudio y complete el segundo paso antes de continuar.</b></center>
	<div class="intro-space"></div>
	  <center>Si no se está uniendo a un estudio, favor continuar!</center>
	</div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
  	CONTINUAR
  </button>
</ion-footer-bar>
