<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><ion-icon></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	<center><img src="img/stop.png"/ style="width: 80%; height: auto;"></center>
	<div class="intro-space"></div>
	<center><b>If you are joining a study, please return to your study instructions and complete the second step before proceeding.</b></center>
	<div class="intro-space"></div>
	<center>If you aren't joining a study, please proceed!</center>
	</div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
  	NEXT STEP
  </button>
</ion-footer-bar>
