<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><h4>Are you interested in contributing your data to improve traffic conditions in your city? If so, we’d Like to Hear from You!</h4></center>
	</div>
    Researchers within the Center for Integrated Mobility Sciences at the National
    Renewable Energy Laboratory are interested in exploring ways in which travel
    patterns of individuals can be collected, analyzed, and used for travel and
    traffic forecasts. To this end, we would like to collect a snapshot of your
    travel footprint, along with a few questions regarding your socio-demographic
    profile. Does this seem like a lot of work? Not to worry, providing your data
    is facilitated through an open source, easy-to-use location history data
    collection application called emTripLog. The survey (from installation to
    completion) should not take more than 10 minutes of your time. The information
    you provide will help advance the state of practice in travel data collection,
    and travel pattern forecasting. Your data contribution will come back to you as
    improved travel management and traffic conditions in your city (lesser travel
    times, lesser congestion, you get the drift!). We would like to assure you that
    your information will never be made public or sold, and will only be used for
    the research proposed in this project.

    If you’d like to learn more about regarding this project, please contact me
    directly at <a href="mailto:venu.garikapati@nrel.gov">venu.garikapati@nrel.gov</a>.
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
    GETTING STARTED
  </button>
</ion-footer-bar>

