<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><h4>CCI: Study for lowering pollution impact</h4></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	This study is designed to:
	<div class="intro-space"></div>
	<ol>
	<li> <b>Track</b> your travel patterns over four days
	<div class="intro-space"></div>
	<li> Help you <b>understand</b> when, where and why you travel without too much work
	<div class="intro-space"></div>
    <li> Help us <b>understand</b> your travel patterns so that we can
        determine how to lower the impact of pollution on your life.
	</ol>
	</div>
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
    GETTING STARTED
  </button>
</ion-footer-bar>

