<ion-content class="has-footer">
	<!-- <div class="intro-space"></div> -->
	<div class="intro-title">
	<center><h4>Electronic City Travel Behavior Study</h4></center>
	</div>
	<!-- <div class="intro-space"></div> -->
	<div class="intro-text">
	<div class="intro-space"></div>
	Thank you for installing emTripLog. 
	</div>
	
</ion-content>
<ion-footer-bar class="no-bgColor" id="intro-footer">
  <button class="button button-block button-outline button-positive" ng-click="next()">
    GETTING STARTED
  </button>
</ion-footer-bar>

