<center><h3>E-Mission: Data driven carbon emission reduction</h3></center>
<big>
E-Mission is designed to:
<ol>
<li> <b>automatically calculate</b> your transportation carbon footprint and
compare it against California targets,
<li> give you <b>suggestions on how to change</b> your travel patterns to reduce your
footprint (coming soon),
<li> provide <b>aggregate data on travel patterns</b> so that cities can improve their
land use and transportation planning.
</ol>
</big>

<button class="button button-block button-balanced" ng-click="next()">Get Started</button>

