# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
package-hooks/
.DS_Store
app-settings.json
.idea/
.io-config.json
*.apk
*.ipa
www/js/control/collect-settings.js
www/js/control/sync-settings.js
www/js/control/transition-notify-settings.js
config.xml
package.json
