# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
package-hooks/
.DS_Store
app-settings.json
.idea/
.io-config.json
*.apk
*.app.zip
*.ipa
www/dist/
www/js/control/collect-settings.js
www/templates/control/main-collect-settings.html
www/js/control/sync-settings.js
www/templates/control/main-sync-settings.html
config.xml
package.json
