# Ignore src/dist, json
src/dist
src/json

# Ignore all HTML files:
**/*.html

# This is the pattern to check only src directory
# Ignore all
/*
# but don't ignore all the files in src directory
!/src
