# Ignore www/dist, json
www/dist
www/json

# Ignore all HTML files:
**/*.html

# This is the pattern to check only www directory
# Ignore all
/*
# but don't ignore all the files in www directory
!/www
