<div class="main" id="survey-paper">
  <article class="paper" data-tap-disabled="true">
      <!--
          This section is to be removed in application
      -->
      <!--
          This form header (markup/css) can be changed in the application.
          Just make sure to keep a .form-language-selector element into which the form language selector (<select>)
          will be appended by Enketo Core.
      -->
      <header class="form-header clearfix">
          <span class="form-language-selector hide"><span>Choose Language</span></span>
          <nav class="pages-toc hide" role="navigation">
              <label for="toc-toggle"></label>
              <input type="checkbox" id="toc-toggle" class="ignore" value="show">
              <!-- this element can be placed anywhere, leaving it out will prevent running ToC-generating code -->
              <ul class="pages-toc__list"></ul>
              <div class="pages-toc__overlay"></div>
          </nav>
      </header>

      <!-- The comment below is used in enketo-core-performance-monitor. -->
      <!-- {{<form>}} -->

      <section class="form-footer">
          <!--
              Used some quick-and-dirty inline CSS styles here because the form-footer should be styled in the
              mother application. The HTML markup can be changed as well.
          -->
          <a href="#" class="previous-page disabled" style="position:absolute; left: 10px; bottom: 40px;" translate>{{'.back'}}</a>
          <button id="validate-form" class="btn btn-primary" ng-click="enketoSurvey.validateAndSave()" style="width:200px; margin-left: calc(50% - 100px);" translate>{{'.save'}}</button>
      <a href="#survey-paper" class="btn btn-primary next-page disabled" style="width: 200px; margin-left: calc(50% - 100px)" ng-click="enketoSurvey.onNext()" translate>{{'.next'}}</a>

          <div class="enketo-power" style="margin-bottom: 30px;"><span translate>{{'.powered-by'}}</span> <a href="http://enketo.org" title="enketo.org website"><img src="templates/survey/enketo/enketo_bare_150x56.png" alt="enketo logo" /></a> </div>
          <div class="form-footer__jump-nav" style="display: flex; flex-direction: row;">
              <a href="#" class="btn btn-default disabled first-page" style="flex: 1; border-radius: 0;" translate>{{'.return-to-beginning'}}</a>
              <a href="#" class="btn btn-default disabled last-page" style="flex: 1; border-radius: 0;" translate>{{'.go-to-end'}}</a>
          </div>
          <!--<ol class="page-toc"></ol>-->
      </section>

  </article>
</div>
