<ion-view style="" title="Map">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block  icon ion-refresh"></button>
            <button style="" class="button button-stable button-block  icon ion-checkmark">Valid</button>
            <button style="" class="button button-stable button-block  icon ion-android-cancel">Invalid</button>
        </div>
        <form style="" class="list">
            <ion-item style="" class="range range-positive">Minutes
                <input name="minutes-slider" max="100" min="0" value="50" type="range">
            </ion-item>
        </form>
    </ion-content>
</ion-view>