<ion-popover-view>
    <ion-content class="has-footer">
        <div class="intro-text" ng-i18next>{{'join.about-app-para-1'}} </div>

        <div class="intro-text" ng-i18next>{{'join.about-app-para-2'}} </div>

        <div class="intro-text" ng-i18next>{{'join.about-app-para-3'}}</div>

        <div class="intro-text">
            <b ng-i18next>{{'join.tips-title'}}</b>
            <div ng-show="isIOS">
            <ion-list>
            <ion-item class="item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                <span ng-i18next>{{'join.all-green-status'}}</span>
            </ion-item>
            <ion-item class="item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                <span ng-i18next>{{'join.dont-force-kill'}}</span>
            </ion-item>
            </ion-list>
            </div>
            <div ng-show="isAndroid">
            <ion-list>
            <ion-item class="item-text-wrap"> <div>
                <i class="icon ion-checkmark-circled"></i>
                <span ng-i18next>{{'join.all-green-status'}}</span>
            </ion-item>
            <ion-item class="item-text-wrap"> <div>
                <i class="icon ion-checkmark-circled"></i>
                <span ng-i18next>{{'join.background-restrictions'}}</span>
            </ion-item>
            </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <button class="button button-block button-clear" ng-click="hideDetails($event)">
        <span ng-i18next>{{'join.close'}}</span>
      </button>
    </ion-footer-bar>
</ion-popover-view>
