<ion-popover-view>
    <ion-content class="has-footer">
        <div class="intro-text">
        The National Renewable Energy Laboratory’s Open Platform for Agile Trip
        Heuristics (NREL OpenPATH) enables people to track their travel modes—car, bus,
        bike, walking, etc.—and measure their associated energy use and carbon
        footprint.  
        </div>

        <div class="intro-text">
        The app empowers communities to understand their travel mode choices
        and patterns, experiment with options to make them more sustainable, and
        evaluate the results. Such results can inform effective transportation policy
        and planning and be used to build more sustainable and accessible cities. 
        </div>

        <div class="intro-text">
            It does so by building an automatic diary of all your trips, across all
            transportation modes. It reads multiple sensors, including
            location, in the background, and turns GPS tracking on and off
            automatically for minimal power consumption. The choice of the
            travel pattern information and the carbon footprint display style are
            study-specific.
        </div>

        <div class="intro-text">
            <b>Tip(s) for correct operation:</b>
            <div ng-show="isIOS">
            <ion-list>
            <ion-item class="item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                Make sure that all status checks are green
            </ion-item>
            <ion-item class="item-text-wrap">
                <i class="icon ion-checkmark-circled"></i>
                Do not force kill the app
            </ion-item>
            </ion-list>
            </div>
            <div ng-show="isAndroid">
            <ion-list>
            <ion-item class="item-text-wrap"> <div>
                <i class="icon ion-checkmark-circled"></i>
                Make sure that all status checks are green</div>
            </ion-item>
            <ion-item class="item-text-wrap"> <div>
                <i class="icon ion-checkmark-circled"></i>
                On Samsung and Huwaei phones, make sure that background
                    restrictions are turned off</div>
            </ion-item>
            </ion-list>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <button class="button button-block button-clear" ng-click="hideDetails($event)">
        Close
      </button>
    </ion-footer-bar>
</ion-popover-view>
