<ion-view view-title="{{'control.profile' | i18next}}" ng-class="ion-view-background">
  <ion-content>
    
    <!-- opcode and logout - this row has two clicks! (and an argument for one of them) -->
    <!-- <div class="control-list-item">
      <div ng-click="copyToClipboard(settings.auth.opcode)" class="control-list-text"><pre>{{settings.auth.opcode}}</pre></div>
      <div ng-click="logOut()" id ="switch-user" class="control-icon-button"><i class="icon ion-log-out"></i></div>
    </div> -->
    <setting-row text-key="settings.auth.opcode" icon-name="'logout'" action = "logOut"></setting-row>

    <!-- demographics survey -- leaving for now -->
    <enketo-demographics-button></enketo-demographics-button>

    <!-- view privacy policy -->
    <setting-row text-key="'control.view-privacy'" icon-name="'eye'" action = "viewPrivacyPolicy"></setting-row>

    <!-- QR code -->
    <setting-row text-key="'control.view-qrc'" icon-name="'grid'" action = "viewQRCode"></setting-row>

    <!-- reminder time -- leaving for now -->
    <div ng-if="settings.notification.prefReminderTime" class="control-list-item">
      <div class="control-list-text">
        {{'control.reminders-time-of-day' | i18next: {time: settings.notification.prefReminderTime} }}
      </div>
      <div class="control-icon-button" style="position: relative">
        <i class="ion-clock"></i>
        <input type="time" name="timeOfDay" value="{{settings.notification.prefReminderTimeOnLoad}}"
          ng-model="settings.notification.prefReminderTimeVal" ng-change="updatePrefReminderTime()" ng-blur="updatePrefReminderTime()"
          style="position: absolute; height: 100%; inset: 0; display: flex; opacity: 0;">
      </div>
    </div>

    <!-- tracking - a toggle! -->
    <!-- <div class="control-list-item">
      <div class="control-list-text" ng-i18next>{{'control.tracking'}}</div>
      <label ng-click="userStartStopTracking()" class="toggle control-list-toggle toggle-color">
        <input type="checkbox" ng-checked="settings.collect.trackingOn">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div> -->
    <setting-row text-key="'control.tracking'" icon-name="'toggle-switch'" action = "userStartStopTracking"></setting-row>

    <setting-row text-key="'control.app-status'" icon-name="'check'" action="fixAppStatus"></setting-row>
    
    <!-- accuracy - another toggle! -->
    <!-- <div class="control-list-item">
      <div class="control-list-text" ng-i18next>{{'control.medium-accuracy'}}</div>
      <label ng-click="toggleLowAccuracy()" class="toggle control-list-toggle toggle-color">
        <input type="checkbox" ng-checked="getLowAccuracy()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div> -->
    <setting-row text-key="'control.medium-accuracy'" icon-name="'toggle-switch'" action = "toggleLowAccuracy"></setting-row>

    <setting-row text-key="carbonDatasetString" icon-name="'database-cog'" action = "changeCarbonDataset"></setting-row>
    <setting-row text-key="'control.force-sync'" icon-name="'sync'" action="forceSync"></setting-row>
    <setting-row text-key="'control.share'" icon-name="'share'" action="share"></setting-row>

    <!-- <div class="control-list-item">
      <div class="control-list-text" ng-i18next>{{'control.download-json-dump'}}</div>
      <div ng-click="openDatePicker()" class="control-icon-button">
        <i class="ion-ios-calendar-outline" style="font-size: 16px !important;"></i>
      </div>
      <div ng-click="getMyData()" class="control-icon-button"><i class="ion-android-mail"></i></div>
    </div> -->
    <setting-row text-key="'control.download-json-dump'" icon-name="'calendar'" action="openDatePicker"></setting-row>

    <setting-row ng-if="ui_config.profile_controls.support_upload == true" text-key="'control.upload-log'" icon-name="'cloud'" action="uploadLog"></setting-row>
    <setting-row text-key="'control.email-log'" icon-name="'email'" action="emailLog"></setting-row>

    <!-- UserData dropdown - believe I've converted but relatively untested -->
    <!-- <div class="control-list-item" ng-show="userDataSaved()">
      <div class="control-list-text" ng-i18next>{{'control.user-data'}}</div>
      <div ng-click="toggleUserData()" class="control-icon-button"><i ng-class="getUserDataExpandButtonClass()" id="userDataButton"></i></div>
    </div> -->
    <setting-row ng-show="userDataSaved()" text-key="'control.user-data'" icon-name="'arrow-expand-down'" action="toggleUserData"></setting-row>
    <!-- Begin user data can see it on my phone?-->
    <div class="" ng-show="userDataExpanded()">
      <!-- <div class="control-list-item">
        <div class="control-list-text" ng-i18next>{{'control.erase-data'}}</div>
        <div ng-click="eraseUserData()" class="gray-icon control-icon-button"><i class="ion-trash-b"></i></div>
      </div> -->
      <setting-row text-key="'control.erase-data'" icon-name="'delete-forever'" action="eraseUserData"></setting-row>
      <!-- a sneaky table! -->
      <control-data-table control-data="userData"></control-data-table>
      <!-- <ion-list>
          <ion-item class="row" ng-repeat="entry in userData">
                <div class="col timestamp item-text-wrap control-info">{{entry.key}}</div>
                <div class="col detail item-text-wrap" style="padding: 2px 4px !important;"> {{entry.value}}</div>
          </ion-item>
      </ion-list> -->
    </div>

    <!-- this dropdown is less smooth than the angular one -- need to work on the visuals :) -->
    <setting-row text-key="'control.dev-zone'" icon-name="'arrow-expand-down'" action="expandDeveloperZone"></setting-row>

    <!-- Begin developer zone -->
    <div class="" ng-show="collectionExpanded()">
      
      <setting-row text-key="'control.refresh'" icon-name="'refresh'" action="refreshScreen"></setting-row>

      <setting-row text-key="'control.end-trip-sync'" icon-name="'sync-alert'" action="endForceSync"></setting-row>

      <setting-row text-key="'control.check-consent'" icon-name="'check'" action="checkConsent"></setting-row>

      <setting-row text-key="'control.dummy-notification'" icon-name="'bell'" action="dummyNotification"></setting-row>
      
      <setting-row text-key="'control.upcoming-notifications'" icon-name="'bell-check'" action=""></setting-row>
      <control-data-table ng-if="settings.notification.prefReminderTime" control-data="settings.notification.scheduledNotifs"></control-data-table>

      <setting-row text-key="'control.invalidate-cached-docs'" icon-name="'delete'" action="invalidateCache"></setting-row>
      
      <setting-row text-key="'control.nuke-all'" icon-name="'delete-forever'" action="nukeUserCache"></setting-row>
      
      <setting-row text-key="parseState(settings.collect.state)" icon-name="'pencil'" action="forceState"></setting-row>

      <setting-row text-key="'control.check-log'" icon-name="'arrow-expand-right'" action="showLog"></setting-row>

      <setting-row text-key="'control.check-sensed-data'" icon-name="'arrow-expand-right'" action="showSensed"></setting-row>
      
      <setting-row text-key="'control.collection'" icon-name="'pencil'" action="editCollectionConfig"></setting-row>
      <control-data-table control-data="settings.collect.show_config"></control-data-table>

      <setting-row text-key="'control.sync'" icon-name="'pencil'" action="editSyncConfig"></setting-row>
      <control-data-table control-data="settings.sync.show_config"></control-data-table>
    
    <!-- app version - dual text no actions! -->
    <!-- work around to show version - cheating with the icon name here, will need to modify later -->
    <setting-row text-key="'control.app-version'" icon-name="application" action=""></setting-row>
    <setting-row text-key="settings.clientAppVer" icon-name="" action=""></setting-row>
    
  </ion-content>
</ion-view>
