<ion-popover-view style="width: 75%;">
<ion-content style="margin: 0; padding: 0;">
<ion-button-bar>
    <button class="button button-active button-block" ng-click="saveAndReloadSettingsPopover()" style="margin: 0; color: #fff; background-color: #95BCA2;">Save</button>
</ion-button-bar> 
<ion-list>
  <ion-toggle ng-model="settings.collect.new_config.is_duty_cycling">Duty Cycling</ion-toggle>
  <ion-toggle ng-model="settings.collect.new_config.simulate_user_interaction">Simulate User</ion-toggle>
<!--   <ion-item class="row item-input">
    <div class="col">Accuracy</div>
    <button class="col col-25" ng-click="setAccuracy()">
        {{settings.collect.new_config.accuracy}}
    </button>
  </ion-item> -->
    <label class="item item-input">
        <span class="input-label">Accuracy</span>
        <input ng-model="settings.collect.new_config.accuracy"
             ng-click="setAccuracy()" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>  
    <label class="item item-input">
        <span class="input-label">Accuracy Threshold</span>
        <input ng-model="settings.collect.new_config.accuracy_threshold"
             ng-disabled="true" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>
    <label style="" class="item item-input">
        <span class="input-label">Filter distance</span>
        <input ng-model="settings.collect.new_config.filter_distance"
           ng-disabled="isAndroid()" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>
    <label style="" class="item item-input">
        <span class="input-label">Filter Interval</span>
        <input ng-model="settings.collect.new_config.filter_time"
            ng-disabled="isIOS()" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>
    <label style="" class="item item-input">
        <span class="input-label">Geofence radius</span>
        <input ng-model="settings.collect.new_config.geofence_radius" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>
    <ion-toggle ng-disabled="isAndroid()" ng-model="settings.collect.new_config.ios_use_visit_notifications_for_detection">Use Visit Notifications</ion-toggle>
    <ion-toggle ng-disabled="isAndroid()" ng-model="ios_use_remote_push_for_sync">Sync on remote push</ion-toggle>
    <label style="" class="item item-input">
        <span class="input-label">Geofence responsiveness</span>
        <input ng-model="settings.collect.new_config.android_geofence_responsiveness"
            ng-disabled="isIOS()" type="number" style="padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;">
    </label>
</ion-list>
</ion-content>
</ion-popover-view>
