<ion-popover-view style="width: 75%;">>
<ion-content style="margin: 0; padding: 0;">
<ion-button-bar>
    <button class="button button-active button-block" ng-click="saveAndReload()" style="margin: 0; color: #fff; background-color: #95BCA2; border-bottom-left-radius: 0;
border-bottom-right-radius: 0;">Save</button>
</ion-button-bar> 
<ion-list>
  <ion-item class="row item-input">
    <div class="dev-zone-title">Sync Interval (secs)</div>
    <button class="dev-zone-button" ng-click="setSyncInterval()">
        {{new_config.sync_interval}}
    </button>
  </ion-item>
  <ion-toggle ng-disabled="isAndroid()" ng-model="new_config.ios_use_remote_push">Use Remote Push</ion-toggle>
</ion-list>
</ion-content>
</ion-popover-view>
