<ion-view view-title="{{'control.profile' | i18next}}" ng-class="ion-view-background">
  <ion-content>
    
    <profile-settings settings-scope="this"></profile-settings>

    <!-- demographics survey -- leaving for now -->
    <enketo-demographics-button></enketo-demographics-button>

    <!-- reminder time -- leaving for now -->
    <div ng-if="settings.notification.prefReminderTime" class="control-list-item">
      <div class="control-list-text">
        {{'control.reminders-time-of-day' | i18next: {time: settings.notification.prefReminderTime} }}
      </div>
      <div class="control-icon-button" style="position: relative">
        <i class="ion-clock"></i>
        <input type="time" name="timeOfDay" value="{{settings.notification.prefReminderTimeOnLoad}}"
          ng-model="settings.notification.prefReminderTimeVal" ng-change="updatePrefReminderTime()" ng-blur="updatePrefReminderTime()"
          style="position: absolute; height: 100%; inset: 0; display: flex; opacity: 0;">
      </div>
    </div>

    <!-- tracking - a toggle! -->
    <!-- <div class="control-list-item">
      <div class="control-list-text" ng-i18next>{{'control.tracking'}}</div>
      <label ng-click="userStartStopTracking()" class="toggle control-list-toggle toggle-color">
        <input type="checkbox" ng-checked="settings.collect.trackingOn">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div> -->
    <!-- <setting-row text-key="'control.tracking'" icon-name="'toggle-switch'" action = "userStartStopTracking" is-toggle="true" toggle-val="getTracking"></setting-row> -->
    
    <!-- accuracy - another toggle! -->
    <!-- <div class="control-list-item">
      <div class="control-list-text" ng-i18next>{{'control.medium-accuracy'}}</div>
      <label ng-click="toggleLowAccuracy()" class="toggle control-list-toggle toggle-color">
        <input type="checkbox" ng-checked="getLowAccuracy()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div> -->
    <!-- <setting-row text-key="'control.medium-accuracy'" icon-name="'toggle-switch'" action = "toggleLowAccuracy" is-toggle="true" toggle-val="getLowAccuracy"></setting-row> -->

    <!-- I'm not sure what getMyData() does or where it's used so I don't know how to convert it!
    It was a part of the downloadDump item, as if a second icon alongside the calendar -->
    <!-- <div ng-click="getMyData()" class="control-icon-button"><i class="ion-android-mail"></i></div>
    <setting-row text-key="'control.download-json-dump'" icon-name="'email'" action="getMyData"></setting-row> -->

    <!-- fully moving to react will allow nesting of components in the way angularized react does not -->

    <!-- Dropdown for user data -->
    <expansion-section section-title="'control.user-data'" section-contents="[
        {type: 'row', data: [], textKey: 'control.erase-data', action: eraseUserData, iconName: 'delete-forever', isToggle: false},
        {type: 'table', data: userData, textKey: 'control.erase-data', action: eraseUserData, iconName: 'delete-forever', isToggle: false}
    ]">
    </expansion-section>

    <!-- Dropdown for developer zone -->
    <expansion-section section-title="'control.dev-zone'" section-contents="[
        {type: 'row', data: [], textKey: 'control.refresh', action: refreshScreen, iconName: 'refresh', isToggle: false},
        {type: 'row', data: [], textKey: 'control.end-trip-sync', action: endForceSync, iconName: 'sync-alert', isToggle: false},
        {type: 'row', data: [], textKey: 'control.check-consent', action: checkConsent, iconName: 'check', isToggle: false},
        {type: 'row', data: [], textKey: 'control.dummy-notification', action: dummyNotification, iconName: 'bell', isToggle: false},
        {type: 'row', data: [], textKey: 'control.upcoming-notifications', action: '', iconName: 'bell-check', isToggle: false},
        {type: 'table', data: settings.notification.scheduledNotifs},
        {type: 'row', data: [], textKey: 'control.invalidate-cached-docs', action: invalidateCache , iconName: 'delete', isToggle: false},
        {type: 'row', data: [], textKey: 'control.nuke-all', action: nukeUserCache, iconName: 'delete-forever', isToggle: false},
        {type: 'row', data: [], textKey: parseState(settings.collect.state), action: forceState, iconName: 'pencil', isToggle: false},
        {type: 'row', data: [], textKey: 'control.check-log', action: showLog, iconName: 'arrow-expand-right', isToggle: false},
        {type: 'row', data: [], textKey: 'control.check-sensed-data', action: showSensed, iconName: 'arrow-expand-right', isToggle: false},
        {type: 'row', data: [], textKey: 'control.collection', action: editCollectionConfig, iconName: 'pencil', isToggle: false},
        {type: 'table', data: settings.collect.show_config},
        {type: 'row', data: [], textKey: 'control.sync', action: editSyncConfig, iconName: 'pencil', isToggle: false},
        {type: 'table', data: settings.sync.show_config},
        {type: 'row', data: [], textKey: 'control.app-version', action: '', iconName: 'application', isToggle: false},
        {type: 'row', data: [], textKey: settings.clientAppVer, action: '', iconName: '', isToggle: false}
    ]">
    </expansion-section>

  </ion-content>
</ion-view>
