<ion-popover-view style="width: 90%; height: 40%" translate-namespace="general-settings">
    <!--<ion-content style="margin: 0; padding: 0;">-->
    
        <div class="row">
            <div class="col"></div>
            <center>
            <h3 text-align="center"> <span translate>{{'.qrcode'}}</span> </h3> 
            </center>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <qrcode class="col" aria-label="qrcode for user email" data="{{tokenURL}}" size="220" download></qrcode>
            <div class="col"></div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
            <div class="col"></div>
            <div class="qrcode share title" translate>{{'.qrcode-share-title'}} </div>
            <div class="col"></div>
        </div>
        <div class="row"><br /></div>
        <div class="row" style="height: 13%">
            <div class="col"></div>
            <button class="col" style="height: 100%; background-color: #01D0A7" ng-click="shareQR()" class="control-icon-button">  <i class="ion-share" style="color: white; font-size: 200%"></i></button>
            <div class="col"></div>
        </div>
    
    <!--</ion-content>-->
</ion-popover-view>
