<div class="consent-title">
<center><h4>POLÍTICA DE PRIVACIDAD/TÉRMINOS DE USO DE NREL OPENPATH</h4></center>
</div>
<div class="consent-text">
<h3>Introducción y Propósito</h3>
<p>
{{template_text.short_textual_description}}
</p><p>
Estos datos se recopilan a través de OpenPATH, una plataforma de código abierto de NREL.
La aplicación para teléfonos inteligentes, NREL OpenPATH ("Aplicación"), combina datos de
sensores de teléfonos inteligentes, etiquetas semánticas de usuario y una breve
encuesta demográfica.
</p><p>
NREL es un laboratorio nacional del Departamento de Energía de EE. UU., Oficina de
Eficiencia Energética y Energía Renovable, operado por Alliance for Sustainable
Energy, LLC bajo el contrato principal No. DE-AC36-08GO28308. Esta política de privacidad
se aplica a la aplicación proporcionada por Alliance for Sustainable Energy, LLC. Esta aplicación
se proporciona únicamente con el fin de recopilar datos de comportamiento de viaje para el
{{ui_config.intro.program_or_study}} y para la investigación para informar la política pública. Ninguno de los datos recogidos por
la aplicación nunca se venderá ni se utilizará con fines comerciales, incluidos
publicidad.
</p><p>
SI NO ESTÁ DE ACUERDO CON LOS TÉRMINOS DE ESTA POLÍTICA DE PRIVACIDAD, ELIMINAR LA APLICACIÓN
</p>

<h3>Por qué recopilamos esta información</h3>
{{template_text.why_we_collect}}

<h3>Qué información recopilamos</h3>
<p>
La aplicación nunca solicitará información de identificación personal (PII) como
nombre, correo electrónico, dirección, o número de teléfono.
</p><p>
Recopila datos del sensor del teléfono relacionados con su ubicación (incluido el fondo
ubicación), acelerómetro, actividad generada por el dispositivo y reconocimiento de modo, App
el tiempo de uso y el uso de la batería. La aplicación creará un "diario de viaje" basado en
sus datos de ubicación de fondo para determinar sus patrones de viaje y ubicación
historia.
</p><p>
También le pedirá que anote periódicamente estos viajes detectados con semántica
etiquetas, como el modo de viaje, el propósito y el modo reemplazado.
</p><p>
También te solicitará información sociodemográfica como tu edad aproximada,
género, y tipo de hogar. Los factores sociodemográficos se pueden utilizar para
comprender la influencia del estilo de vida en el comportamiento de viaje, así como generalizar
los resultados a una población más amplia.
</p><p>
Para la mayor transparencia, la aplicación se basa en una plataforma de código abierto,
OpenPATH de NREL. puede inspeccionar los datos que recopila OpenPATH en segundo plano en
<a
href="https://github.com/e-mission/e-mission-data-collection.git">https://github.com/e-mission/e-mission-data-collection.git</a>,
la canalización de análisis en <a
href="https://github.com/e-mission/e-mission-server.git">https://github.com/e-mission/e-mission-server.git</a>
y las métricas del tablero en <a
href="https://github.com/e-mission/em-public-dashboard.git">https://github.com/e-mission/em-public-dashboard.git</a>
</p>

<h3>Cómo asociamos la información contigo</h3>
<div ng-if="!ui_config.opcode.autogen">
Los administradores del programa le proporcionarán un 'opcode' que utilizará
para iniciar sesión en el sistema. Esta larga cadena aleatoria se utilizará
para todas las comunicaciones posteriores con el servidor. Si olvida o pierde
su opcode, puede solicitarlo proporcionando su nombre y/o dirección de correo
electrónico al administrador del programa. No se comunique con el personal de
NREL con solicitudes de recuperación de opcode, ya que no tenemos acceso a la
conexión entre su nombre/correo electrónico y su código de operación. Los datos
que NREL recopila automáticamente (datos del sensor del teléfono, datos
semidemográficos, etc.) solo se asociarán con su 'opcode'
</div>
<div ng-if="ui_config.opcode.autogen">
Está iniciando sesión con un 'opcode' generado aleatoriamente por la
plataforma. Esta larga cadena aleatoria se utilizará para todas las
comunicaciones posteriores con el servidor. Solo usted conoce el opcode que
está asociado con usted. No existe la opción "Olvidé mi contraseña", y el
personal de NREL no puede recuperar su opcode, incluso si proporciona su nombre
o dirección de correo electrónico. Esto significa que, a menos que almacene su
opcode en un lugar seguro, no tendrá acceso a sus datos anteriores si cambia de
teléfono o desinstala y reinstala la aplicación.
</div>

<h3>Quién puede ver la información</h3>
<p>
Las métricas agregadas derivadas de los patrones de viaje estarán disponibles en un tablero público para proporcionar transparencia sobre el impacto del programa. Estas métricas se centrarán en resúmenes de información, como recuentos, distancias y duraciones, y no mostrarán ubicaciones u horas de viaje individuales.
</p><p>
Las tarifas de etiquetado individual y la información del nivel de viaje solo estarán disponibles para:
<ul>
    <li> 🧑 Administradores del {{ui_config.intro.deployment_partner_name}} para {{template_text.raw_data_use}}, y
    <li> 💻 Desarrolladores de OpenPATH para la depuración
</ul>
</p><p>

Los datos también se archivarán periódicamente en Transportation Secure de NREL.
Data Center (TSDC) después de un retraso de 3 a 6 meses. Entonces se hará
disponible para investigación legítima a través del TSDC existente que preserva la privacidad
procedimientos de operación. Más información sobre los procedimientos está disponible <a href="https://nrel.gov/tsdc">en el
sitio web</a> y en <a href="http://www.sciencedirect.com/science/article/pii/S2352146515002999">esta publicación</a> y <a href="">hoja informativa</a>.
</p>

<h3>Tus derechos</h3>
<p>
<div ng-if="ui_config.intro.app_required">
Debe realizar un seguimiento de sus patrones de viaje utilizando la aplicación como condición de
participación en el Programa. Si desea retirarse del Programa, debe
debe comunicarse con el administrador del programa,
{{ui_config.intro.program_admin_contact}} para analizar las opciones de finalización. Si usted
desea permanecer en el programa pero no usar la aplicación, comuníquese con su programa
administrador para negociar un procedimiento de recopilación de datos alternativo antes
desinstalar la aplicación. Si desinstala la aplicación sin la aprobación del
administrador del programa, es posible que no tenga acceso a los beneficios proporcionados por el
programa.
</div>
<div ng-if="!ui_config.intro.app_required">
La participación en el Estudio es completamente voluntaria. tienes derecho a
negarse a participar o retirarse en cualquier momento del estudio sin
proporcionar notificación a NREL o al punto de contacto. Si no desea
participar en el Estudio o interrumpir su participación en el Estudio,
por favor, elimine la aplicación.
</div>
</p><p>
Si desea que se destruyan sus datos, comuníquese con K. Shankari
(<a mailto="k.shankari@nrel.gov">k.shankari@nrel.gov</a>) solicitando la eliminación.
Debe incluir su token en la solicitud de eliminación. porque nosotros no
conecte su identidad con su token, no podemos eliminar su información
sin obtener el token como parte de la solicitud de eliminación. Entonces lo haremos
destruir todos los datos asociados con esa solicitud de eliminación, tanto en línea como
conjuntos de datos archivados. 
</p>

<h3>Preguntas</h3>
Si tiene alguna pregunta sobre los objetivos y resultados de la recopilación de datos, por favor
comuníquese con el punto de contacto principal para el estudio, K. Shankari
(<a href="mailto:k.shankari@nrel.gov">k.shankari@nrel.gov</a>). Si tiene alguna pregunta técnica sobre el funcionamiento de la aplicación,
comuníquese con K. Shankari de NREL (<a href="mailto:k.shankari@nrel.gov">k.shankari@nrel.gov</a>).

<h3>Consentimiento</h3>
Seleccione el botón a continuación para indicar que ha leído y está de acuerdo con este
Política de privacidad, acepta la recopilación de su información y desea
participar en el {{ui_config.intro.program_or_study}}.

