<div class="consent-title">
    <center><h4>ນະໂຍບາຍຄວາມເປັນສ່ວນຕົວ/ເງື່ອນໄຂການໃຊ້ງານ NREL OPENPATH</h4></center>
    </div>
    <div class="consent-text">
    <h3>ຈຸດປະສົງຂອງການສຶກສາ</h3>
    <p>
    {{template_text.short_textual_description}}
    </p><p>
    ຂໍ້​ມູນ​ນີ້​ແມ່ນ​ໄດ້​ຖືກ​ເກັບ​ກໍາ​ໂດຍ​ຜ່ານ OpenPATH​, ເປັນ​ເວ​ທີ​ແຫຼ່ງ​ເປີດ NREL​.
    ແອັບພລິເຄຊັນໂທລະສັບອັດສະລິຍະ, NREL OpenPATH (“App”), ລວມຂໍ້ມູນຈາກ
    ເຊັນເຊີໂທລະສັບສະຫຼາດ, ປ້າຍຊື່ຜູ້ໃຊ້ semantic ແລະການສໍາຫຼວດປະຊາກອນສັ້ນ.
    </p><p>
    NREL ເປັນຫ້ອງທົດລອງແຫ່ງຊາດຂອງກະຊວງພະລັງງານສະຫະລັດ, ຫ້ອງການຂອງ
    ພະລັງງານປະສິດທິພາບ ແລະພະລັງງານທົດແທນ, ດໍາເນີນການໂດຍ Alliance for Sustainable
    ພະລັງງານ, LLC ພາຍໃຕ້ສັນຍາ Prime No. DE-AC36-08GO28308. ນະໂຍບາຍຄວາມເປັນສ່ວນຕົວນີ້
    ນຳໃຊ້ກັບແອັບທີ່ສະໜອງໃຫ້ໂດຍພັນທະມິດເພື່ອພະລັງງານແບບຍືນຍົງ, LLC. App ນີ້
    ແມ່ນສະຫນອງໃຫ້ພຽງແຕ່ສໍາລັບຈຸດປະສົງຂອງການເກັບກໍາຂໍ້ມູນພຶດຕິກໍາການເດີນທາງສໍາລັບ
    {{ui_config.intro.program_or_study}} ແລະເພື່ອການຄົ້ນຄວ້າເພື່ອແຈ້ງນະໂຍບາຍສາທາລະນະ.
    ບໍ່ມີຂໍ້ມູນໃດໆທີ່ເກັບໄດ້ໂດຍ App ຈະບໍ່ຖືກຂາຍ ຫຼືໃຊ້ສໍາລັບອັນໃດ ຈຸດປະສົງທາງການຄ້າ, ລວມທັງການໂຄສະນາ.
    </p><p>
    ຖ້າເຈົ້າບໍ່ເຫັນດີກັບເງື່ອນໄຂຂອງນະໂຍບາຍຄວາມເປັນສ່ວນຕົວນີ້, ກະລຸນາລຶບແອັບອອກ
    </p>
    
    <h3>ເປັນຫຍັງພວກເຮົາເກັບກໍາຂໍ້ມູນນີ້</h3>
    {{template_text.why_we_collect}}
    
    <h3>ການເກັບກຳຂໍ້ມູນ</h3>
    <p>
    ລະບົບ ຈະບໍ່ ເກັບກຳຂໍ້ມູນທີ່ສາມາດລະບຸຕົວຕົນໄດ້ແບບດັ້ງເດີມ (ເຊັ່ນ: ບໍ່ມີຊື່, ອີເມວ ຫຼືເບີໂທລະສັບ)
    </p><p>
    ລະບົບນີ້ຈະນໍາໃຊ້ ເພື່ອເປັນການເກັບກໍາຂໍ້ມູນໃນການຕິດຕາມ ການເດີນທາງ ເພື່ອໃຫ້ເຂົ້າເຖີງຮູບແບບການເດີນທາງຂອງການນໍາໃຊ້ພາຫະນະ.
    </p><p>
    ມັນຍັງຈະຂໍໃຫ້ເຈົ້າບັນທຶກການເດີນທາງທີ່ມີຄວາມຮູ້ສຶກເຫຼົ່ານີ້ເປັນໄລຍະໆດ້ວຍ semantic
    ປ້າຍຊື່, ເຊັ່ນ: ຮູບແບບການເດີນທາງ, ຈຸດປະສົງ, ແລະຮູບແບບການທົດແທນ.
    </p><p>
    ມັນຍັງຈະຮ້ອງຂໍຂໍ້ມູນທາງດ້ານສັງຄົມເຊັ່ນ: ອາຍຸໂດຍປະມານຂອງທ່ານ,
    ເພດ, ແລະປະເພດຄົວເຮືອນ. ປັດໄຈທາງດ້ານສັງຄົມນິຍົມສາມາດຖືກນໍາໃຊ້ເພື່ອ
    ເຂົ້າໃຈອິດທິພົນຂອງວິຖີຊີວິດກ່ຽວກັບພຶດຕິກໍາການເດີນທາງ, ເຊັ່ນດຽວກັນກັບ generalize
    ຜົນໄດ້ຮັບຕໍ່ປະຊາກອນທີ່ກວ້າງຂວາງ.
    </p><p>
    ເພື່ອຄວາມໂປ່ງໃສທີ່ສຸດ, App ແມ່ນອີງໃສ່ເວທີແຫຼ່ງເປີດ,
    OpenPATH ຂອງ NREL. ທ່ານ​ສາ​ມາດ​ກວດ​ສອບ​ຂໍ້​ມູນ​ທີ່ OpenPATH ເກັບ​ກໍາ​ຂໍ້​ມູນ​ໃນ​ພື້ນ​ຖານ​ທີ່​
    <a
    href="https://github.com/e-mission/e-mission-data-collection.git">https://github.com/e-mission/e-mission-data-collection.git</a>,
    ທໍ່ການວິເຄາະທີ່ <a
    href="https://github.com/e-mission/e-mission-server.git">https://github.com/e-mission/e-mission-server.git</a>
    ແລະການວັດແທກ dashboard ຢູ່ <a
    href="https://github.com/e-mission/em-public-dashboard.git">https://github.com/e-mission/em-public-dashboard.git</a>
    </p>
    
    <h3>ພວກເຮົາເຊື່ອມໂຍງຂໍ້ມູນກັບທ່ານແນວໃດ</h3>
    <div ng-if="!ui_config.opcode.autogen">
    ເຂົ້າສູ່ລະບົບ ທີ່ບໍ່ເປີດເຜີຍຊື່ (ລະຫັດ OP) ໂທເກນທີ່ສ້າງຂຶ້ນແບບສຸ່ມເປັນເອກະລັກ (ລະຫັດ OP) ນີ້ແມ່ນຕົວລະບຸຂອງທ່ານໃນລະບົບ. ບໍ່ມີໃຜນອກເໜືອໄປຈາກເຈົ້າຮູ້ວ່າເຈົ້າກ່ຽວຂ້ອງກັບ (ລະຫັດ OP)  ນີ້. ຖ້າທ່ານຕ້ອງການຕິດຕໍ່ສື່ສານກັບທີມງານຄົ້ນ ຄ້ວາກ່ຽວກັບຂໍ້ມູນທີ່ເກັບກໍາກ່ຽວກັບທ່ານ, ກະລຸນາກຽມພ້ອມທີ່ຈະສະຫນອງ (ລະຫັດ OP)  ນີ້.
    </div>
    <div ng-if="ui_config.opcode.autogen">
        ໂທເຄັນທີ່ສ້າງຂຶ້ນແບບສຸ່ມຂ້າງເທິງ, ເລີ່ມຕົ້ນດ້ວຍ <code>nrelop_</code>, ຖືກນໍາໃຊ້ເພື່ອເຂົ້າສູ່ລະບົບ. 
        ບັນທຶກ token ຂອງທ່ານໃນກໍລະນີທີ່ທ່ານເສຍ ຫຼືປ່ຽນໂທລະສັບ. ຖ້າທ່ານສູນເສຍ token ຂອງທ່ານ, NREL 
        ບໍ່ສາມາດດຶງມັນມາໃຫ້ທ່ານໄດ້. ເນື່ອງຈາກພວກເຮົາບໍ່ມີຄວາມສາມາດໃນການຈັບຄູ່ token ກັບຜູ້ໃຊ້ແຕ່ລະຄົນ.
        OPcode ແມ່ນໂທເຄັນທີ່ສ້າງຂຶ້ນແບບສຸ່ມ. ບັນທຶກລະຫັດ (token) ຂອງທ່ານໃນກໍລະນີທີ່ທ່ານເຮັດເສຍ ຫຼື ປ່ຽນໂທລະສັບ. 
        ຖ້າທ່ານເຮັດໂທເຄັນຂອງທ່ານເສຍ, ກະລຸນາຕິດຕໍ່ຜູ້ຮັບຜິດຊອບໂຄງການຂອງທ່ານເພື່ອຂໍຄວາມຊ່ວຍເຫຼືອ. NREL 
        ບໍ່ສາມາດດຶງມັນມາໃຫ້ທ່ານໄດ້ ເນື່ອງຈາກພວກເຮົາບໍ່ມີ. ຄວາມສາມາດໃນການຈັບຄູ່ token ກັບຜູ້ໃຊ້ສ່ວນບຸກຄົນ.
    </div>
    
    <h3>ຄວາມເປັນສ່ວນຕົວຂອງຂໍ້ມູນ ແລະຄວາມປອດໄພ</h3>
    <p>
    ການວັດແທກລວມທີ່ມາຈາກຮູບແບບການເດີນທາງຈະຖືກເຮັດໃຫ້ຢູ່ໃນ dashboard ສາທາລະນະເພື່ອໃຫ້ຄວາມໂປ່ງໃສຕໍ່ຜົນກະທົບຂອງໂຄງການ. metrics ເຫຼົ່ານີ້ຈະເນັ້ນໃສ່ການສະຫຼຸບຂໍ້ມູນເຊັ່ນ: ການນັບ, ໄລຍະທາງ ແລະໄລຍະເວລາ, ແລະຈະບໍ່ສະແດງສະຖານທີ່ທ່ອງທ່ຽວ ຫຼືເວລາຂອງແຕ່ລະຄົນ.
    </p><p>
    ຂໍ້ມູນດິບຈາກການສຶກສານີ້ຈະມີໃຫ້ພຽງແຕ່:
    <ul>
        <li> 🧑 ຜູ້ບໍລິຫານໂຄງການຈາກ {{ui_config.intro.deployment_partner_name}} to {{template_text.raw_data_use}}, and
        <li> 💻 ຜູ້ພັດທະນາ NREL OpenPATH ສຳລັບການດີບັກ.
    </ul>
    </p><p>
        ຂໍ້ມູນທີ່ເກັບກຳໄດ້ຈະຖືກເກັບໄວ້ໃນກຸ່ມຂະໜາດກາງທີ່ຮັບຮອງຈາກ FEDRAMP ຢູ່ທີ່ NREL ແລະເຂົ້າລະຫັດທັງໃນການຜ່ານແດນ 
        ແລະໃນທີ່ເຫຼືອ. ຂໍ້ມູນຈາກການສຶກສານີ້ຈະຖືກເກັບໄວ້ແຍກຕ່າງຫາກຈາກຂໍ້ມູນການສຶກສາອື່ນໆໂດຍການນໍາໃຊ້ OpenPATH ເວີຊັນ 
        NREL-hosted. ເວທີ <a href="https://nrel.gov/tsdc">on the
    website</a> and in <a href="http://www.sciencedirect.com/science/article/pii/S2352146515002999">this publication</a> and <a href="https://www.nrel.gov/docs/fy18osti/70723.pdf">fact sheet</a>.
    </p>
    
    <h3>ສິດທິຂອງທ່ານ</h3>
    <p>
    <div ng-if="ui_config.intro.app_required">
    ທ່ານຖືກກໍານົດໃຫ້ຕິດຕາມຮູບແບບການເດີນທາງຂອງທ່ານໂດຍໃຊ້ App ເປັນເງື່ອນໄຂຂອງ
    ການມີສ່ວນຮ່ວມໃນໂຄງການ. ຖ້າທ່ານຕ້ອງການຖອນຕົວອອກຈາກໂຄງການ, ທ່ານ
    ຄວນຕິດຕໍ່ຜູ້ບໍລິຫານໂຄງການ, {{ui_config.intro.program_admin_contact}} ເພື່ອປຶກສາຫາລືກ່ຽວກັບທາງເລືອກການຢຸດເຊົາ. ຖ້າ​ເຈົ້າ
    ຕ້ອງການຢູ່ໃນໂຄງການແຕ່ບໍ່ໄດ້ໃຊ້ app, ກະລຸນາຕິດຕໍ່ໂຄງການຂອງທ່ານ ຜູ້ບໍລິຫານເພື່ອເຈລະຈາຂັ້ນຕອນການເກັບກຳຂໍ້ມູນທາງເລືອກກ່ອນ
    ຖອນການຕິດຕັ້ງແອັບຯ. ຖ້າ​ຫາກ​ທ່ານ​ຖອນ​ການ​ຕິດ​ຕັ້ງ app ໂດຍ​ບໍ່​ມີ​ການ​ອະ​ນຸ​ມັດ​ຈາກ​ 
    ຜູ້ບໍລິຫານໂຄງການ, ທ່ານອາດຈະບໍ່ມີການເຂົ້າເຖິງຜົນປະໂຫຍດທີ່ສະຫນອງໃຫ້ໂດຍ ໂຄງການ.
    </div>
    <div ng-if="!ui_config.intro.app_required">
    ການມີສ່ວນຮ່ວມໃນ {{ui_config.intro.program_or_study}} ແມ່ນສົມບູນ
    ສະໝັກໃຈ. ທ່ານມີສິດທີ່ຈະປະຕິເສດການເຂົ້າຮ່ວມ ຫຼືຖອນຕົວໃນເວລາໃດກໍ່ຕາມ
    ຈຸດໃນການສຶກສາໂດຍບໍ່ມີການແຈ້ງໃຫ້ NREL ຫຼືຈຸດຕິດຕໍ່. ຖ້າ
    ທ່ານບໍ່ຕ້ອງການທີ່ຈະເຂົ້າຮ່ວມໃນການສຶກສາຫຼືຢຸດເຊົາການຂອງທ່ານ
    ການມີສ່ວນຮ່ວມໃນການສຶກສາ, ກະລຸນາລຶບ App.
    </div>
    </p><p>
    ຖ້າທ່ານຕ້ອງການໃຫ້ຂໍ້ມູນຂອງທ່ານຖືກທໍາລາຍ, ກະລຸນາຕິດຕໍ່ K. Shankari
    (<a href="mailto:k.shankar@nrel.gov">k.shankari@nrel.gov</a>) ຮ້ອງຂໍການລຶບ.
    ທ່ານຕ້ອງລວມ token ຂອງທ່ານໃນຄໍາຮ້ອງຂໍການລຶບ. ເນື່ອງຈາກວ່າພວກເຮົາບໍ່
    ເຊື່ອມຕໍ່ຕົວຕົນຂອງທ່ານກັບ token ຂອງທ່ານ, ພວກເຮົາບໍ່ສາມາດລຶບຂໍ້ມູນຂອງທ່ານໄດ້
    ໂດຍບໍ່ມີການໄດ້ຮັບ token ເປັນສ່ວນຫນຶ່ງຂອງຄໍາຮ້ອງຂໍການລຶບ. ພວກເຮົາຈະຫຼັງຈາກນັ້ນ
    ທໍາລາຍຂໍ້ມູນທັງຫມົດທີ່ກ່ຽວຂ້ອງກັບຄໍາຮ້ອງຂໍການລຶບນັ້ນ, ທັງຢູ່ໃນອອນໄລນ໌ແລະ ຊຸດຂໍ້ມູນທີ່ເກັບໄວ້.
    </p>
    
    <h3>ຄຳຖາມ</h3>
    ຖ້າທ່ານມີຄໍາຖາມໃດໆກ່ຽວກັບເປົ້າຫມາຍການເກັບກໍາຂໍ້ມູນແລະຜົນໄດ້ຮັບ, ກະລຸນາ
    ຕິດ​ຕໍ່​ພົວ​ພັນ​ຕົ້ນ​ຕໍ​ຂອງ​ການ​ສໍາ​ລັບ​ການ​ສຶກ​ສາ​,
    {{ui_config.intro.program_admin_contact}}. ຖ້າທ່ານມີຄໍາຖາມດ້ານວິຊາການໃດໆ
    ກ່ຽວ​ກັບ​ການ​ດໍາ​ເນີນ​ງານ app​, ກະ​ລຸ​ນາ​ຕິດ​ຕໍ່​ຫາ K. Shankari ຂອງ NREL (k.shankari@nrel.gov​)​.
    
    
    <h3>ຂ້ອຍຍອມຮັບ</h3>
    ກະລຸນາເລືອກປຸ່ມຂ້າງລຸ່ມນີ້ເພື່ອຊີ້ບອກວ່າທ່ານໄດ້ອ່ານ ແລະຕົກລົງເຫັນດີກັບເລື່ອງນີ້
    ນະໂຍບາຍຄວາມເປັນສ່ວນຕົວ, ຍິນຍອມທີ່ຈະເກັບກໍາຂໍ້ມູນຂອງທ່ານ, ແລະຕ້ອງການທີ່ຈະ
    ເຂົ້າຮ່ວມໃນ {{ui_config.intro.program_or_study}}.
    </div>
    