<details>
<summary><h4 ng-class="overallLocStatusClass"> Location {{overallLocStatusIcon}} </h4></summary>

We need this this sensor to read your location data and automatically generate
a trip log that is displayed to you for annotation. We need the background
location permission to track your location in the background, even when the app
is closed. This makes the app easier to use and saves battery since you don't
have to remember to start and stop trip recording.
<ion-list>
<ion-item ng-repeat="locCheck in locChecks">
    <div class="row">
        <div class="col-90" ng-class="locCheck.statusClass">{{locCheck.name}}</div>
        <div class="col-10">{{locCheck.statusIcon}}</div>
    </div>
    <div class="row item-text-wrap">{{locCheck.desc}}</div>
    <div class="row">
        <button class="button button-icon" ng-click="locCheck.fix()">Fix</button>
        <button class="button button-icon" ng-click="locCheck.refresh()">Refresh</button>
    </div>
</ion-item>
</ion-list>
</details>

<div ng-if="fitnessPermNeeded">
<details>
<summary><h4 ng-class="overallFitnessStatusClass"> Motion and Fitness {{overallFitnessStatusIcon}} </h4></summary>
The fitness sensors distinguish between walking, bicycling and motorized modes.
We use this data in order to separate the parts of multi-modal travel such as
transit. 
<ion-list>
<ion-item ng-repeat="fitnessCheck in fitnessChecks">
    <div class="row">
        <div class="col-90" ng-class="fitnessCheck.statusClass">{{fitnessCheck.name}}</div>
        <div class="col-10">{{fitnessCheck.statusIcon}}</div>
    </div>
    <div class="row item-text-wrap">{{fitnessCheck.desc}}</div>
    <div class="row">
        <button class="button button-icon" ng-click="fitnessCheck.fix()">Fix</button>
        <button class="button button-icon" ng-click="fitnessCheck.refresh()">Refresh</button>
    </div>
</ion-item>
</ion-list>
</details>
</div>

<details>
<summary><h4 ng-class="overallNotificationStatusClass"> Notifications {{overallNotificationStatusIcon}}</h4></summary>
We need to use notifications to inform you if the settings are incorrect. We also use notifications to remind you to label your trips.
<ion-list>
<ion-item ng-repeat="notificationCheck in notificationChecks">
    <div class="row">
        <div class="col-90" ng-class="notificationCheck.statusClass">{{notificationCheck.name}}</div>
        <div class="col-10">{{notificationCheck.statusIcon}}</div>
    </div>
    <div class="row item-text-wrap">{{notificationCheck.desc}}</div>
    <div class="row">
        <button class="button button-icon" ng-click="notificationCheck.fix()">Fix</button>
        <button class="button button-icon" ng-click="notificationCheck.refresh()">Refresh</button>
    </div>
</ion-item>
</ion-list>
</details>

<details>
<summary><h4 ng-class="overallBackgroundRestrictionStatusClass"> Background restrictions {{overallBackgroundRestrictionIcon}} </h3> </summary>

The app runs in the background most of the time to make your life easier. You
only need to open it periodically to label trips. Android sometimes restricts
apps from working in the background. This prevents us from generating an
accurate trip diary. Please remove background restrictions on this app.

<ion-list>
<ion-item ng-repeat="backgroundRestrictionCheck in backgroundRestrictionChecks">
    <div class="row">
        <div class="col-90" ng-class="backgroundRestrictionCheck.statusClass">{{backgroundRestrictionCheck.name}}</div>
        <div class="col-10">{{backgroundRestrictionCheck.statusIcon}}</div>
    </div>
    <div class="row item-text-wrap">{{backgroundRestrictionCheck.desc}}</div>
    <div class="row">
        <button class="button button-icon" ng-click="backgroundRestrictionCheck.fix()">Fix</button>
        <button class="button button-icon" ng-click="backgroundRestrictionCheck.refresh()">Refresh</button>
    </div>
</ion-item>
</ion-list>
</details>

</div>

