/*
  If you make changes to these styles, run:
  npx sass www/js/survey/enketo/enketoStyles.scss www/js/survey/enketo/enketoStyles.css
  to regenerate the CSS file (used by EnketoModal).
*/

/* Scoped styles for Enketo */
/* if we don't contain them here, they will leak into the rest of the app */
.enketo-plugin {
  // Enketo's default theme uses orange; we can override with our own blue
  $primary: #0080b9; // matches 'primary' in appTheme.ts
  $brand-primary-color: darken($primary, 5%); // make it a bit darker for legibility in Enketo UI
  @import '../../../../node_modules/enketo-core/src/sass/formhub/formhub.scss';
  flex: 1;
  font-family: 'OpenSans', Arial, sans-serif;
  .form-header {
    max-height: 50px;
  }
  .question.non-select {
    display: inline-block;
  }
  .question input[name$='Start_date'],
  .question input[name$='Start_time'],
  .question input[name$='End_date'],
  .question input[name$='End_time'] {
    width: calc(40vw - 10px);
    margin-right: 5px;
    display: flex;
  }
}
