<div>
    <div class="start-time-tag-diarytoremove">{{tripgj.display_start_time}}</div>
    <div  style="padding-left: 19%;">

    <ion-item id="diary-item" style="background-color: transparent;" class="list-item">
        <div ng-class="listExpandClass" ng-if="tripgj.common.different" id="hidden-{{tripgj.data.id}}">
            {{tripgj.common.displayEarlierOrLater}}
        </div>


        <div id="diary-card" ng-class="tripgj.listCardClass" ng-style="{height: '{{itemHt}}px'}">
        <div>
        <!-- <i class="icon ion-ios-star" style="font-size: 24px; position: absolute; right: 5px; top: 5px; color: {{ starColor(tripgj.common.count) }};"></i> -->

        <div class="row" ng-click="toDetail(tripgj.data.id)">
            <div ng-class="tripgj.common.listColLeftClass">
                <p ng-class="listTextClass" style="font-size: 0.8em; line-height: 1em; margin-bottom: 0;" translate=".distance-in-time" translate-value-distance="{{ tripgj.display_distance }}" translate-value-distsuffix="{{ tripgj.display_distance_suffix }}" translate-value-time="{{ tripgj.display_time }}"></p>

                <a style="font-size: 0.6em; line-height: 0.6em; color: {{tripgj.common.arrowColor}};"><i class="{{ tripgj.common.arrowClass }}" style="font-size: 1em; color: {{ tripgj.common.arrowColor }};"></i>{{ tripgj.common.longerOrShorter[1] }}</a>
            </div>

            <div ng-class="listColRightClass">
                <div ng-if="!tripgj.isDraft">
                    <i class="{{sectionPct.icon}}" ng-repeat="sectionPct in tripgj.percentages" style="font-size: 0.9em; margin-left: 0.4em; margin-right: 1em; margin-top: 0.2em;" ng-style="{{sectionPct.color}}"></i>
                    <div style="margin-top: -5px;">
                        <a ng-class="listTextClass" ng-repeat="sectionPct in tripgj.percentages" style="font-size: 0.6em; margin-right: 0.4em;">{{sectionPct.pct}}%</a>
                    </div>
                </div>
                <button ng-if="tripgj.isDraft" class="button bg-unprocessed button-outline button-dark button-small icon-right ion-loop" ng-click="explainDraft($event)" style="font-size: 0.6em; margin-right: 0.4em" translate> {{'.draft'}} </button>
            </div>
        </div>

        <div class="row diary-arrow-container" ng-click="toDetail(tripgj.data.id)">
            <leaflet class="col-90" geojson="tripgj" id="map_{{tripgj.data.id}}" defaults="defaults" height="100px"></leaflet>
            <!-- Height needs to be specified directly in the HTML not in CSS otherwise
            zoom doesn't work. Mystery!! -->
            <button class="col-10 ion-ios-arrow-right"></button>
        </div>
        <!-- Don't go to the detail screen below this because that's
            where we have the confirm button -->
        <div style="padding: 0.5em;" class="row">
            <div class="col-90 start-end-addresses-container">
                <!-- Fixed font size issue here by adding the style to the second ng-class. -->
                <div ng-class="listLocationClass" id="no-border" href="#" style="background-color: transparent; font-size: 0.8em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
                <i class="icon ion-location" style="font-size: 16px; left: 0; color: #80D0FF;"></i>
                        {{tripgj.start_place.properties.display_name.split(',')[0]}}

                </div>
                <div ng-class="listLocationClass" id="no-border" href="#" style="background-color: transparent; font-size: 0.8em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
                <i class="icon ion-flag" style="font-size: 16px; left: 0; color: #0088ce;"></i>
                        {{tripgj.end_place.properties.display_name.split(',')[0]}}
                </div>
            </div>
            <div class="col-10 center-vert center-horiz">
                <verifycheck linkedtag="{{surveyOpt.elementTag}}" class="row"></verifycheck>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 5px;padding-right: 5px;">
    <linkedsurvey element-tag="{{surveyOpt.elementTag}}" class="col" trip="tripgj"></linkedsurvey>
    </div>
    </div>
    </ion-item>

    </div>
    <div class="stop-time-tag-diarytoremove">{{tripgj.display_end_time}}</div>
</div>