<ion-view>
    <ion-nav-title>{{ trip.display_date }}</ion-nav-title>
    <ion-content class="has-header diary-details" ng-class="{draft: trip.key.includes('UNPROCESSED')}" overflow-scroll="true" padding="true">
        <div class="row" style="">
            <div class="col-30">
                <div style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;">{{trip.display_start_time}}</div>
                <div style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;">{{trip.display_end_time}}
                </div>
            </div>

            <div class="col-70">
                <div class="diary-street two-lines" style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;padding-left: 25px; margin-top: 0; margin-bottom: 0">
                    <i class="icon ion-location"></i>
                    {{trip.start_display_name}}
                </div>
                <div class="diary-street two-lines" style="font-size: 1em; padding-top: 5px; padding-bottom: 5px;padding-left: 25px; margin-top: 0; margin-bottom: 0">
                    <i class="icon ion-flag"></i>
                    {{trip.end_display_name}}
                </div>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <leaflet-view geojson="trip.geojson" style="height: 50%; width: 100%; display: block; position: relative"></leaflet-view>
        <div style="height: 15px;"></div>
        <div class="row" style="padding-top: 10px !important; padding-bottom: 10px !important; padding-left: 20px !important; padding-right: 20px !important;">
            <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em; font-weight: thin;">
                <p style="font-size: 1.1em; color: #cccccc; margin-bottom: 0;" ng-i18next>
                    {{'diary.distance'}}
                </p>
                {{trip.display_distance}} {{trip.display_distance_suffix}}
            </div>
            <div class="col" style="width: 30%; margin-top: 0; font-size: 1.1em; font-weight: thin;">
                <p style="font-size: 1.1em; color: #cccccc; margin-bottom: 0;" ng-i18next>
                    {{'diary.time'}}
                </p>
                {{trip.display_time}}
            </div>
            <div id="sectionPct" class="col">
              <i class="{{sectionPct.icon}}" ng-repeat="sectionPct in trip.percentages" style="margin-left: 10px; margin-right: 10px; font-size: 15px;" ng-style="{{sectionPct.color}}"></i>
              <br>
              <a ng-repeat="sectionPct in trip.percentages" style="font-size: 10px; margin-left: 10px; margin-right: 10px;">{{sectionPct.pct}}%</a>
            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="row" style="margin-top: 0px">
            <!-- Assumes that the trip labels have already been
                filled in outside the directive to filter properly
                e.g. https://github.com/e-mission/e-mission-docs/issues/674#issuecomment-933083710
            -->
            <linkedsurvey element-tag="{{surveyOpt.elementTag}}" id="infscroll-detail-labels"
                recomputedelay=2 class="col-90" timeline-entry="trip"></linkedsurvey>
            <verifycheck linkedtag="{{surveyOpt.elementTag}}" linkedid="infscroll-detail-labels"
                class="col-10 diarycheckmark-container center-vert center-horiz" style="padding-left: 10px"></verifycheck>
        </div>
        <div style="height: 20px;"></div>
         <div ng-if="trip.sections.length > 1" id="sectionList" class="col">
              <div class="row" ng-repeat="sectionFmt in formattedSectionProperties" style="padding: 2px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #eeeeee; margin-top: 15px;">
                    <div class="col" style="font-size: 15px;line-height: 15px; margin-left:20px;">
                        <p style="margin-bottom: 0; font-weight: 500;">{{sectionFmt.fmt_time}}</p>
                        <p>{{sectionFmt.fmt_time_range}}</p>
                    </div>
                    <div class="col" style="font-size: 22px;">
                        {{sectionFmt.fmt_distance}} {{sectionFmt.fmt_distance_suffix}}
                    </div>
                  <div class="col" style="text-align: center"><i class="{{sectionFmt.icon}}", style="font-size: 25px; color: {{sectionFmt.color}}"></i></div>
              </div>
          </div>
        <div id="chart">
            <svg></svg>
        </div>
        <div style="" class="button-bar">
            <button class="button button-stable button-block icon ion-refresh"
                ng-click="refreshMap()" ng-i18next>{{'map-refresh'}}</button>
            <button class="button button-stable button-block"
                ng-click="refreshTiles()" ng-i18next>{{'map-fixmap'}}</button>
        </div>
    </ion-content>
</ion-view>
