<ion-view class="ion-view-background" translate-namespace="diary">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-nav-buttons side="left" id="toget" class="row buttons">
        <button class="button button-icon" ng-click="increaseHeight()">
            <i class="icon ion-arrow-resize"></i>
        </button>
        <div class="filter-select-wrapper">
            <select ng-if="filterInputs" ng-model="selFilter" ng-change="updateFilterSel(selFilter)">
                <option ng-repeat="filter in filterInputs" value="{{filter.key}}">
                    {{filter.text | translate}}
                    {{filter.state && data.displayTrips ?
                        '(' + data.displayTrips.length + '/' + data.allTrips.length + ')' : ''}}
                </option>
                <option value="show-all">
                    {{'diary.show-all' | translate}} ({{data.allTrips.length}})
                </option>
            </select>
            <!-- if there are no filter inputs, just show "All Trips" and disable the select -->
            <select ng-if="!filterInputs" style="appearance: button; -webkit-appearance: button; pointer-events: none">
                <option value="show-all" translate>
                    {{'.show-all'}}
                </option>
            </select>
        </div>
        <div class="date-input-wrapper" data-text="{{infScrollControl.selRangeText}}">
            <input type="date" ng-model="infScrollControl.selectedDay" ng-change="loadWeekOfSelectedDay()"
                min="{{infScrollControl.pipelineRange.start_date}}" max="{{infScrollControl.pipelineRange.end_date}}">
            <hr class="date-input-divider" />
        </div>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <ng-controller ng-controller="PermissionCheckControl"></ng-controller>
        <button class="button button-icon" ng-click="refresh()">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>
	<ion-content class="diary-entry">

        <div style="padding: 5px; font-size: 13px;">
            <!-- TODO: remove this if we're sure we don't need it -->
            <!-- <div class="control-list-text">
                <span translate="diary.filter-display-status" translate-values="{displayTripsLength: data.displayTrips.length, allTripsLength: data.allTrips.length}"></span>
                <span ng-if="data.allTrips.length > 0" translate="diary.filter-display-range" translate-values="{currentEnd: infScrollControl.oldestLoadedTs * 1000, currentStart: infScrollControl.latestLoadedTs * 1000}"></span>
            </div> -->
        </div>

		<ion-list>
            <div collection-repeat="entry in data.listEntries" item-height="getCardHeight(entry)">
                <button ng-if="entry=='header'" ng-click="loadMoreTrips('past')" class="load-more-btn">{{infScrollControl.reachedPipelineStart ? '{No Previous Trips}' : '{Load Previous Week}'}}</button>
                <infinite-scroll-trip-item ng-if="entry.origin_key.includes('trip')" trip="entry" config="ui_config"></infinite-scroll-trip-item>
                <infinite-scroll-place-item ng-if="entry.origin_key.includes('place')" place="entry" config="ui_config"></infinite-scroll-place-item>
                <infinite-scroll-untracked-time-item ng-if="entry.origin_key.includes('untracked')" triplike="entry"></infinite-scroll-untracked-time-item>
                <button ng-if="entry=='footer'" ng-click="loadMoreTrips('future')" class="load-more-btn">{{infScrollControl.reachedPipelineEnd ? '{No New Trips}' : '{Load Next Week}'}}</button>
            </div>
        </ion-list>
	</ion-content>
</ion-view>
