<ion-view ng-class="ion-view-background" translate-namespace="diary">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-nav-buttons side="left" id="toget" class="row buttons">
        <button class="button button-icon ion-help walkthrough-button" ng-click="startWalkthrough()" style="padding-right: 0"></button>
        <div class="row buttons labelfilterlist">
            <button ng-repeat="selF in filterInputs" ng-click="select(selF)" class="{{selF.width}} button labelfilter" ng-class="{on:selF.state}" style="text-align: center;font-size: 13px;font-weight: 600; font-family: 'Lato'; border-radius: 10px;" translate>
                {{selF.text}}
            </button>
            <button ng-click="resetSelection()" class="col-33 button labelfilter last" ng-class="{on:allTrips}" style="text-align: center;font-size: 13px;font-weight: 600; font-family: 'Lato'; border-radius: 10px;" translate>
                {{'.show-all'}}
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="refresh()">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>
	<ion-content class="diary-entry">

        <div class="control-list-item row">
            <div class="control-list-text col">
                <div class="row" translate="diary.filter-display-status" style="font-family: 'Lato'" translate-values="{displayTripsLength: data.displayTrips.length, allTripsLength: data.allTrips.length}"></div>
                <div ng-if="data.allTrips.length > 0" class="row" style="font-family: 'Lato'" translate="diary.filter-display-range" translate-values="{currentStart: data.allTrips.slice(-1)[0].start_ts * 1000, currentEnd: infScrollControl.currentEnd * 1000}"></div>
            </div>
            <div ng-click="readDataFromServer()" ng-if="!infScrollControl.reachedEnd" id="gray" class="control-icon-button"><i class="ion-ios-download"></i></div>
            <div ng-if="infScrollControl.reachedEnd" id="green" class="control-icon-button"><i class="ion-checkmark"></i></div>
        </div>

		<ion-list>
		<div ng-repeat="trip in data.displayTrips">
            <div>

                <div ng-show="$index==0">
                    <h2 class="hr-lines" translate> {{trip.display_date}}</h2>
                </div>

                <infinite-scroll-trip-item trip="trip"></infinite-scroll-trip-item>
                
                <div ng-if="trip.display_date != trip.nextTrip.display_date && trip.nextTrip.display_date != undefined">
                    <h2 class="hr-lines" translate> {{trip.nextTrip.display_date}} </h2>
                </div>

            </div>
        </div>

        <!-- To Handle the last diary card not being in full view-- To see end_time of the final diary card, you have to hold the scroll up. This resolves that. -->
        <div style="font-size: 50px; color: transparent;">SPACE</div>
        </ion-list>
	</ion-content>
</ion-view>
