<ion-view ng-class="ion-view-background" translate-namespace="diary">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-nav-buttons side="left" id="toget" class="row buttons">
        <button class="button button-icon" ng-click="increaseHeight()">
            <i class="icon ion-arrow-resize"></i>
        </button>
        <div class="row buttons labelfilterlist">
            <button ng-repeat="selF in filterInputs" ng-click="select(selF)" class="{{selF.width}} button labelfilter" ng-class="{on:selF.state}" style="text-align: center;font-size: 13px;font-weight: 600; border-radius: 10px;" translate>
                {{selF.text}}
            </button>
            <button ng-click="resetSelection()" class="col-33 button labelfilter last" ng-class="{on:allTrips}" style="text-align: center;font-size: 13px;font-weight: 600; border-radius: 10px;" translate>
                {{'.show-all'}}
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="refresh()">
            <i class="icon ion-refresh"></i>
        </button>
    </ion-nav-buttons>
	<ion-content class="diary-entry">

        <div class="control-list-item row">
            <div class="control-list-text col">
                <div class="row" translate="diary.filter-display-status" translate-values="{displayTripsLength: data.displayTrips.length, allTripsLength: data.allTrips.length}"></div>
                <div ng-if="data.allTrips.length > 0" class="row" translate="diary.filter-display-range" translate-values="{currentStart: data.allTrips.slice(-1)[0].start_ts * 1000, currentEnd: infScrollControl.currentEnd * 1000}"></div>
            </div>
            <div ng-click="readDataFromServer()" ng-if="!infScrollControl.reachedEnd" id="gray" class="control-icon-button"><i class="ion-ios-download"></i></div>
            <div ng-if="infScrollControl.reachedEnd" id="green" class="control-icon-button"><i class="ion-checkmark"></i></div>
        </div>

		<ion-list>
            <div collection-repeat="entry in data.displayTimelineEntries" item-height="getCardHeight(entry)">
                <infinite-scroll-trip-item ng-if="entry.key.includes('trip')" trip="entry" config="ui_config"></infinite-scroll-trip-item>
                <infinite-scroll-place-item ng-if="entry.key.includes('place')" place="entry" config="ui_config"></infinite-scroll-place-item>
                <infinite-scroll-untracked-time-item ng-if="entry.key.includes('untracked')" triplike="entry"></infinite-scroll-untracked-time-item>
            </div>
        </ion-list>
	</ion-content>
</ion-view>
