<ion-view view-title="Trips" class="ion-view-background" translate-namespace="diary">

  <ion-content class="diary-entry">

    <ion-refresher
      pulling-text="{{'pull-to-refresh' | translate}}"
      on-refresh="refresh()">
    </ion-refresher>

    <!--
    <div  ng-if="inTrip()" class="control-list-item">
        <div class="control-list-text">Current Trip</div>
        <div ng-click="redirect()" id="gray" class="control-icon-button"><i class="ion-ios-arrow-right"></i></div>
    </div>
    -->

    <!-- date selection -->
    <div>
      <div class="item item-divider">
        <div class="buttons dark-color" style="text-align:center; background-color: transparent !important;" id="toget">
          <button class="button button-icon icon ion-arrow-left-b date-picker-arrow" ng-click="prevDay()">
          </button>
          <button id="date-picker-button" class="button date-picker-button" ng-click="pickDay()"> {{currDay}}</button>
          <button class="button button-icon icon ion-arrow-right-b ion-arrow-left-b date-picker-arrow"
                  ng-click="nextDay()">
          </button>
        </div>
      </div>
    </div>


    <ion-list>

      <!--
      This needs to be collection-repeat instead of ng-repeat on android.
      Otherwise, you can only scroll using the sidebar, scrolling on the map side does not work.
      I have no clue why this happens, but it is not worth it to understand
      this deeply. It is not purely a leaflet issue, but it also clearly something to
      do with leaflet because scrolling on the details part does work.

      If you want to change this from collection-repeat to ng-repeat, you
      MUST test on android first to make sure that the scrolling works.
      -->
      <!--
      <ion-item item-height="335px" class="diary-item list-item" collection-repeat="tripgj in data.currDayTripWrappers">
            <div class="start-time-tag">{{tripgj.display_start_time}}</div>

            <div ng-class="listExpandClass" ng-if="tripgj.common.different" id="hidden-{{tripgj.data.id}}">
              {{tripgj.common.displayEarlierOrLater}}
            </div>


            <div id="diary-card" ng-class="tripgj.listCardClass" ng-style="{height: '335px'}">
              <div ng-click="toDetail(tripgj.data.id)">
                <!-- <i class="icon ion-ios-star" style="font-size: 24px; position: absolute; right: 5px; top: 5px; color: {{ starColor(tripgj.common.count) }};"></i> -->
<!--
                <div class="row">
                  <div ng-class="tripgj.common.listColLeftClass">
                    <p ng-class="listTextClass" style="font-size: 0.8em; line-height: 1em; margin-bottom: 0;"
                       translate=".distance-in-time" translate-value-distance="{{ tripgj.display_distance }}"
                       translate-value-time="{{ tripgj.display_time }}"></p>

                    <a style="font-size: 0.6em; line-height: 0.6em; color: {{tripgj.common.arrowColor}};"><i
                      class="{{ tripgj.common.arrowClass }}"
                      style="font-size: 1em; color: {{ tripgj.common.arrowColor }};"></i>{{
                      tripgj.common.longerOrShorter[1] }}</a>
                  </div>

                  <div ng-class="listColRightClass">
                    <div ng-if="!tripgj.isDraft">
                      <i class="{{mode}}" ng-repeat="mode in tripgj.percentages[0]"
                         style="font-size: 0.9em; margin-left: 0.4em; margin-right: 1em; margin-top: 0.2em;"
                         ng-style="setColor(mode)"></i>
                      <div style="margin-top: -5px;">
                        <a ng-class="listTextClass" ng-repeat="percentage in tripgj.percentages[1]"
                           style="font-size: 0.6em; margin-right: 0.4em;">{{percentage}}%</a>
                      </div>
                    </div>
                    <button ng-if="tripgj.isDraft"
                            class="button bg-unprocessed button-outline button-dark button-small icon-right ion-loop"
                            ng-click="explainDraft($event)" style="font-size: 0.6em; margin-right: 0.4em" translate>
                      {{'.draft'}}
                    </button>
                  </div>
                </div>

                <leaflet geojson="tripgj" id="$index" defaults="defaults"></leaflet>
                <div style="padding: 0.5em;">
                  <div class="start-end-addresses-container">
                    <div ng-class="listLocationClass" id="no-border" href="#"
                         style="background-color: transparent; font-size: 0.8em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
                      <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #33e0bb;"></i>
                      {{tripgj.start_place.properties.display_name.split(',')[0]}}
                    </div>
                    <div ng-class="listLocationClass" id="no-border" href="#">
                      <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #ff5251;"></i>
                      {{tripgj.end_place.properties.display_name.split(',')[0]}}
                    </div>
                  </div>
                  <div class="diary-arrow-container">
                    <i class="ion-ios-arrow-right"></i>
                  </div>
                </div>
              </div>
              <div class="row" style="padding-left: 5px;padding-right: 5px;">
                <div class="col-50" style="text-align: center;font-size: 14px;font-weight: 600;" translate>
                  {{'.mode'}}
                </div>
                <div class="col-50" style="text-align: center;font-size: 14px;font-weight: 600;" translate>
                  {{'.purpose'}}
                </div>
              </div>
              <div class="row" style="padding-left: 5px;padding-right: 5px;">
                <div class="col-50" style="text-align: center;">
                  <div ng-if="tripgj.usermode" class="mode-confirm-container">
                    <button ng-click="openModePopover($event, tripgj)"
                            class="button btn-mode-confirm btn-mode-confirm-green">
                      {{tripgj.usermode.text}}
                    </button>
                  </div>
                  <div ng-if="!tripgj.usermode" class="mode-confirm-container">
                    <button ng-click="openModePopover($event, tripgj)"
                            class="button btn-mode-confirm btn-mode-confirm-white" translate>
                      {{'.choose-mode'}}
                    </button>
                  </div>
                </div>
                <div class="col-50" style="text-align: center;">
                  <div ng-if="tripgj.userpurpose" class="purpose-confirm-container">
                    <button ng-click="openPurposePopover($event, tripgj)"
                            class="button btn-purpose-confirm btn-purpose-confirm-green">
                      {{tripgj.userpurpose.text}}
                    </button>
                  </div>
                  <div ng-if="!tripgj.userpurpose" class="purpose-confirm-container">
                    <button ng-click="openPurposePopover($event, tripgj)"
                            class="button btn-purpose-confirm btn-purpose-confirm-white" translate>
                      {{'.choose-purpose'}}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div ng-class="tripgj.common.stopTimeTagClass">{{tripgj.display_end_time}}</div>

          </ion-item>
-->

      <ion-item collection-repeat="tripgj in data.currDayTripWrappers" style="padding-top: 32px;">

        <!-- fancy line on the left -->
        <div class="diary-timeline" style="height: calc(100% - 71px); width: 2px; position: absolute; left: 16px;">
          &nbsp;
        </div>

        <!-- container for rest of the container -->
        <div class="diary-item-content">

          <div class="row" style="margin-top: -20px;">
            <div class="col col-25">
              <div class="start-time-tag">{{tripgj.display_start_time}}</div>
            </div>
            <div class="col">
              <h2>{{tripgj.start_place.properties.display_name.split(',')[0]}}</h2>
            </div>
          </div>

          <!-- the actual map or more so the container in which leaflet will initialize the map -->
          <div class="row" style="padding-bottom: 0;">
            <div class="col">
              <leaflet geojson="tripgj" id="$index" defaults="defaults"></leaflet>
            </div>
          </div>

          <div class="row">
            <div class="col" style="border-right: 1px solid black;">
              <div class="item item-avatar">
                <img src="img/distance.png">
                <h6>{{ tripgj.display_distance }} km</h6>
                <p>DISTANCE</p>
              </div>
            </div>
            <div class="col">
              <div class="item item-avatar">
                <img src="img/stopwatch.png">
                <h6>{{ tripgj.display_time }}</h6>
                <p>TIME</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col" style="border-top: 1px solid black;">
            </div>
          </div>

          <form>
            <div class="row">
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="day-details" checked>
                <label class="radio-pill-button" for="day-details">
                  <img src="img/modes/car-front.png" height="16px"> Car
                </label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="week-details">
                <label class="radio-pill-button" for="week-details">Walk</label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="month-details">
                <label class="radio-pill-button" for="month-details">Bike</label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="year-details">
                <label class="radio-pill-button" for="year-details">Scooter</label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="all-details">
                <label class="radio-pill-button" for="all-details">Public Transport</label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="train">
                <label class="radio-pill-button" for="train">Train</label>
              </div>
              <div class="col text-center">
                <input type="radio" name="timeframe-details" id="plain">
                <label class="radio-pill-button" for="plain">Plain</label>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col col-25">
              <div class="stop-time-tag">{{tripgj.display_end_time}}</div>
            </div>
            <div class="col">
              {{tripgj.end_place.properties.display_name.split(',')[0]}}
            </div>
          </div>

        </div>

      </ion-item>


    </ion-list>
  </ion-content>


</ion-view>
