<div ng-if="configPlaceNotes">
    <!-- Place Item Template  -->
    <ion-item class="unified-diary-item" style="background-color: transparent;" class="list-item">
        <div class="diary-card short" style="padding-block: 12px">
            <div class="start-time-tag">
                <b>{{place.display_start_time}}</b>
                <i ng-if="place.display_start_date_abbr">&nbsp;({{place.display_start_date_abbr}})</i>
            </div>
            <div style="width: 100%; margin: auto">
                <div class="row" style="font-size: 12px; place-content: center; padding: 8px">
                    <b class="card-date">{{place.display_date}}</b>
                </div>
                <div class="card-title">
                    <!-- Place (Destination of Prev. Trip) -->
                    <i class="icon ion-location"></i>
                    <b>{{place.display_name}}</b>
                </div>
                <div style="margin: 10px auto; max-width: 150px;">
                    <enketo-add-note-button notes-config="configPlaceNotes" timeline-entry="place"
                        dataKey="manual/place_addition_input" style="margin: auto">
                    </enketo-add-note-button>
                </div>
                <enketo-notes-list ng-if="place.additionsList.length" timeline-entry="place" addition-entries="place.additionsList"></enketo-notes-list>
            </div>
            <div class="stop-time-tag">
                <b>{{place.display_end_time}}</b>
                <i ng-if="place.display_end_date_abbr">&nbsp;({{place.display_end_date_abbr}})</i>
            </div>
        </div>
    </ion-item>
</div>
