<div ng-if="configPlaceNotes">
    <!-- Place Item Template  -->
    <ion-item class="unified-diary-item" style="background-color: transparent;" class="list-item">
        <!-- Start Time Tag -->
        <!-- <div class="start-time-tag">{{place.display_enter_time}}</div> -->
        <div class="diary-card short" style="padding-top: 10px;">
            <div style="width: 100%; margin: auto; padding-block: 5px">
                <div class="row place-title">
                    <!-- Place (Destination of Prev. Trip) -->
                    <i class="icon ion-location"></i>
                    <b>{{place.display_name}}</b>
                </div>
                <div style="margin: 10px">
                    <enketo-add-note-button notes-config="configPlaceNotes" timeline-entry="place"
                        dataKey="manual/place_addition_input" style="margin: auto">
                    </enketo-add-note-button>
                </div>
                <enketo-notes-list ng-if="place.additionsList.length" timeline-entry="place" addition-entries="place.additionsList"></enketo-notes-list>
            </div>
        </div>
        <!-- End Time Tag -->
        <!-- <div class="stop-time-tag">{{place.display_exit_time}}</div> -->
    </ion-item>
</div>
