<ion-popover-view class="big-popover">
   <ion-content>
        <div class="start-end-addresses-container">
            <div ng-class="listLocationClass" id="no-border" href="#" style="background-color: transparent; font-size: 0.8em; padding-top: 5px; padding-bottom: 5px; padding-left: 30px; margin-top: 0; margin-bottom: 0;">
            <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #33e0bb;"></i>
                    {{currgj.data.properties.start_display_name.split(',')[0]}}

            </div>
            <div ng-class="listLocationClass" id="no-border" href="#">
            <i class="icon ion-ios-location" style="font-size: 16px; left: 0; color: #ff5251;"></i>
                    {{currgj.data.properties.end_display_name.split(',')[0]}}
            </div>
        </div>
        <leaflet geojson="currgj" id="detailPopoverMap" defaults="defaults"></leaflet>
   </ion-content>
</ion-popover-view>
