<div>
    <ion-item class="unified-diary-item" style="background-color: transparent;" class="list-item">
        <div class="diary-card untracked" style="padding-block: 12px">
            <timestamp-badge time="triplike.display_start_time" date="triplike.display_start_date_abbr" light-bg="true"></timestamp-badge>
            <div style="width: 100%; margin: auto">
                <div class="row" style="font-size: 12px; place-content: center; padding: 8px">
                    <b class="card-date">{{triplike.display_date}}</b>
                </div>
                <div class="card-title">
                    <b>
                        {{ 'diary.untracked-time-range' | i18next: {start: triplike.display_start_time, end: triplike.display_end_time} }}
                    </b>
                </div>
                <div style="margin: 5px">
                    <div class="diary-street two-lines" ng-click="showDetail($event, trip)">
                        <i class="icon ion-location" style="font-size: 16px; left: 0"></i>
                        {{triplike.start_display_name}}
                    </div>
                    <div class="diary-street two-lines" ng-click="showDetail($event, trip)">
                        <i class="icon ion-flag" style="font-size: 16px; left: 0"></i>
                        {{triplike.end_display_name}}
                    </div>
                </div>
            </div>
            <enketo-notes-list ng-if="triplike.additionsList.length" timeline-entry="triplike" addition-entries="triplike.additionsList"></enketo-notes-list>
            <timestamp-badge time="triplike.display_end_time" date="triplike.display_end_date_abbr"></timestamp-badge>
        </div>
    </ion-item>
</div>
