{
    "connectUrl": "http://<your laptop ip>:8080",
    "aggregate_call_auth": "no_auth",
    "android": {
        "auth": {
            "method": "prompted-auth",
            "clientID": "ignored"
        }
    },
    "ios": {
        "auth": {
            "method": "prompted-auth",
            "clientID": "ignored"
        }
    }
}
