{
    "connectUrl": "http://<your laptop ip>:8080",
    "android": {
        "auth": {
            "method": "dummy-dev",
            "clientID": "ignored"
        }
    },
    "ios": {
        "auth": {
            "method": "dummy-dev",
            "clientID": "ignored"
        }
    }
}
