{
    "connectUrl": "http://localhost:8080",
    "isSkipAuth": true,
    "android": {
        "googleWebAppClientID": "Get from google, e.g. https://developers.google.com/identity/protocols/OAuth2"
    },
    "ios": {
        "googleClientID": "Get from google, e.g. https://developers.google.com/identity/protocols/OAuth2"
    }
}
