{
  "TripConfirmSurvey": {
    "formPath": "json/trip-end-survey-multiple-select.json",
    "version": 1.2,
    "compatibleWith": 1,
    "dataKey": "manual/trip_user_input"
  },
  "UserProfileSurvey": {
    "formPath": "json/demo-survey-v2.json",
    "version": 1,
    "compatibleWith": 1,
    "dataKey": "manual/demographic_survey"
  }
}
