{
  "MODE": [
    {"value":"walk", "baseMode":"WALKING", "met_equivalent":"WALKING", "kgCo2PerKm": 0},
    {"value":"e-bike", "baseMode":"E_BIKE", "met": {"ALL": {"range": [0, -1], "mets": 4.9}}, "kgCo2PerKm": 0.00728},
    {"value":"bike", "baseMode":"BICYCLING", "met_equivalent":"BICYCLING", "kgCo2PerKm": 0},
    {"value":"bikeshare", "baseMode":"BICYCLING", "met_equivalent":"BICYCLING", "kgCo2PerKm": 0},
    {"value":"scootershare", "baseMode":"E_SCOOTER", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.00894},
    {"value":"drove_alone", "baseMode":"CAR", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.22031},
    {"value":"shared_ride", "baseMode":"CAR", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.11015},
    {"value":"e_car_drove_alone", "baseMode":"E_CAR", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.08216},
    {"value":"e_car_shared_ride", "baseMode":"E_CAR", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.04108},
    {"value":"moped", "baseMode":"MOPED", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.05555},
    {"value":"taxi", "baseMode":"TAXI", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.30741},
    {"value":"bus", "baseMode":"BUS", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.20727},
    {"value":"train", "baseMode":"TRAIN", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.12256},
    {"value":"free_shuttle", "baseMode":"BUS", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.20727},
    {"value":"air", "baseMode":"AIR", "met_equivalent":"IN_VEHICLE", "kgCo2PerKm": 0.09975},
    {"value":"not_a_trip", "baseMode":"UNKNOWN", "met_equivalent":"UNKNOWN", "kgCo2PerKm": 0},
    {"value":"other", "baseMode":"OTHER", "met_equivalent":"UNKNOWN", "kgCo2PerKm": 0}
  ],
  "PURPOSE": [
    {"value":"home"},
    {"value":"work"},
    {"value":"at_work"},
    {"value":"school"},
    {"value":"transit_transfer"},
    {"value":"shopping"},
    {"value":"meal"},
    {"value":"pick_drop_person"},
    {"value":"pick_drop_item"},
    {"value":"personal_med"},
    {"value":"access_recreation"},
    {"value":"exercise"},
    {"value":"entertainment"},
    {"value":"religious"},
    {"value":"other"}
  ],
  "REPLACED_MODE": [
    {"value":"no_travel"},
    {"value":"walk"},
    {"value":"bike"},
    {"value":"bikeshare"},
    {"value":"scootershare"},
    {"value":"drove_alone"},
    {"value":"shared_ride"},
    {"value":"e_car_drove_alone"},
    {"value":"e_car_shared_ride"},
    {"value":"taxi"},
    {"value":"bus"},
    {"value":"train"},
    {"value":"free_shuttle"},
    {"value":"other"}
  ],
  "translations": {
    "en": {
      "walk": "Walk",
      "e-bike": "E-bike",
      "bike": "Regular Bike",
      "bikeshare": "Bikeshare",
      "scootershare": "Scooter share",
      "drove_alone": "Gas Car Drove Alone",
      "shared_ride": "Gas Car Shared Ride",
      "e_car_drove_alone": "E-Car Drove Alone",
      "e_car_shared_ride": "E-Car Shared Ride",
      "moped": "Moped",
      "taxi": "Taxi / Uber / Lyft",
      "bus": "Bus",
      "train": "Train",
      "free_shuttle": "Free Shuttle",
      "air": "Air",
      "not_a_trip": "Not a trip",
      "no_travel": "No travel",
      "home": "Home",
      "work": "To Work",
      "at_work": "At Work",
      "school": "School",
      "transit_transfer": "Transit transfer",
      "shopping": "Shopping",
      "meal": "Meal",
      "pick_drop_person": "Pick-up / Drop off Person",
      "pick_drop_item": "Pick-up / Drop off Item",
      "personal_med": "Personal / Medical",
      "access_recreation": "Access Recreation",
      "exercise": "Recreation / Exercise",
      "entertainment": "Entertainment / Social",
      "religious": "Religious",
      "other": "Other"
    },
    "es": {
      "walk": "Caminando",
      "e-bike": "e-bicicleta",
      "bike": "Bicicleta",
      "bikeshare": "Bicicleta compartida",
      "scootershare": "Motoneta compartida",
      "drove_alone": "Coche de Gas, Condujo solo",
      "shared_ride": "Coche de Gas, Condujo con otros",
      "e_car_drove_alone": "e-coche, Condujo solo",
      "e_car_shared_ride": "e-coche, Condujo con ontras",
      "moped": "Ciclomotor",
      "taxi": "Taxi / Uber / Lyft",
      "bus": "Autobús",
      "train": "Tren",
      "free_shuttle": "Colectivo gratuito",
      "air": "Avión",
      "not_a_trip": "No es un viaje",
      "no_travel": "No viajar",
      "home": "Inicio",
      "work": "Trabajo",
      "at_work": "En el trabajo",
      "school": "Escuela",
      "transit_transfer": "Transbordo",
      "shopping": "Compras",
      "meal": "Comida",
      "pick_drop_person": "Recoger / Entregar Individuo",
      "pick_drop_item": "Recoger / Entregar Objeto",
      "personal_med": "Personal / Médico",
      "access_recreation": "Acceder a Recreación",
      "exercise": "Recreación / Ejercicio",
      "entertainment": "Entretenimiento / Social",
      "religious": "Religioso",
      "other": "Otros"
    }
  }
}