{
  "MODE" : [
       {"text":"Walk", "value":"walk", "met_equivalent": "WALKING", "co2PerMeter": 0},
       {"text":"Bike","value":"bike", "met_equivalent": "BICYCLING", "co2PerMeter": 0},
       {"text":"e-bike","value":"e-bike", "met": {
            "ALL": {"range": [0, -1], "mets": 4.9}
       }, "co2PerMeter": 0.00728},
       {"text":"Scooter share","value":"scootershare", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.00894},
       {"text":"Gas Car Drove Alone","value":"drove_alone", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.22031},
       {"text":"Gas Car Shared Ride","value":"shared_ride", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.11015},
       {"text":"E-Car Drove Alone","value":"e_car_drove_alone", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.08216},
       {"text":"E-Car Shared Ride","value":"e_car_shared_ride", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.04108},
       {"text":"Taxi/Uber/Lyft","value":"taxi", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.30741},
       {"text":"Bus","value":"bus", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.20727},
       {"text":"Train","value":"train", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.12256},
       {"text":"Free Shuttle","value":"free_shuttle", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.20727},
       {"text":"Air","value":"air", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.09975},
       {"text":"Other","value":"other", "met_equivalent": "UNKNOWN", "co2PerMeter": 0}],
    "PURPOSE" : [
       {"text":"Home", "value":"home"},
       {"text":"To Work","value":"work"},
       {"text":"At Work","value":"at_work"},
       {"text":"School","value":"school"},
       {"text":"Transit transfer", "value":"transit_transfer"},
       {"text":"Shopping","value":"shopping"},
       {"text":"Meal","value":"meal"},
       {"text":"Pick-up/ Drop off Person","value":"pick_drop_person"},
       {"text":"Pick-up/ Drop off Item","value":"pick_drop_item"},
       {"text":"Personal/ Medical","value":"personal_med"},
       {"text":"Access Recreation","value":"access_recreation"},
       {"text":"Recreation/ Exercise","value":"exercise"},
       {"text":"Entertainment/ Social","value":"entertainment"},
       {"text":"Religious", "value":"religious"},
       {"text":"Other","value":"other"}]
}
