{
  "MODE" : [
       {"text":"Vehicle Driver", "value":"driver", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.22031},
       {"text":"Vehicle Passenger","value":"passenger", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.11015},
       {"text":"Walk","value":"walk", "met_equivalent": "WALKING", "co2PerMeter": 0},
       {"text":"Train","value":"train", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.12256},
       {"text":"Bus","value":"bus", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.20727},
       {"text":"Tram","value":"tram", "met_equivalent": "UNKNOWN", "co2PerMeter": 0},
       {"text":"Ferry","value":"ferry", "met_equivalent": "UNKNOWN", "co2PerMeter": 0},
       {"text":"Taxi & Uber","value":"taxi", "met_equivalent": "IN_VEHICLE", "co2PerMeter": 0.30741},
       {"text":"Bicycle","value":"bike", "met_equivalent": "BICYCLING", "co2PerMeter": 0},
       {"text":"Motorcycle","value":"motorbike", "met_equivalent": "UNKNOWN", "co2PerMeter": 0},
       {"text":"Trip not valid","value":"spurious_trip", "met_equivalent": "UNKNOWN", "co2PerMeter": 0}],
    "PURPOSE" : [
       {"text":"Go Home", "value":"home"},
       {"text":"Work related","value":"work"},
       {"text":"Pick-up/Drop off 🙍‍♂️","value":"pick_drop_person"},
       {"text":"Buy something","value":"buy_something"},
       {"text":"Education","value":"education"},
       {"text":"Social/Dine out","value":"social"},
       {"text":"Recreation/Exercise","value":"exercise"},
       {"text":"Personal/Medical","value":"personal_med"},
       {"text":"Accompany", "value":"accompany_someone"},
       {"text":"Pick-up/Deliver 📦", "value":"pick_drop_thing"},
       {"text":"Transit transfer", "value":"transit_transfer"},
       {"text":"Other","value":"other"},
       {"text":"Trip not valid","value":"spurious_trip"}]
}
