{
  "MODE" : [
       {"text":"Vehicle Driver", "value":"driver"},
       {"text":"Vehicle Passenger","value":"passenger"},
       {"text":"Walk","value":"walk"},
       {"text":"Train","value":"train"},
       {"text":"Bus","value":"bus"},
       {"text":"Tram","value":"tram"},
       {"text":"Ferry","value":"ferry"},
       {"text":"Taxi & Uber","value":"taxi"},
       {"text":"Bicycle","value":"bike"},
       {"text":"Motorcycle","value":"motorbike"},
       {"text":"Trip not valid","value":"spurious_trip"}],
    "PURPOSE" : [
       {"text":"Go Home", "value":"home"},
       {"text":"Work related","value":"work"},
       {"text":"Pick-up/Drop off 🙍‍♂️","value":"pick_drop_person"},
       {"text":"Buy something","value":"buy_something"},
       {"text":"Education","value":"education"},
       {"text":"Social/Dine out","value":"social"},
       {"text":"Recreation/Exercise","value":"exercise"},
       {"text":"Personal/Medical","value":"personal_med"},
       {"text":"Accompany", "value":"accompany_someone"},
       {"text":"Pick-up/Deliver 📦", "value":"pick_drop_thing"},
       {"text":"Transit transfer", "value":"transit_transfer"},
       {"text":"Other","value":"other"},
       {"text":"Trip not valid","value":"spurious_trip"}]
}
