<!-- Label -->
 <div class="row" style="padding-left: 5px;padding-right: 5px;">
  <div ng-repeat="input in userInputDetails" class={{input.width}} style="text-align: center;font-size: 14px;font-weight: 600;" ng-attr-id="{{ 'userinputlabel' + input.name }}" translate>
    {{input.labeltext}}
  </div>
 </div>
<!-- Buttons (if confirmed) -->
 <div class="row" style="padding-left: 5px;padding-right: 5px;">
    <div ng-repeat="input in userInputDetails" class={{input.width}} style="text-align: center;" ng-attr-id="{{ 'userinput' + input.name }}">
        <div ng-if="tripgj.userInput[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, tripgj, input.name)" class="button btn-input-confirm btn-input-confirm-green">
                {{tripgj.userInput[input.name].text}}
            </button>
        </div>
<!-- Buttons (if not confirmed) -->
        <div  ng-if="!tripgj.userInput[input.name]" class="input-confirm-container">
            <button ng-click ="openPopover($event, tripgj, input.name)" class="button btn-input-confirm btn-input-confirm-white" translate>
            {{input.choosetext}}
            </button>
        </div>
    </div>
 </div>   
