
.boss_png{
	position: absolute;
	top: 25px;
	left: 5px;
	width: 160px;
	height: 160px;
}	

#boss_atom1 {
	background: url(quest_atom1.png);
	background-repeat: no-repeat;
}
#boss_atom2 {
	
	background: url(quest_atom2.png);
	background-repeat: no-repeat;
}
#boss_axolotl {
	
	background: url(quest_axolotl.png);
	background-repeat: no-repeat;
}
#boss_basilist {
	
	background: url(quest_basilist.png);
	background-repeat: no-repeat;
}
#boss_bewilder {
	
	background-image: url(quest_TEMPLATE_FOR_MISSING_IMAGE.png);
	background-repeat: no-repeat;
}
#boss_bunny {
	
	background-image: url(quest_bunny.png);
	background-repeat: no-repeat;
}
#boss_burnout {
	
	background: url(quest_TEMPLATE_FOR_MISSING_IMAGE.png);
	background-repeat: no-repeat;
}
#boss_cheetah {
	
	background: url(quest_cheetah.png);
	background-repeat: no-repeat;
}
#boss_dilatory {
	
	background: url(quest_dilatory.png);
	background-repeat: no-repeat;
}
#boss_dilatory_derby {
	
	background: url(quest_dilatory_derby.png);
	background-repeat: no-repeat;
}
#boss_dilatoryDistress1 {
	
	background: url(dilatory_Distress1.png);
	background-repeat: no-repeat;
}
#boss_dilatoryDistress2 {
	
	background: url(dilatory_Distress2.png);
	background-repeat: no-repeat;
}
#boss_dilatoryDistress3 {
	
	background: url(quest_dilatory_Distress3.png);
	background-repeat: no-repeat;
}
#boss_egg {
	;
	background: url(quest_egg.png);
	background-repeat: no-repeat;
}
#boss_evilsanta {
	
	background: url(quest_evilsanta.png);
	background-repeat: no-repeat;
}
#boss_evilsanta2 {
	
	background: url(quest_evilsanta2.png);
	background-repeat: no-repeat;
}
#boss_falcon {
	
	background: url(quest_falcon.png);
	background-repeat: no-repeat;
}
#boss_frog {
	
	background: url(quest_frog.png);
	background-repeat: no-repeat;
}
#boss_ghost_stag {
	
	background: url(quest_ghost_stag.png);
	background-repeat: no-repeat;
}
#boss_goldenknight1 {
	
	background: url(quest_goldenknight1.png);
	background-repeat: no-repeat;
}
#boss_goldenknight2 {
	
	background: url(quest_goldenknight2.png);
	background-repeat: no-repeat;
}
#boss_goldenknight3 {
	
	background: url(quest_goldenknight3.png);
	background-repeat: no-repeat;
}
#boss_gryphon {
	
	background: url(quest_gryphon.png);
	background-repeat: no-repeat;
}
#boss_harpy {
	
	background: url(quest_harpy.png);
	background-repeat: no-repeat;
}

#boss_hedgehog {
	
	background: url(quest_hedgehog.png);
	background-repeat: no-repeat;
}
#boss_horse {
	
	background: url(quest_horse.png);
	background-repeat: no-repeat;
}
#boss_kraken {
	
	background: url(quest_kraken.png);
	background-repeat: no-repeat;
}
#boss_monkey {
	
	background: url(quest_monkey.png);
	background-repeat: no-repeat;
}
#boss_moonstone1 {
	
	background: url(quest_moonstone1.png);
	background-repeat: no-repeat;
}
#boss_moonstone2 {
	
	background: url(quest_moonstone2.png);
	background-repeat: no-repeat;
}
#boss_moonstone3 {
	
	background: url(quest_moonstone3.png);
	background-repeat: no-repeat;
}
#boss_octopus {
	
	background: url(quest_octopus.png);
	background-repeat: no-repeat;
}
#boss_owl {
	
	background: url(quest_owl.png);
	background-repeat: no-repeat;
}
#boss_penguin {
	
	background: url(quest_penguin.png);
	background-repeat: no-repeat;
}
#boss_rat {
	
	background: url(quest_rat.png);
	background-repeat: no-repeat;
}
#boss_rock {
	
	background: url(quest_rock.png);
	background-repeat: no-repeat;
}
#boss_rooster {
	
	background: url(quest_rooster.png);
	background-repeat: no-repeat;
}
#boss_sabretooth {
	
	background: url(quest_sabretooth.png);
	background-repeat: no-repeat;
}
#boss_sheep {
	
	background: url(quest_sheep.png);
	background-repeat: no-repeat;
}
#boss_slime {
	
	background: url(quest_slime.png);
	background-repeat: no-repeat;
}
#boss_snail {
	
	background: url(quest_snail.png);
	background-repeat: no-repeat;
}
#boss_snake {
	
	background: url(quest_snake.png);
	background-repeat: no-repeat;
}
#boss_spider {
	
	background: url(quest_spider.png);
	background-repeat: no-repeat;
}
#boss_stressbeast {
	
	background: url(quest_stressbeast.png);
	background-repeat: no-repeat;
}
#boss_treeling {
	
	background: url(quest_treeling.png);
	background-repeat: no-repeat;
}
#boss_trex {
	
	background: url(quest_trex.png);
	background-repeat: no-repeat;
}
#boss_trex_undead {
	
	background: url(quest_trex_undead.png);
	background-repeat: no-repeat;
}
#boss_unicorn {
	
	background: url(quest_unicorn.png);
	background-repeat: no-repeat;
}
#boss_vice1 {
	
	background: url(quest_vice1.png);
	background-repeat: no-repeat;
}
#boss_vice2 {
	
	background: url(quest_vice2.png);
	background-repeat: no-repeat;
}
#boss_vice3 {
	
	background: url(quest_vice3.png);
	background-repeat: no-repeat;
}
#boss_whale {
	
	background: url(quest_whale.png);
	background-repeat: no-repeat;
}