<ion-modal-view style="background-color: #ededed;">
	<ion-header-bar>
      <button side="left" class="button" ng-click="closeChallengeDetail()">Back</button>
      <h1 class = "title" style="color:#6e6e6e;">Challenges</h1>
    </ion-header-bar>
	<ion-content>
		<div style="padding: 25px 10px 10px 10px; color:#6e6e6e;">
      <div style="padding: 10px;">
        <div style="width: 70%; float: left;">
          <h4 style="font-weight: 700;color:#6e6e6e;margin: 0px;">{{challengeToView.name}}</h4>
            <p style="font-weight: 700;">Prize: {{challengeToView.prize}} gems</p>
        </div>
        <button ng-if="joinedChallenges.indexOf(challengeToView._id) > -1" class="button" ng-click="leaveChallenge(challengeToView._id)" style="background:#F75F74;font-weight:700;border-radius:4px;color:#fff;display: inline;float: right;line-height: 30px !important;min-height: 25px !important;">
                  Leave
        </button>
      </div> 
        <p style="display: inline-block;padding-left: 10px;padding-right: 10px;">{{challengeToView.description}} </p>
      		<div ng-if="joinedChallenges.indexOf(challengeToView._id) > -1" class="list">
        		<div ng-if="challengeInfoArray.length != 0" ng-repeat="user in challengeInfoArray" 
           class="card leaderboard-card" id="avatar" style="padding-top: 10px !important;height: 85px !important;">
          			<div id="group-leaderboard" style="color: #6e6e6e; padding-top: 10px;">
            			<p><b>{{user.username}}</b></p>
            			<div>
              					<p class="group-leaderboard-left-stats">Value: {{user.value}}</p>
            			</div>
            			<p style="font-size: 30px;font-family: monospace;font-weight: 600;float: right;padding-right: 20px;margin-top: -30px;">{{user.rank}}</p>
          			</div>
        		</div>
      		</div>
        </div>
	</ion-content>
</ion-modal-view>
