<ion-list>
    <ion-item class="row responsive-sm" id="no-border">
        <div class="col timestamp"> Username: </div>
        <div class="col detail"> {{profile.auth.local.username}} </div>
    </ion-item>
    <ion-item class="row responsive-sm" id="no-border">
        <div class="col timestamp"> Email: </div>
        <div class="col detail"> {{profile.auth.local.email}} </div>
    </ion-item>
    <ion-item class="row responsive-sm" id="no-border">
        <div class="col timestamp"> Password: </div>
        <div class="col detail"> {{profile.auth.local.password}} </div>
    </ion-item>
</ion-list>
