<p>This is your user id. In order to preserve your privacy, we will use this user id to identify your responses to the survey without linking them to other identifiable information, such as email and geolocation. Please copy and paste this user id in the survey. The survey will automatically load once you hit "Copy user id"</p>
<div class="col timestamp"> User id: </div>
<!-- Target -->
<textarea id="bar">{{profile.id}}</textarea>

<!-- Trigger -->
<button class="btn" ngclipboard data-clipboard-target="#bar">
    Copy user id to clipboard
</button>




