<ion-view view-title="Welcome" hide-back-button="true" color="#F4A460">
	<ion-content>
		<img style="max-width: 100%;height: auto;width: auto\9; /* ie8 */" src="img/intro/iisc.jpeg">
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
			Thank you for participating in our IISc study:<br>
			This survey aims to collect information on your travel behavior (where, when, why, and how you travel) and preferences related to future travel options in the City. Such data will be used to develop simulation models for evaluating alternative transportation solutions.

		</p>
	
	

		
	</ion-content>
</ion-view>
