<ion-view view-title="Welcome" hide-back-button="true">
	<ion-content>
		<img style="max-width: 100%;height: auto;width: auto\9; /* ie8 */" src="img/intro/splash.png">
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
			Thank you for participating in our UCB study: Assessing the Travel Demand and Co-Benefit Impacts of Affordable Transit-Oriented Development!
		</p>
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 0px 10px;">
			If you have any questions or concerns, please contact us at the Center for Community Innovation:
		</p>
		<div id="call-cci" class="button icon icon-left ion-ios-telephone cci-contact-button">(510)-643-9103
        </div>
		<button ng-click="emailCCI()" id="email-cci" class="button icon icon-left ion-email cci-contact-button">cci@berkeley.edu
        </button>
	</ion-content>
</ion-view>