<ion-view view-title="Welcome" hide-back-button="true" color="#F4A460">
	<ion-content>
		<img style="max-width: 100%;height: auto;width: auto\9; /* ie8 */" src="img/intro/iisc.jpeg">
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
			Thank you for participating in our IISc study: Assessing the Travel Demand and Co-Benefit Impacts of Affordable Transit-Oriented Development!
		</p>
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
			If this is your first time logging in please complete the following survey:
		</p>
		
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 5px 10px;">
		<a href="elcitasurvey.cistup.iisc.ac.in/test4/test2/webpage1.php"> elcitasurvey.cistup.iisc.ac.in</a>
		<p>
		<p style="font-size: 15px;text-align: center;padding: 5px 10px 0px 10px;">
			If you have any questions or concerns, please contact us at CiSTUP,IISc:
		</p>
		<div id="call-cci" class="button icon icon-left ion-ios-telephone cci-contact-button">
        </div>
		<button ng-click="emailCCI()" id="email-cci" class="icon icon-left ion-email cci-contact-button">{{studyEmail}}
        </button>
	</ion-content>
</ion-view>
