# This is a basic workflow to help you get started with Actions

name: osx-serve-install

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '5 4 * * 0'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Print the xcode path
      run: xcode-select --print-path

    - name: Print the xcode setup
      run: xcodebuild -version -sdk

    - name: Print applications through dmg
      run: ls /Applications

    - name: Print applications through brew
      run: brew list --formula

    - name: Setup the serve environment
      shell: bash -l {0}
      run: |
        bash setup/setup_serve.sh
    
    - name: Check tool versions
      shell: bash -l {0}
      run: |
        source setup/activate_serve.sh
        echo "cordova version"
        npx cordova -version
        echo "ionic version"
        npx ionic --version

# TODO: figure out how to check that a server started correctly
#    - name: Try starting it
#      run: npx run serve

