<ion-view view-title="Incident" class="ion-view-background">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-help"
            ng-click="startWalkthrough()"></button>
  </ion-nav-buttons>
  <!--ion-nav-buttons side="left">
    <button class="button button-icon ion-close" ng-click="closeView()"></button>
  </ion-nav-buttons-->
  <ion-nav-title>{{ getFormattedDate(mapCtrl.start_ts) }}</ion-nav-title>
  <ion-content class="has-header" overflow-scroll="true" padding="true">
    <div class="row" style="text-align: center;display: block;">
      <div style="font-size: 1em;color: #303030;opacity: 0.7;">Recent trip from:
        {{getFormattedTime(mapCtrl.start_ts)}} &rarr; to:
        {{getFormattedTime(mapCtrl.end_ts)}}
      </div>
    </div>
    <!-- Map -->
    <div style="height: 10px;"></div>
    <leaflet geojson="mapCtrl.geojson" id="incident" defaults="mapCtrl.defaults"
             height="30%" width="100%" data-tap-disabled="true">
    </leaflet>
    <!-- Progress Bar -->
    <div style="height: 10px;"></div>
    <div class="row"
         style="height: 10px;width: 100%;margin: auto;margin-top: 5px;">
      <progress max="{{surveyQuestions.length - 1}}"
                value="{{curSlide}}"
                style="margin-left: auto; margin-right:auto;"></progress>
    </div>
    <!-- Slide Box -->
    <div style="height: 10px;"></div>
    <ion-slide-box id="surveyQ" show-pager="false" ng-init="disableSwipe()"
                   style="background: transparent !important;">
      <ion-slide ng-repeat="question in surveyQuestions">
        <div
          style="margin-top: 5px; margin-left: auto; margin-right:auto; font-size: 1.25em;color: #303030; opacity: 0.7;">
          {{question.title}}
        </div>
        <div style="height: 100%; padding-top: 5px;">

          <div ng-switch on="question.type">
            <div ng-switch-when="single_choice">
              <ion-list ng-repeat="option in question.options">
                <ion-radio ng-model="question.response" ng-value="option.value"
                           style="text-align: center; color: #585858 !important;">
                  <label text-wrap>
                    {{option.text}}
                  </label>
                </ion-radio>
              </ion-list>
            </div>
            <div ng-switch-when="text_input">
              <ion-list>
                <ion-item>
                      <textarea ng-model="question.response"
                                placeholder="Enter your answer"
                                style="left: 10px; right: 10px;"></textarea>
                </ion-item>
              </ion-list>
            </div>
            <div ng-switch-default>
              <p>Error Question Type</p>
            </div>
          </div>

          <!-- Button -->
          <div style="height: 10px;"></div>
          <button
            style="width: 100%;color: #fff;font-weight: 600;border: 0px;background-color: #01D0A7;"
            class="button"
            ng-click="nextSlide(question.response)">
            Continue
          </button>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
