.no-margin {
  margin:0px !important;
  padding:0px !important;
}

.item {
  border:0px !important;

}

.main {
    padding-top:50px;
    padding-bottom:50px !important;
}

.row {
    padding:0px;
}

.col {
   padding:0px !important;
}

.small {
  font-size:7px;
}
.bg-color{
  background:#71bc98!important;
  color:whitesmoke !important;
}
.summary-color{
  background:#1b9e77!important;
  color:whitesmoke !important;
}
.place-color{
  background:#7570b3!important;
  color:whitesmoke !important;
}
.angular-leaflet-map {
  height: 150px;
  width: 200px;
}


.list .item.item-accordion {

  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
a.item-content {
  padding: 0 !important;
  background-color: #eeeeee !important;
}
.leaflet-div-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
  border-color: white;  
}
.leaflet-div-icon-start {
  background-color: #72b026;
  border-radius: 6px;
}
.leaflet-div-icon-stop {
  background-color: #d63e2a;
  border-radius: 6px;
}
.inner-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
}