.no-margin {
  margin:0px !important;
  padding:0px !important;
}

.item {
  border:0px !important;
  border-color: #fff;
  padding: 0 10px; /* Changed from 16px. This change was to ensure the correct alignment of the diary card */
}

.main {
    padding-top:50px;
    padding-bottom:50px !important;
}

.row {
    padding:0px;
}

.col {
   padding:0px !important;
}

.small {
  font-size:7px;
}
.bg-color{
  background:#71bc98!important;
  color:whitesmoke !important;
}
.summary-color{
  background:#1b9e77!important;
  color:whitesmoke !important;
}
.place-color{
  background:#7570b3!important;
  color:whitesmoke !important;
}


/* leaflet */
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .angular-leaflet-map { width: 100%; }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .angular-leaflet-map { width: 100%; }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .angular-leaflet-map { width: 100%; }
}


.list .item.item-accordion {

  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
a.item-content {
  padding: 0 !important;
  background-color: transparent !important;
}
.leaflet-div-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
  border-color: white;  
}
.leaflet-div-icon-start {
  background-color: #80D0FF;
  border-radius: 100%;
}
.leaflet-div-icon-stop {
  background-color: #0088ce;
  border-radius: 100%;
}
.leaflet-div-ionicon {
  background: transparent; 
  color: white;
  font-size: 100%;
  justify-content: center; 
  display: flex;
}
.leaflet-div-ionicon-start {
  color: white;
}
.leaflet-div-ionicon-stop {
  color: white;
  margin-top: 1px;
  margin-left: 3px;
}
.inner-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
}
.button {
  min-height: 10px; /* Changed from 47px. This allows for the correct height for the label buttons to fit nicely in the diary card. */
  line-height: normal;
}
.btn-input-confirm-red,
.btn-input-confirm-red:hover,
.btn-input-confirm-red:active {
  background-color: white;
  color: #0088ce;
  border-color: #0088ce;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-input-confirm-yellow,
.btn-input-confirm-yellow:hover,
.btn-input-confirm-yellow:active {
  background-color: #FFC108;  /* tentatively orange for now */
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 2px solid rgba(0, 136, 206, 0.2);
}
.btn-input-confirm-green,
.btn-input-confirm-green:hover,
.btn-input-confirm-green:active {
  background-color: #0088ce;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 2px solid rgba(0, 136, 206, 0.2);
}
/* White confirm buttons are currently unused */
/* .btn-input-confirm-white,
.btn-input-confirm-white:hover,
.btn-input-confirm-white:active {
  background-color: #ddd;
  color: #333;
  font-size: 0.8em;
} */


.btn-input-confirm {
  width: 100%;
  min-height: 30px;
  max-height: 40px;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em !important;
  /* line-height: 30px;
  min-height: 30px;
  width: 115px;
  padding: 0; */
}
.input-confirm-container {
  margin-top: 5px;
}

.popover {
  height: 297px;
  width: 230px;
}

.big-popover {
  height: 40%;
  width: 75%;
}

#diary-item {
  padding: 0;
  border-width: 0;
}

.unified-diary-item {
  padding: 0 6px;
  margin: 0 10px;
  border-width: 0;
  background-color: transparent;
  height: min-content;
  /* height: 250px; */
}

.diary-card {
  width: 100%;
  height: min-content;
  margin: 0;
  border: 2px solid rgba(0, 136, 206, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-wrap: wrap;
}

/* used for place list items */
.diary-card.short {
  /*height: 100px;*/
  background-color: rgba(128, 208, 255, 0.8);
  margin: 6px auto;
  text-align: center;
}

.place-title {
  color: #222;
  display: flex;
  justify-content: center;
}

.place-title b {
  margin-left: 10px;
}

.diary-button {
  width: 100%;
  height: 30px;
  margin: 2px;
  border: 2px solid #0088ce;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.hr-lines {
  position: relative;
  justify-content: center;
  font-weight: bold;
  display: flex;
  color: #212121;
  font-size: 19px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin: 10px auto;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .hr-lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #80D0FF;
  }

  .hr-lines:after {
    content: " ";
    display: block;
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 0;
    background: #80D0FF;
  }
}
@media screen and (orientation: landscape) {
  .hr-lines:before {
    content: " ";
    display: block;
    height: 2px;
    width: 41%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #80D0FF;
  }

  .hr-lines:after {
    content: " ";
    display: block;
    height: 2px;
    width: 41%;
    position: absolute;
    top: 50%;
    right: 0;
    background: #80D0FF;
  }
}

.diary-draft-button {
  font-style: normal;
  font-weight: normal;
  font-style: 13px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/icons/help_outline_black_24dp.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.diary-route {
  margin: 5px 0;
  height: 85px;
}

.diary-street {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.two-lines {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.btn-input-wrap {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary-map {
  z-index: -1; /* Can't zoom in or out of the map with this implemented */
  overflow: hidden;
  border-radius: 30px 0px 0px 30px;
  /* height must be specified in the html */
}

/* when trip notes are enabled, the map has rounded right corners */
.enhanced-trip-item .diary-map {
  border-radius: 30px 0px 30px 0px;
}

.diary-map-shell {
  width: 50%;
}

.diary-infos {
  float: right;
  width: 50%;
  padding: 2% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

/* to center the enketo/multilabel button */
.diary-infos:nth-child(2) {
  justify-content: center;
}

.diary-distance-time {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  white-space: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

.diary-modes-percents {
  margin: 5px 0;
}

.diary-modes-percents-text {
  color: #0088ce;
}

.diary-modes-percents-icon {
  color: #0088ce;
}

/* Purpose selection Override */
.two-lines .item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  max-height: 65px;
}

/* Date Picker Override */
.ionic_datepicker_popup .today {
  border: 1px solid #0088ce !important;
}

.ionic_datepicker_popup .selected_date {
  background-color: #0088ce !important;
}

.ionic_datepicker_popup .popup-head {
  background-color: #0088ce !important;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #0088ce !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
  border-bottom: 1px solid #0088ce !important;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
  color: #0088ce !important;
}

.ionic_datepicker_popup .popup-body .button-clear {
  color: #0088ce !important;
}

.ionic_datepicker_popup .popup-buttons button {
  background-color: #0088ce !important;
}
div.labelfilterlist {
  margin: 0 !important;
}

.button.labelfilter {
  color: #0088ce;
  border-radius: 0px;
  border-width: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
  padding: 0 0.1em !important;
}

.button.labelfilter.on {
    background-color: #0088ce;
    color: white;
}

.labelfilter:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labelfilter:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.enketo-button button {
  border-color: rgba(0,0,0, .2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.enketo-button b {
  vertical-align: middle;
  margin-left: .5em;
}

.enketo-button, .enketo-button .icon:before {
  line-height: 100%;
}

enketo-notes-list, .notes-list {
  width: 100%;
  margin-bottom: 0px;
}

.notes-list {
  padding: 0 15px 5px 15px;
  text-align: center;
}

.notes-list-entry {
  display: grid;
  grid-template-columns: 10fr 9fr 1fr;
  overflow: hidden;
  font-size: 13px;
  height: 40px;
}

.notes-list-entry .icon {
  font-size: 24px;
}

.notes-list-label {
  text-align: left;
}