
#scrolling {
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.recommendbox {
  width : 300px;
  height : 300px;
  padding: 20px;
  background-color: #01D0A7;
  margin: 20px;
  color: white;
}

p {
  color: white;
}


.modal {
  display : none;
  position : sticky;
  z-index : 1;
  bottom : 0;
  width : 100%;
  height : 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
  background-color : #DEDEDE;
  position: -webkit-sticky;
  position: sticky;
  top : 0;
  margin : 20px;
  padding : 20px;
  width : 300px;
}
.close {
  color : black;
  float : right;
  font-size : 28px;
}

.button.button-block.button-balanced.button-outline {
  background-color: white;
  border-color: transparent;
  font-style: bold;
  color: #01D0A7;
}

