.recommendbox {
  width : 300px;
  height : 300px;
  padding: 20px;
  background-color: #DEDDDD;
  margin: 20px;
}
.modal {
  display : none;
  position : sticky;
  z-index : 1;
  bottom : 0;
  width : 100%;
  height : 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
  background-color : #DEDEDE;
  position: -webkit-sticky;
  position: sticky;
  top : 0;
  margin : 20px;
  padding : 20px;
  width : 300px;
  font-family: "Times New Roman", Times, serif;
}
.close {
  color : black;
  float : right;
  font-size : 28px;
}
