.no-margin {
  margin:0px !important;
  padding:0px !important;
}

/*.item {
  border:0px !important;

}*/

.main {
    padding-top:50px;
    padding-bottom:50px !important;
}

.row {
    padding:0px;
}

.col {
   padding:0px !important;
}

.small {
  font-size:7px;
}
.bg-color{
  background:#1123CB!important;
  color:whitesmoke !important;
}
.summary-color{
  background:#1123CB!important;
  color:whitesmoke !important;
}
.place-color{
  background:#7570b3!important;
  color:whitesmoke !important;
}


/* leaflet */
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .angular-leaflet-map { height: 150px; width: 245px; }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .angular-leaflet-map { height: 150px; width: 295px; }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .angular-leaflet-map { height: 150px; width: 330px; }
}


.list .item.item-accordion {

  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
a.item-content {
  padding: 0 !important;
  background-color: transparent !important;
}
.leaflet-div-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
  border-color: white;  
}
.leaflet-div-icon-start {
  background-color: #1123CB;
  border-radius: 6px;
}
.leaflet-div-icon-stop {
  background-color: #ff5251;
  border-radius: 6px;
}
.inner-icon {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 3px;
  margin-top: 3px;
}
.btn-input-confirm-red,
.btn-input-confirm-red:hover,
.btn-input-confirm-red:active {
  background-color: #ED2D3A;
  color: white;
}
.btn-input-confirm-yellow,
.btn-input-confirm-yellow:hover,
.btn-input-confirm-yellow:active {
  background-color: #FFC108;
  color: white;
}
.btn-input-confirm-green,
.btn-input-confirm-green:hover,
.btn-input-confirm-green:active {
  background-color: #1123CB;
  color: white;
}
/* White confirm buttons are currently unused */
/* .btn-input-confirm-white,
.btn-input-confirm-white:hover,
.btn-input-confirm-white:active {
  background-color: #ddd;
  color: #333;
  font-size: 0.8em;
} */
.btn-input-confirm {
  line-height: 30px;
  min-height: 30px;
  font-size: 0.8em !important;
  width: 115px;
  padding: 0;
}
.input-confirm-container {
  margin-top: 5px;
}

.popover {
  height: 297px;
  width: 230px;
}

.big-popover {
  height: 40%;
  width: 75%;
}

#diary-item {
  padding: 0;
  border-width: 0;
}

div.labelfilterlist {
  margin: 0 !important;
}

.button.labelfilter {
  color: #1123CB;
  border-radius: 0px;
  border-width: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
  padding: 0 0.1em !important;
}

.button.labelfilter.on {
    background-color: #1123CB;
    color: white;
}

.labelfilter:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labelfilter:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.diary-more-container i {
  font-size: 32px;
}
.diary-checkmark-container i {
  font-size: 24px;
  padding: 3px;
}

.diary-checkmark-container i.can-verify {
  color: #1123CB;
  background-color: #ddd;
  border-radius: 5px;
}
.diary-checkmark-container i.cannot-verify {
  color: #E6B8B8;
}
.diary-checkmark-container i.already-verified {
  color: #B8E6C2;
}

.list-card-sm {
  width: 95%;
}
.list-card-md {
  width: 95%;
}
.list-card-lg {
 width: 95%;
}
.list-card .row {
  padding-left: 5px;
  padding-right: 5px;
}
.list-col-left-margin {
  text-align: center; padding: 0.7em 0.8em 0.4em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left {
  text-align: center; padding: 1.1em 0.8em 0.6em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-right {
  text-align: center; padding: 0.25em 0.8em; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}


.list-card {
  margin: 16px 0;
  border: 2px solid rgba(17, 35, 203, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}

.list-card-sm {
  width: 95%;
}
.list-card-md {
  width: 95%;
}
.list-card-lg {
 width: 95%;
}
.list-card .row {
  padding-left: 5px;
  padding-right: 5px;
}
.list-col-left-margin {
  text-align: center; padding: 0.7em 0.8em 0.4em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left {
  text-align: center; padding: 1.1em 0.8em 0.6em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-right {
  text-align: center; padding: 0.25em 0.8em; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.start-time-tag {
  left: 1%;
  top: 15px;
  position: absolute;
  width: 68px;
  height: 30px;
  background: #1123CB;
  border: 2px solid #1123CB;
  box-sizing: border-box;
  border-radius: 50px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.stop-time-tag {
  left: 1%;
  bottom: 15px;
  position: absolute;
  width: 68px;
  height: 30px;
  background: rgba(17, 35, 203, 0.2);
  border: 2px rgba(17, 35, 203, 0.2);
  box-sizing: border-box;
  border-radius: 50px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #1123CB;
}
.start-time-tag-inf-scroll {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  background-color: #1123CB;
  color: black;
  width: 16%;
  height: 25px;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  left: 1%;
  top: 15px;
  line-height: 16px;
}
.stop-time-tag-inf-scroll {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  background-color: #ff5251;
  color: black;
  width: 16%;
  height: 25px;
  border-radius: 8px;
  font-size: 12px;
  position: absolute;
  left: 1%;
  bottom: 15px;
  line-height: 16px;
}
.stop-time-tag-lower {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  background-color: #ff5251;
  color: black;
  width: 16%;
  height: 16px;
  border-radius: 8px;
  font-size: 9px;
  position: absolute;
  left: 1%;
  top: 310px;
  line-height: 16px;
}

.start-end-addresses-container {
  display: inline-block;
  width: calc(100% - 25px);
}