.expanded-eval-settings-card {
  height: 350px !important;
}

.small-eval-settings-card {
  height: 80px !important;
}

.expanded-sensing-settings-card {
  height: 475px !important;
}

.small-sensing-settings-card {
  height: 110px !important;
}

.small-calibration-settings-card {
  height: 110px !important;
}

.small-evaluation-settings-card {
  height: 160px !important;
}

#eval-settings.card {
  background: #fff;
  color: #54DCC1;
  border-radius: 5px;
  display: block;
  margin: 10px;
  margin-top: 50px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

#calibration-settings.card {
  background: #fff;
  color: #54DCC1;
  border-radius: 5px;
  display: block;
  margin: 10px;
  margin-top: 50px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.trip-control-button {
  background : #54DCC1;
  padding: 10px;
  margin: 5px;
}
