#dashboard-top {
  display: flex;
  margin: auto;
}
  
#dashboard-footprint.card {
  background-image: 
    linear-gradient(307.28deg, rgba(255, 128, 166, 0.77) -10.18%, rgba(17, 35, 203, 0.77) 99.61%),
    url("../img/daniel-roe-lpjb_UMOyx8-unsplash 1.png");
  mix-blend-mode: normal;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
  width: 187px;
  height: 191px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#dashboard-calorie.card {
  background-image: 
    linear-gradient(60.08deg, rgba(255, 136, 159, 0.9) -22.82%, rgba(17, 35, 203, 0.9) 82.29%),
    url("../img/cristina-matos-albers-c4sGBJkDrjg-unsplash 1.png");
  mix-blend-mode: normal;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
  width: 187px;
  height: 191px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#dashboard-bottom .card {
  border-radius: 30px;
  display: block;
  height: 325px;
  width: 384px;
  margin: auto;
  margin-bottom: 50px;

  /* The background image should not slide */
  background-image:
    linear-gradient(6.41deg, rgba(17, 35, 203, 0.77) 13.13%, rgba(255, 128, 166, 0.77) 146.11%),
    url("../img/ricardo-gomez-angel-_7favoo7jy8-unsplash 1.png");
  mix-blend-mode: normal;
  background-repeat: no-repeat;
}

#dashboard-bottom .slider-slide{
  padding-top: 0 !important;
}

h4.dashboard-headers{
  color: #fff;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
  margin-top: 30px;
  text-align: left;
}
  
.user-carbon-no-percentage{
  padding-top: 40px;
  position: absolute;
  width: 100%;
}

.user-carbon-percentage{
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.user-carbon{
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 50px;
}

.user-calorie-no-percentage{
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

.user-calorie-percentage{
  padding-top: 10px;
  position: absolute;
  width: 100%;
}

.user-calorie{
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 50px;
}

.percentage-change{
  font-weight: 700;
  color: #1123CB;
  margin-bottom: 20px;
}

.calorie-change{
  padding-top: 5px;
  font-weight: 700;
  color: #1123CB;
}

.dashboard-list{
  padding-top: 10px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px !important;
  height: 40px !important;
  margin-bottom: 3px !important;
  margin-top: 3px !important;
  width: 90%;
  background-color: #1123CB !important;
}
  
.metric-datepicker {
  /*height: 33px;*/
  display: flex;           /* establish flex container */
  /*flex-direction: column;   make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-title {
  height: 35px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: left;     /* center items horizontally, in this case */
  padding-left: 10px;
}

.metric-datepicker-container-upper {
  width: 100%;
  float: left;
}

.metric-weekday-container-upper {
  width: 28%;
  float: right;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-weekday-container-lower {
  width: 28%;
  float: right;
  top: 40px;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-datepicker-container-lower {
  top: 40px;
  width: 100%;
  float: left;
}

.metric-left {
  width: 25%;
  float: left;
}

.metric-right {
  text-align: center;
  width: 75%;
  float: right;
}

.metric-change-data {
  width: 100%;
  text-align: center;
}

.metric-change-data-button{
  width: 158px;
  height: 40px;
  border: 2px solid #1123CB;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.metric-metric-button {
  float: left;
  width: 49%;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-freq-button {
  float: right;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-get-button {
  width: 60px;
  border-radius: 5px;
  color: white;
  background-color: #1123CB;
  height: 35px;
}

.metric-get-button-inactive {
  width: 60px;
  border-radius: 5px;
  color: white;
  background-color: #1123CB;
  opacity: 0.7;
  height: 35px;
}

.metric-basic {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.metric-half {
 float: left;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  overflow: hidden;
  position: relative;
}

/*Change later*/
.metric-second-half {
  width: 105px;
  margin: auto;
}

.metric-current-title {
  color: #333;
  position: absolute;
  width: 28%;
  height: 35px;
}

.metric-range-button {
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 1px;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  width: 25%;
  left: 50%;
  height: 35px;
}

.metric-range-button-active {
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 1px;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  width: 25%;
  left: 50%;
  height: 35px;
  background-color: #1123CB;
  color: white;
}

.metric-filter-button {
  position: absolute;
  width: 25%;
  left: 75%;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.metric-filter-button-active {
  position: absolute;
  width: 25%;
  left: 75%;
  height: 35px;
  background-color: #1123CB;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.metric-chart-button {
  width: 50%;
  position: absolute;
  left: 50%;
  height: 30px;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.metric-chart-button-active {
  width: 50%;
  position: absolute;
  left: 50%;
  height: 30px;
  background-color: #1123CB;
  color: white;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.metric-summary-button {
  width: 50%;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  height: 30px;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.metric-summary-button-active {
  width: 50%;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  height: 30px;
  background-color: #1123CB;
  color: white;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.distance-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  height: 30px;
}

.speed-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  height: 30px;
}

.trips-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  float: left;
  height: 30px;
}

.duration-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  float: left;
  height: 30px;
}

.distance-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: #1123CB;
  color: white;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  height: 30px;
}

.speed-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  background-color: #1123CB;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  height: 30px;
}

.trips-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: #1123CB;
  color: white;
  overflow: hidden;
  float: left;
  height: 30px;
}

.duration-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: #1123CB;
  color: white;
  overflow: hidden;
  float: left;
  height: 30px;
}

.metric-toggle-button {
  width: 33%;
  position: absolute;
  left: 66%;
  height: 33px;
}

.metric-icon {
  color: #ccc;
  font-size: 30px;
}

.metric-filter-title {
  position: absolute;
  width: 15%;
  height: 35px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: left;     /* center items horizontally, in this case */
  padding-left: 10px;
}

.metric-filter-year {
  position: absolute;
  width: 19%;
  left: 21%;
  height: 35px;
  border-width: 0;
}

.metric-filter-month {
  position: absolute;
  width: 13%;
  left: 42%;
  height: 35px;
  border-width: 0;
}

.metric-filter-day {
  position: absolute;
  width: 13%;
  left: 57%;
  height: 35px;
  border-width: 0;
}

.metric-summary-title {
  padding: 2px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.metric-summary-content {
  color: #FFFFFF;
  font-size: 12px;
  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.metric-summary-left {
  float: left;
  margin-top: 10px;
  width: 40px !important;
  margin-left: 10px;
  font-size: 30px !important;
  color: #FFFFFF;
}

.metric-summary-right {
  margin-left: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.metric-summary-option-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("../img/icons/mode_edit_black_24dp 1.png");
  height: 24px;
  width: 24px;
}

.metric-date-range {
  text-align: center;
}