/* Scoped styles for Enketo */
/* if we don't contain them here, they will leak into the rest of the app */
.enketo-plugin {
  @import 'enketo-core/src/sass/formhub/formhub.scss';
  flex: 1;
  .question.non-select {
    display: inline-block;
  }
  .question input[name*="_date"],
  .question input[name*="_time"] {
    width: calc(40vw - 10px);
    margin-right: 5px;
    display: flex;
  }
}

.enketo-plugin .form-header {
    max-height: 50px;
}

.fill-container {
  display: block;
  position: relative;
}

.fill-container > div[class*='css-'] {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Without this, the LabelTab does not fill the entire height of the screen.
    It has something to do with React Navigation's NavigationContainer.
  This should not be necessary once the entire app's routing has been
    converted to use React Navigation */
label-tab > div {
  height: 100%;
}

/* default color pallete (may be overridden by child elements) */
:root {
  --accent: hsl(200, 100%, 40%);
  --accent-light: hsl(200, 100%, 75%);
  --accent-dark: hsl(200 100% 30%);
}

.view-container.tab-content {
  height: auto !important;
  bottom: 50px !important;
  top: 0px !important;
}

.has-tabs {
  bottom: 0 !important;
}

.platform-ios .view-container {
  height: calc(100% - (env(safe-area-inset-top) / 2));
}

.join-inline-info {
  padding-bottom: 5%;
  padding-right: 0%;
  padding-left: 0%;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.popup-title {
    color: #6e6e6e;
}

.pull-right {
  float: right
}
.pull-left {
  float: left
}

.button.button-icon.ion-help:before {
  font-size: 25px;
}

.popup-buttons.row {
 height: 40px !important;
}
.popup-buttons.button {
  height: 40px !important;
}
.button.ng-binding.button-stable {
  height: 40px;

}
.button.ng-binding.button-positive {
  background-color: var(--accent);
  height: 40px;
}
.button.ng-binding.button-assertive {
  background-color: var(--accent);
  height: 40px;

}
.button.ng-binding.button-cancel {
  background-color: #d02001;
  height: 40px;
  color: #ffffff
}
.selected_date_full.ng-binding {
  color: var(--accent);
}
.icon.ion-chevron-left {
 color: var(--accent);
}
.icon.ion-chevron-right {
 color: var(--accent);
}
.date_col.date_selected {
 background-color: var(--accent) !important;

}
.date_col:active {
 background-color: var(--accent) !important;
}
.customButtomIconSize:before {
    font-size: 25px !important;
}

#dashboard-footprint.card {
  background: #fff;
  color: var(--accent);
  border-radius: 5px;
  display: block;
  margin: 10px;
  margin-top: 55px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  /*background: rgba(40,218,183,1);
  background: -moz-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,218,183,1)), color-stop(30%, rgba(99,230,199,1)), color-stop(51%, rgba(94,235,212,1)), color-stop(69%, rgba(87,235,223,1)), color-stop(85%, rgba(99,237,226,1)), color-stop(100%, rgba(127,250,250,1)));
  background: -webkit-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: linear-gradient(135deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28dab7', endColorstr='#7ffafa', GradientType=1 );*/
  text-align: center;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.small-footprint-card{
  height: 140px !important;
}

.expanded-footprint-card{
  height: 460px !important;
}

#dashboard-calorie.card {
  background: #fff;
  color: var(--accent-light);
  border-radius: 5px;
  display: block;
  margin: 10px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  /*background: rgba(40,218,183,1);
  background: -moz-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,218,183,1)), color-stop(30%, rgba(99,230,199,1)), color-stop(51%, rgba(94,235,212,1)), color-stop(69%, rgba(87,235,223,1)), color-stop(85%, rgba(99,237,226,1)), color-stop(100%, rgba(127,250,250,1)));
  background: -webkit-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: linear-gradient(135deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28dab7', endColorstr='#7ffafa', GradientType=1 );*/
  text-align: center;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.small-calorie-card{
  height: 140px !important;
}

.expanded-calorie-card{
  height: 370px !important;
}

/*#dashboard.card.inactive:after{
  content: "";
  position: absolute;
  bottom:0px;
  left:0;
  height: 200px;
  display: block;
}

#dashboard.card.active{
  max-height: 500px;
  transition: max-height 0.3s ease-out;
}*/

#dashboard-bottom.card {
  background-color: #fff;
  color: var(--accent);
  border-radius: 5px;
  display: block;
  /* height: 140px; */
  margin: 10px;
  margin-top:0px;
  position: relative;
  margin-bottom: 5px !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  /*background: rgba(40,218,183,1);
  background: -moz-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,218,183,1)), color-stop(30%, rgba(99,230,199,1)), color-stop(51%, rgba(94,235,212,1)), color-stop(69%, rgba(87,235,223,1)), color-stop(85%, rgba(99,237,226,1)), color-stop(100%, rgba(127,250,250,1)));
  background: -webkit-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  background: linear-gradient(135deg, rgba(40,218,183,1) 0%, rgba(99,230,199,1) 30%, rgba(94,235,212,1) 51%, rgba(87,235,223,1) 69%, rgba(99,237,226,1) 85%, rgba(127,250,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28dab7', endColorstr='#7ffafa', GradientType=1 );*/
  text-align: center;
}

#arrow-color{
  color: var(--accent);
  font-size: 25px !important;
}

h4.dashboard-headers{
  color: #fff;
  background: var(--accent);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -1px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px !important;
}

.user-carbon-no-percentage{
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

.user-carbon-percentage{
  padding-top: 10px;
  position: absolute;
  width: 100%;
}

.user-carbon{
  font-weight: 700;
  color: var(--accent);
  font-size: 16px;
}

.user-calorie-no-percentage{
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

.user-calorie-percentage{
  padding-top: 10px;
  position: absolute;
  width: 100%;
}

.user-calorie{
  font-weight: 700;
  color: var(--accent);
  font-size: 18px;
}

.percentage-change{
  font-weight: 700;
  color: var(--accent);
  margin-bottom: 20px;
}

.calorie-change{
  padding-top: 5px;
  font-weight: 700;
  color: var(--accent);
}

.dashboard-list{
  padding-top: 10px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px !important;
  height: 40px !important;
  margin-bottom: 3px !important;
  margin-top: 3px !important;
  width: 90%;
  background-color: var(--accent) !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3) !important;
}

.circle {
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}

#circle-food.circle{
  position: relative !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.05) !important;
  margin:auto;
  float: none;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

#circle-food.circle:active{
  background-color: #eeeeee;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.05) !important;
}

#green-leaf{
  color: var(--accent-light);
  font-size: 45px;
  padding-top: 5px;
}

#food{
  width: 45px;
  padding-top: 7px;
}

#foodB{
  width: 45px;
  padding-top: 7px;
  padding-right: 4px;
}

.arrow-position{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color:#b2b2b2;
  font-size: 20px;
}

/* #modes.slider{
  height:245px !important;
} */

#modes.slider-slide{
  padding-top: 0 !important;
  background-color:transparent;
}

/*.ion-view-background-dashboard{
  background: rgba(135,245,245,1);
  background: -moz-linear-gradient(top, rgba(135,245,245,1) 0%, rgba(120,245,235,1) 15%, rgba(108,245,234,1) 31%, rgba(140,250,232,1) 49%, rgba(118,247,219,1) 70%, rgba(95,250,216,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(135,245,245,1)), color-stop(15%, rgba(120,245,235,1)), color-stop(31%, rgba(108,245,234,1)), color-stop(49%, rgba(140,250,232,1)), color-stop(70%, rgba(118,247,219,1)), color-stop(100%, rgba(95,250,216,1)));
  background: -webkit-linear-gradient(top, rgba(135,245,245,1) 0%, rgba(120,245,235,1) 15%, rgba(108,245,234,1) 31%, rgba(140,250,232,1) 49%, rgba(118,247,219,1) 70%, rgba(95,250,216,1) 100%);
  background: -o-linear-gradient(top, rgba(135,245,245,1) 0%, rgba(120,245,235,1) 15%, rgba(108,245,234,1) 31%, rgba(140,250,232,1) 49%, rgba(118,247,219,1) 70%, rgba(95,250,216,1) 100%);
  background: -ms-linear-gradient(top, rgba(135,245,245,1) 0%, rgba(120,245,235,1) 15%, rgba(108,245,234,1) 31%, rgba(140,250,232,1) 49%, rgba(118,247,219,1) 70%, rgba(95,250,216,1) 100%);
  background: linear-gradient(to bottom, rgba(135,245,245,1) 0%, rgba(120,245,235,1) 15%, rgba(108,245,234,1) 31%, rgba(140,250,232,1) 49%, rgba(118,247,219,1) 70%, rgba(95,250,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87f5f5', endColorstr='#5ffad8', GradientType=0 );
}*/

.bar.bar-header.no-bgColor, .bar.bar-footer.no-bgColor{
border: 0px !important;
border-color: transparent !important;
border-top: transparent !important;
border-bottom: transparent !important;
background-image: none !important; }

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.input-label {
  font-size: 16px;
}
.list {
  padding-top: 0.5px !important;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.load-more-btn {
  background: white;
  border-radius: 50px;
  color: #222;
  border: 1px solid rgb(0 0 0 / .2);
  padding: 3px 20px;
  margin: auto;
  display: block;
}

/* Light theme */
.control-icon-button{
  text-align: center;
  max-height: 56px;
  background-color: #6c757d;
  color: #fff;
  padding-top: 16px;
  width: 64px;
  font-size:20px;
}

.diary-button{
  text-align: center;
  float: right;
  height: 48px;
  background-color: #a0a0a0;
  /* background-color: #D6C780; */
  color: #fff;
  padding-top: 16px;
  width: 48px; /* Changed to fit the diary card in full view */
}

.control-version-number{
  text-align: center;
  float: right;
  height: 100%;
  color: rgb(114, 114, 114);
  padding-top: 16px;
  width: 64px;

  font-size:20px;
}

#switch-user.control-icon-button{
  background-color: #dc3545 !important;
}

.gray-icon.control-icon-button{
  background-color: #CCCCCC !important;
}

.toggle-on-ourcolor-bg{
  border-color: var(--accent) !important;
  background-color: var(--accent) !important;
}

.control-info{
  padding: 2px 4px !important;
}

.tab-nav{
  background-color: #f5f5f5 !important; background-size: 0 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: var(--accent);
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 15px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 58px;
}
ion-header-bar {
  background-color: #f5f5f5 !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 12%);
}
ion-nav-view {
  z-index: 10;
}
/* this controls bacground color of dashboard and profile - label screen now styled in react*/
.pane {
  background-color: #edf1f6 !important;
}
.tabs-custom > .tabs,
.tabs.tabs-custom {
  border-color: #5D3A23;
  background-color: #5D3A23;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 70%, transparent 70%);
  color: #999; }
  .tabs-custom > .tabs .tab-item .badge,
  .tabs.tabs-custom .tab-item .badge {
    background-color: #999;
    color: #387ef5; }

.tabs-striped.tabs-custom .tabs {
  background-color: #5D3A23; }

.tabs-striped.tabs-custom .tab-item {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; }
  .tabs-striped.tabs-custom .tab-item .badge {
    opacity: 0.7; }
  .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff; }
.title.title-center.header-item {
  color: #303030;
}
.title.title-center.header-item:empty {
  display: none;
}
.date-picker-button {
  color: var(--accent) !important; padding: 0 15px; border-color: transparent; margin-top: 4px; 
      /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
                 border-style: solid; border-color: white; border-width: 0px; border-radius: 5px;
}

.button.date-picker-button {
  font-size: 15px;
}

.date-picker-arrow {
  color: #303030 !important; margin-top: 4px; background-color: transparent !important;
}
/* Light theme ends */


.earlier-later-expand {
  color: #303030;
  margin: 16px 16px 0 6px;
  font-size: 0.8em;
  opacity: 0.7;
}
.list-location {
  color: #303030;
  background-color: transparent;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0 !important;
  margin-bottom: 0!important;
}
p.list-text {
  color: #303030;
}
a.list-text {
  color: #303030;
}
.tab-item .icon {
  margin: 3px auto 1px auto;
  font-size: 25px;
  height: 25px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

button.button.ng-binding i.icon.ion-edit {
  font-size: 12px;
}
button.button.back-button.buttons.button-clear.header-item {
  color: #303030; opacity: 0.7;
}
.nav-bar-title {
  color: #303030; opacity: 0.7;
}
/* Profile tab */
.control-list-item {
  background: #fff;
  display: flex;
  min-height: 50px;
  margin-top: 0.5px;
  justify-content: space-between;
}
.control-list-text {
  padding-inline: 15px;
  margin-block: auto;
  max-width: calc(100% - 64px);
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.1;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.control-list-toggle {
  float: right; margin-top: 5px; margin-right: 2px;
}
/* Diary list tab */

.lightrail {
  color: blue
}
.dev-zone-input {
  padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;
}
.dev-zone-title {
  padding: 18px 16px;
}
.dev-zone-button {
  position: absolute;
  right: 16px;
  top: 16px;
}
.list-card {
  margin: 16px 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid #ccc;
}
.bg-light {
  background-color: #ffffff; 
}
.bg-unprocessed {
  background-color: #9eb2aa; 
}
.list-card-sm {
  width: 95%;
}
.list-card-md {
  width: 95%;
}
.list-card-lg {
 width: 95%;
}
.list-card .row {
  padding-left: 5px;
  padding-right: 5px;
}
.list-col-left-margin {
  text-align: center; padding: 0.7em 0.8em 0.4em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left {
  text-align: center; padding: 1.1em 0.8em 0.6em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-right {
  text-align: center; padding: 0.25em 0.8em; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}

timestamp-badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 999;
}

timestamp-badge[light-bg] {
  top: 0;
  bottom: unset;
  transform: translate(-50%, -50%);
}

.start-end-addresses-container {
  display: inline-block;
  width: calc(100% - 25px);
}
.diary-more-container i {
  font-size: 32px;
}
.diary-checkmark-container i {
  font-size: 24px;
  padding: 3px;
}

.diary-checkmark-container i.can-verify {
  color: #30A64A;
  background-color: #ddd;
  border-radius: 5px;
}
.diary-checkmark-container i.cannot-verify {
  color: #E6B8B8;
}
.diary-checkmark-container i.already-verified {
  color: #B8E6C2;
}
/* .diary-checkmark-container i.already-verified, .diary-checkmark-container i.cannot-verify {
  color: #BFBFBF;
} */

.center-vert {
  display: flex;
  align-items: center;
}

.center-horiz {
  display: flex;
  justify-content: center;
}

.side-menu-item {
  padding: 5% 10%;
}
.menu-item:active {
  background-color: #dddfe2;
}

.side-menu-item {
  padding: 5% 10%;
}

.metric-datepicker {
  /*height: 33px;*/
  display: flex;           /* establish flex container */
  /*flex-direction: column;   make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.metric-title {
  height: 35px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: left;     /* center items horizontally, in this case */
  padding-left: 10px;
}

.metric-datepicker-container-upper {
  width: 100%;
  float: left;
}
.metric-weekday-container-upper {
  width: 28%;
  float: right;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.metric-weekday-container-lower {
  width: 28%;
  float: right;
  top: 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.metric-datepicker-container-lower {
  top: 40px;
  width: 100%;
  float: left;
}
.metric-left {
  width: 25%;
  float: left;
}
.metric-right {
  text-align: center;
  width: 75%;
  float: right;
}
.metric-change-data-button{
  margin: auto;
  width: 120px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);
  color: var(--accent);
  font-weight: 700;
  height: 30px;
}
.metric-change-data-button:active{
  background-color: var(--accent);
  color: white;
  box-shadow: none;
}
.metric-metric-button {
  float: left;
  width: 49%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.heatmap-mode-button {
  float: left;
  width: 33%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
  
}

.current-mode-button {
  border: none;
  background-color:#2D9CDB;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  opacity: 0.4;
  font-size:28px;
  width: 100%;
  text-decoration:none;
  height: 80px;
  z-index: 1;
  position: relative;
  top: 65px;
}

#current-start-time {
  z-index: 1;
  position: absolute;
  top: 5%;
  display: block;
  width: 40%;
  height: 25px;
  background-color: #f5f5f5;;
  border-radius: 10px;
  color: #6A6A6A;
  left: 30%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#current-start-time-text {
  font-size: 15px;
  text-align: center;
  margin-top: 2px;
}

#speed-and-direction {
  z-index: 1;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: center;
}

#current-speed {
  background-color: #8F8F8F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
  color: white;
  width: 60px;
  text-align: center;
  height: 60px;
  border-style: solid;
  border-radius: 50%;
  border-color: #6A6A6A;
  border-width: 4px;
}

#speed-value {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

#speed-unit {
  font-size: 12px;
  margin-top: -3px;
}

#current-direction-text {
  color:#6A6A6A; 
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  opacity: 0.9;
}

#slider_background {
  z-index: 2;
  position: absolute;
  left: -4px;
}

.report-button {
  border-radius: 10px;
  border: none;
  background-color: #E34949;
  color: #ffffff;
  font-size: 20px;
  width: 60%;
  height: 35px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
  display: block;
  bottom: 40px;
  left: 20%;
}

.report-button:active{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.metric-freq-button {
  float: right;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.metric-get-button {
  width: 60px;
  border-radius: 5px;
  color: white;
  background-color: var(--accent);
  height: 35px;
}
.metric-get-button-inactive {
  width: 60px;
  border-radius: 5px;
  color: white;
  background-color: var(--accent);
  opacity: 0.7;
  height: 35px;
}
.hvcenter {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}
.metric-basic {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.05);
  color: var(--accent);
  height: 35px;
}
.metric-half {
 float: left;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 3px rgba(0, 0, 0, 0.05);  color: #01D0A7;
  height: 30px;
  overflow: hidden;
  position: relative;
}

/*Change later*/
.metric-second-half {
  width: 90%;
  margin: auto;
}
.metric-current-title {
  color: #333;
  position: absolute;
  width: 28%;
  height: 35px;
}
.metric-current-title-nofilter {
  position: absolute;
  color: white;
  background-color: var(--accent);
  text-align: center;
  width: 100%;
  height: 35px;
}
.metric-range-button {
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 1px;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  width: 25%;
  left: 50%;
  height: 35px;
}
.metric-range-button-active {
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 1px;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  width: 25%;
  left: 50%;
  height: 35px;
  background-color: var(--accent);
  color: white;
}
.metric-filter-button {
  position: absolute;
  width: 25%;
  left: 75%;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.metric-filter-button-active {
  position: absolute;
  width: 25%;
  left: 75%;
  height: 35px;
  background-color: var(--accent);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.metric-chart-button {
  width: 50%;
  position: absolute;
  left: 50%;
  height: 30px;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--accent);
}
.metric-chart-button-active {
  width: 50%;
  position: absolute;
  left: 50%;
  height: 30px;
  background-color: var(--accent);
  color: white;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.metric-summary-button {
  width: 50%;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  height: 30px;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.metric-summary-button-active {
  width: 50%;
  position: absolute;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 1px;
  height: 30px;
  background-color: var(--accent);
  color: white;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.distance-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  height: 30px;
}
.speed-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  height: 30px;
}
.trips-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  float: left;
  height: 30px;
}
.duration-button{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  float: left;
  height: 30px;
}
.distance-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--accent);
  color: white;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  height: 30px;
}
.speed-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  background-color: var(--accent);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  height: 30px;
}
.trips-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--accent);
  color: white;
  overflow: hidden;
  float: left;
  height: 30px;
}
.duration-button-active{
  width:25%;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--accent);
  color: white;
  overflow: hidden;
  float: left;
  height: 30px;
}
.metric-toggle-button {
  width: 33%;
  position: absolute;
  left: 66%;
  height: 33px;
}
.metric-me-toggle {

}
.metric-icon {
  color: #ccc;
  font-size: 30px;
}
.metric-filter-title {
  position: absolute;
  width: 15%;
  height: 35px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: left;     /* center items horizontally, in this case */
  padding-left: 10px;
}
.metric-filter-year {
  position: absolute;
  width: 19%;
  left: 21%;
  height: 35px;
  border-width: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05) !important;
}
.metric-filter-month {
  position: absolute;
  width: 13%;
  left: 42%;
  height: 35px;
  border-width: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05) !important;
}
.metric-filter-day {
  position: absolute;
  width: 13%;
  left: 57%;
  height: 35px;
  border-width: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05) !important;
}
.metric-summary-title {
  padding: 2px;
  color: var(--accent);
  font-weight: 700;
}
.metric-summary-content {
  color: var(--accent);
  font-size: 12px;
  font-weight: 600;
}
.metric-summary-left {
  float: left;
  margin-top: 10px;
  width: 40px !important;
  margin-left: 10px;

}
.metric-summary-right {
  margin-left: 40px;
}
.metric-summary-separator {
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #ccc;
  margin-bottom: 10px;
}

.metric-summary-option-button {
  float: right;
  color: var(--accent);
  background-color: white;
  height: 20px;
  border-radius: 5px;
  width: 80px;
  margin-right: 5px;
  margin-top: -28px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
}
.full-toggle-container {
 height: 35px;


}
.full-toggle-left {
  width: 50%;
  float: left;
  height: 35px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: white;
  color: var(--accent);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.full-toggle-left-active {
  width: 50%;
  float: left;
  height: 35px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: var(--accent);
  color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.full-toggle-right {
  width: 50%;
  float: right;
  height: 35px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: white;
  color: var(--accent);
}
.full-toggle-right-active {
  width: 50%;
  float: right;
  height: 35px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: var(--accent);
  color: white;
}
.unit-toggle-container {
 height: 35px;
}
.unit-toggle-left {
  width: 50%;
  float: left;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  color: var(--accent);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.unit-toggle-left-active {
  width: 50%;
  float: left;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--accent);
  color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.unit-toggle-right {
  width: 50%;
  float: right;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: var(--accent);
}
.unit-toggle-right-active {
  width: 50%;
  float: right;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--accent);
  color: white;
}
.userdata-title {
  color: #ccc;
}
.carbon-goal-chart {
  height: 5px;
  background-color: var(--accent);
  opacity: 0.6;
  border-radius: 2px;
  width: 100%;
}
#no-border.item {
  border-width: 0 !important;
}
#goal-signup-field{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.item.item-input.item-select {
  border-width: 1px !important;
}
.control-icon-button:active {
  opacity: 0.7;
}
.full-toggle-left:active {
 opacity: 0.7;
}
.full-toggle-right:active {
  opacity: 0.7;
}
#iframe {
    /*width: 375px !important;*/
    height: 100%;
    -webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
}

.buttons {
  margin-left: 10px;
}

.filter-select-wrapper,
.date-input-wrapper {
  display: flex;
  margin: 0 2px;
  position: relative;
  pointer-events: none;
}

.buttons input,
.buttons select {
  text-align: center;
  border: 1px solid rgb(20 20 20 / .2);
  border-radius: 10px;
  font-size: 13px;
  color: #222;
  pointer-events: all;
  min-width: 11ch;
}

.buttons input[type="date"] {
  color: transparent;
}

.date-input-wrapper:before {
  content: attr(data-text) !important;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 8px;
  font-size: 12px;
  line-height: 1.3;
}

.date-input-wrapper:first-line {
  text-decoration: underline;
}


.date-input-wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 8px;
  font-size: 14px;
  font-family: "Ionicons";
}

.date-input-divider {
  position: absolute;
  color: black;
  border-top: 1px solid #444;
  top: 50%;
  margin: 0;
  width: 3ch;
  left: calc(8px + 2.5ch);
}
