/* Empty. Add your own CSS if you like */

.customButtomIconSize:before {
    font-size: 25px !important;
}

#habitica-heart-icon {
   font-size: 15px;
   color: red;
   padding-left: 10%
}

#habitica-star-icon {
   font-size: 15px;
   color: gold;
   padding-left: 10%
}

#stats-wrapper {
  margin-top: 5px;
  font-size: 0px;
}

.stats-value-wrapper{
  margin-top: -9.9px !important;
}

.stats-value {
  font-size: 8px !important;
  padding-left: 21%;
  display: inline;
}

.stats-name {
  font-size: 8px !important;
  float: right;
  display: inline;
}

.item-thumbnail-left.activated {
  background-color: transparent;
  box-shadow: none;
  color: #fff; 
}

.signup-title{
  font-size: 2em;
  padding: 30px 0 10px 0;
}

progress{
  margin: 0px;
  /*margin-top: 2px;*/
  float: right;
  width: 80%;
  height: 12px;
  border-radius: 10px;
  padding-top: 1%;
}

progress::-webkit-progress-value{
  background: #f74040;
  border-radius: 10px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
}

progress::-webkit-progress-bar{
  background: #d1d1d1;
  border-radius: 10px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
}

/*.item-content {
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: -12px;
    margin-bottom: -4px;
    height: 70px;
}*/

.golden::-webkit-progress-value{
  background: #ffd700;
}

img.center {
    display: block;
    margin: 0 auto;
}


.bar.bar-header.no-bgColor, .bar.bar-footer.no-bgColor{
border: 0px !important;
border-color: transparent !important;
border-top: transparent !important;
border-bottom: transparent !important;
background-image: none !important; }

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.input-label {
	font-size: 16px;
}
.list {
	padding-top: 0.5px !important;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 275px;
  margin: 1rem;
  position: relative;
}
/* Dark theme */
/*
.tab-nav{
  background-color: #212121 !important; background-size: 0 !important;
}
ion-header-bar {
  background-color: #212121 !important;
}
.ion-view-background{
  background-color: #303030 !important;
}
.tabs-custom-dark > .tabs,
.tabs.tabs-custom-dark {
  border-color: #5D3A23;
  background-color: #5D3A23;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 30%);
  color: #33e0bb; }
  .tabs-custom-dark > .tabs .tab-item .badge,
  .tabs.tabs-custom-dark .tab-item .badge {
    background-color: #33e0bb;
    color: #387ef5; }

.tabs-striped.tabs-custom-dark .tabs {
  background-color: #5D3A23; }

.tabs-striped.tabs-custom-dark .tab-item {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1; }
  .tabs-striped.tabs-custom-dark .tab-item .badge {
    opacity: 0.3; }
  .tabs-striped.tabs-custom-dark .tab-item.tab-item-active, .tabs-striped.tabs-custom-dark .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff; }

.title.title-center.header-item {
  color: white;
}
.date-picker-button-dark {
  color: #33e0bb !important; padding: 0 15px; border-color: transparent; margin-top: 4px; box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
                 border-style: solid; border-color: white; border-width: 0px; border-radius: 5px;
}
.date-picker-arrow-dark {
  color: rgba(51,224,187, 0.7) !important; margin-top: 4px; background-color: transparent !important;
}

*/
/* Dark theme ends */
/* Light theme */
.tab-nav{
  background-color: #f5f5f5 !important; background-size: 0 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #2bb096;
}

ion-header-bar {
  background-color: #f5f5f5 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ion-view-background{
  background-color: #FAFAFA !important;
}
.ion-view-background-dark {
  background-color: #303030 !important;
}
.tabs-custom > .tabs,
.tabs.tabs-custom {
  border-color: #5D3A23;
  background-color: #5D3A23;
  background-image: linear-gradient(0deg, #0c60ee, #0c60ee 70%, transparent 70%);
  color: #999; }
  .tabs-custom > .tabs .tab-item .badge,
  .tabs.tabs-custom .tab-item .badge {
    background-color: #999;
    color: #387ef5; }

.tabs-striped.tabs-custom .tabs {
  background-color: #5D3A23; }

.tabs-striped.tabs-custom .tab-item {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; }
  .tabs-striped.tabs-custom .tab-item .badge {
    opacity: 0.7; }
  .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff; }
.title.title-center.header-item {
  color: #303030;
}
.date-picker-button {
  color: #303030 !important; padding: 0 15px; border-color: transparent; margin-top: 4px; box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
                 border-style: solid; border-color: white; border-width: 0px; border-radius: 5px;
}
.date-picker-arrow {
  color: #303030 !important; margin-top: 4px; background-color: transparent !important;
}
/* Light theme ends */


.earlier-later-expand-dark {
  color: white;
  margin: 16px 16px 0 6px;
  font-size: 0.8em;
  opacity: 0.7;
}
.earlier-later-expand {
  color: #303030;
  margin: 16px 16px 0 6px;
  font-size: 0.8em;
  opacity: 0.7;
}
.list-location {
  color: #303030;
  background-color: transparent;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.list-location-dark {
  color: white;
  background-color: transparent; 
  font-size: 0.8em; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-left: 30px; 
  margin-top: 0; 
  margin-bottom: 0;
}
p.list-text-dark {
  color: white;
}
p.list-text {
  color: #303030;
}
a.list-text-dark {
  color: white;
}
a.list-text {
  color: #303030;
}
.tab-item .icon {
  margin: 3px auto 1px auto;
  font-size: 25px;
  height: 25px;
  
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

button.button.ng-binding {
  font-size: 15px;
}
button.button.ng-binding i.icon.ion-edit {
  font-size: 12px;
}
button.button.back-button.buttons.button-clear.header-item {
  color: #303030; opacity: 0.7;
}
.nav-bar-title {
  color: #303030; opacity: 0.7;
}
/* Profile tab */
.control-list-item {
  background-color: white! important; height: 50px; margin-top: 0.5px;
}
.control-list-text {
  background-color: white! important; padding: 15px; float: left;
}
.control-list-toggle {
  float: right; margin-top: 5px; margin-right: 2px;
}
/* Diary list tab */

.dev-zone-input {
  padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;
}
.dev-zone-title {
  padding: 18px 16px;
}
.dev-zone-button {
  position: absolute;
  right: 16px;
  top: 16px;
}
.list-card-dark {
  margin: 16px 0; background-color: #424242; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.list-card {
  margin: 16px 0; background-color: #fff; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.list-card-sm {
  width: 95%;
}
.list-card-md {
  width: 95%;
}
.list-card-lg {
 width: 95%;
}
.list-col-left-margin {
  text-align: center; padding: 0.7em 0.8em 0.4em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left-dark-margin {
  text-align: center; padding: 0.7em 0.8em 0.4em 0.8em; border-right-width: 0.5px; border-right-color: white; border-right-style: solid; border-bottom-color: white; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left {
  text-align: center; padding: 1.1em 0.8em 0.6em 0.8em; border-right-width: 0.5px; border-right-color: #ccc; border-right-style: solid; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-left-dark {
  text-align: center; padding: 1.1em 0.8em 0.6em 0.8em; border-right-width: 0.5px; border-right-color: white; border-right-style: solid; border-bottom-color: white; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-right {
  text-align: center; padding: 0.25em 0.8em; border-bottom-color: #ccc; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.list-col-right-dark {
  text-align: center; padding: 0.25em 0.8em; border-bottom-color: white; border-bottom-width: 0.5px; border-bottom-style: solid;
}
.start-time-tag {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
        background-color: #33e0bb;
        color: black;
        width: 16%;
        height: 16px;
        border-radius: 8px;
        font-size: 9px;
        position: absolute;
        left: 1%;
        top: 15px;
        line-height: 16px;
}
.stop-time-tag {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
        background-color: #ff5251;
        color: black;
        width: 16%;
        height: 16px;
        border-radius: 8px;
        font-size: 9px;
        position: absolute;
        left: 1%;
        top: 275px;
        line-height: 16px;
}
.stop-time-tag-lower {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
        background-color: #ff5251;
        color: black;
        width: 16%;
        height: 16px;
        border-radius: 8px;
        font-size: 9px;
        position: absolute;
        left: 1%;
        top: 310px;
        line-height: 16px;
}