/* Empty. Add your own CSS if you like */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.popup-title {
    color: #6e6e6e;
}

.pull-right {
  float: right
}
.pull-left {
  float: left
}

.button.button-icon.ion-help:before {
  font-size: 25px;
}

.popup-buttons.row {
 height: 40px !important;
}
.popup-buttons.button {
  height: 40px !important;
}
.button.ng-binding.button-stable {
  height: 40px;

}
.button.ng-binding.button-positive {
  background-color: #1123CB;
  height: 40px;
}
.button.ng-binding.button-assertive {
  background-color: #1123CB;
  height: 40px;

}
.selected_date_full.ng-binding {
  color: #1123CB;
}
.icon.ion-chevron-left {
 color: #1123CB;
}
.icon.ion-chevron-right {
 color: #1123CB;
}
.date_col.date_selected {
 background-color: #1123CB !important;

}
.date_col:active {
 background-color: #1123CB !important;
}
.customButtomIconSize:before {
    font-size: 25px !important;
}

#habitica-heart-icon {
   font-size: 18px;
   color: #ff6064;
   padding-left: 10%;
   position: relative;
   bottom: 1.5px;
}

#habitica-star-icon {
   font-size: 18px;
   color: #ffbe5d;
   padding-left: 10%;
   position: relative;
   bottom: 2px;
}

#stats-wrapper {
  margin-top: 5px;
  font-size: 0px;
}

.stats-value-wrapper{
  margin-top: -8px !important;
}

.stats-value {
  font-size: 10px !important;
  padding-left: 21%;
  display: inline;
}

.stats-name {
  font-size: 10px !important;
  float: right;
  display: inline;
}

.item-thumbnail-left-avatar.activated {
  background-color: transparent;
  color: #fff; 
}

.signup-title{
  font-size: 2em;
  padding: 30px 0 10px 0;
  color: #707070
}

.signup-button{
  margin-left: auto;
  margin-right: auto;
  display: block;width: 50%;
}

.button.button-light-green {
  border-color: transparent;
  background-color: #1123CB;
  color: #fff; }
.button.button-light-green:hover {
    color: #fff;
    text-decoration: none; }
.button.button-light-green.active, .button.button-gold.activated {
    background-color:#1123CB; }
.button.button-light-green.button-clear {
    border-color: transparent;
    background: none;
    color: #1123CB; }
.button.button-light-green.button-icon {
    border-color: transparent;
    background: none; }
.button.button-light-green.button-outline {
    border-color: #1123CB;
    background: transparent;
    color: #1123CB; }
.button.button-light-green.button-outline.active, .button.button-gold.button-outline.activated {
    background-color: #1123CB;
    color: #fff; }

progress{
  margin: 0px;
  float: right;
  width: 80%;
  height: 14px;
  border-radius: 10px;
}

progress.quest-boss-bar{
  height: 20px !important;
  width: 100% !important;;
}
progress.download{
  margin: 0;
  width: 100%;
  height: 5px;
  border-radius: 0;
  padding-top: 0;
  position: fixed;
  z-index:1;
  -webkit-appearance: none;
   appearance: none;
}

progress.download::-webkit-progress-bar{
  background: transparent;
  border-radius: 0;
}

progress.download::-webkit-progress-value{
  background: #1123CB;
  border-radius: 0;
}

progress::-webkit-progress-value{
  background: #f74040;
  border-radius: 10px;
}

progress::-webkit-progress-bar{
  background: #d1d1d1;
  border-radius: 10px;
}

progress.golden::-webkit-progress-value{
  background: #ffd700;
  border-radius: 10px;
}

progress.purple::-webkit-progress-value{
  background: #3D3240;
  border-radius: 10px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.item-content-avatar{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.item-thumbnail-left-avatar,
.item-thumbnail-left-avatar .item-content-avatar {
  background-color: transparent !important;
  padding-top: 8px;
  padding-left: 135px;
  height: 157px;
  border: 0px; }
  .item-thumbnail-left-avatar > figure:first-child,
  .item-thumbnail-left-avatar .item-figure,
  .item-thumbnail-left-avatar .item-content-avatar > figure:first-child,
  .item-thumbnail-left-avatar .item-content-avatar .item-figure {
    position: absolute;
    top: 10px;
    left:1px;
    max-width: 140px;
    max-height: 147px;
    width: 100%;
    height: 100%; }

.item-figure {
  padding: 0;
  text-align: center; }
  .item-figure img:first-child, .item-figure .list-figure {
    width: 100%;
    vertical-align: middle; }
.habit-list-border.item {
  border-width: 0.5px !important;
}

/* ngAnimate */
/* The starting CSS styles for the enter animation */
/*#habit-list ion-item.ng-enter {
  transition:0.5s linear all;
  opacity:0;
  transform: translateY(100%);
}
/* The finishing CSS styles for the enter animation */
/*#habit-list ion-item.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0);
}

#habit-list ion-item.ng-leave {
  transition:0.25s linear all;
  opacity:1;
  transform: translateX(0);
}
#habit-list ion-item.ng-leave.ng-leave-active {
  opacity:0;
  transform: translateX(-100%);
}
/* ngAnimate ends here */

#group-leaderboard{
  padding-left: 20px
}

.group-leaderboard-left-stats{
  display: inline;
}

.group-leaderboard-right-stats{
  display: inline;
  float: right;
  padding-right: 100px;
}

#leaderboard-stats{
  padding-left: 20px;
  padding-top: 10px;
}

.leaderboard-card.card{
  background: #fff !important;
  border-radius: 20px;
  display: block;
  margin: 10px;
  position: relative;
}

#costume-tab .button {
  border: none !important;
  color: #6e6e6e !important;
  background: #f5f5f5 !important;
  font-weight: 700 !important;
  width: 50%;
  float:left;
}
#challenge.active {
  color: #1123CB !important;
}
#party.active {
  color: #1123CB !important;
}
#add-goal:active {
  color: #ededed !important;
}
#leaderboard:active {
  color: #ededed !important;
}
#webkey:active {
  color: #ededed !important;
}
#challenge:active {
  color: #ededed !important;
}

#goal-content .item-content {
    padding: 0px 49px 0px 0px !important;
}

#arrow-color{
  color: #1123CB;
  font-size: 25px !important;
}

.arrow-position{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color:#b2b2b2;
  font-size: 20px;
}

#message.ng-enter{
  -webkit-animation: slideInLeft .25s;
  animation: slideInLeft .25s;
}

#message.ng-leave{
  -webkit-animation: slideOutLeft .25s;
  animation: slideOutLeft .25s;
}

#scroll-message.ng-enter{
  -webkit-animation: bounceInUp .5s;
  animation: bounceInUp .5s;
}

#scroll-message.ng-leave{
  -webkit-animation: fadeOut .25s;
  animation: fadeOut .25s;
}
/* ngAnimate ends here */

/* score button color */
#up_value_negative_big{
  background-color: #A9EDE0;
}
#up_value_negative{
  background-color: #73D9C5;
}
#up_value_normal{
  background-color: #4BC3AB;
}
#up_value_positive{
  background-color: #2CAC93;  
}
#up_value_positive_big{
  background-color: #0D9C80;
}
#down_value_negative_big{
  background-color: #E81431;
}
#down_value_negative{
  background-color: #F43F58;
}
#down_value_normal{
  background-color: #F75F74;
}
#down_value_positive{
  background-color: #FA8595;  
}
#down_value_positive_big{
  background-color: #FDB3BD;
}
/*score button color end*/

#costume-tab .button {
  border: none !important;
  color: #6e6e6e !important;
  background: #f5f5f5 !important;
  font-weight: 700 !important;
  width: 50%;
  float:left;
  border-radius: 0;
}

#goal-content .item-content {
    padding: 0px 49px 0px 0px !important;
}

.bar.bar-header.no-bgColor, .bar.bar-footer.no-bgColor{
border: 0px !important;
border-color: transparent !important;
border-top: transparent !important;
border-bottom: transparent !important;
background-image: none !important; }

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.input-label {
  font-size: 16px;
}
.list {
  padding-top: 0.5px !important;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 275px;
  margin: 1rem;
  position: relative;
}

.control-icon-button{
  text-align: center;
  float: right;
  height: 100%;
  background-color: #D6C780;
  color: #fff;
  padding-top: 16px;
  width: 64px;
  font-size:20px;
}

.gray-icon.control-icon-button{
  background-color: #CCCCCC !important;
}

.toggle-on-ourcolor-bg{
  border-color: #1123CB !important;
  background-color: #1123CB !important;
}

.toggle input:checked + .track {
  border-color: #1123CB !important;
  background-color: #1123CB !important;
}

.control-info{
  padding: 2px 4px !important;
}

.tab-nav{
  background-color: #EEF0FC !important; background-size: 0 !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #1123CB;
}

ion-header-bar {
  background-color: #ffffff !important;
}
.ion-view-background{
  background-color: #ffffff !important;
}
.title.title-center.header-item {
  color: #303030;
}
.date-picker-button {
  margin: auto;
  width: 158px;
  height: 40px;
  border: 2px solid #1123CB;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
}

.date-picker-arrow {
  color: #1123CB !important;
  flex-direction: column;
  justify-content: center;
}

.earlier-later-expand {
  color: #303030;
  margin: 16px 16px 0 6px;
  font-size: 0.8em;
  opacity: 0.7;
}
.list-location {
  color: #303030;
  background-color: transparent;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-top: 0 !important;
  margin-bottom: 0!important;
}
p.list-text {
  color: #303030;
}
a.list-text {
  color: #303030;
}
.tab-item .icon {
  margin: 3px auto 1px auto;
  font-size: 25px;
  height: 25px;
}

.card-1 {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button.button.ng-binding {
  font-size: 15px;
}
button.button.ng-binding i.icon.ion-edit {
  font-size: 12px;
}
button.button.back-button.buttons.button-clear.header-item {
  color: #303030; opacity: 0.7;
}
.nav-bar-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

/* Diary list tab */

.lightrail {
  color: blue
}
.dev-zone-input {
  padding: 7px 0; font-size: 16px; line-height: 22px; height: 36px;
}
.dev-zone-title {
  padding: 18px 16px;
}
.dev-zone-button {
  position: absolute;
  right: 16px;
  top: 16px;
}

.bg-light {
  background-color: #ffffff; 
}
.bg-unprocessed {
  background-color: #ffffff; 
}


.center-vert {
  display: flex;
  align-items: center;
}

.center-horiz {
  display: flex;
  justify-content: center;
}

.side-menu-item {
  padding: 5% 10%;
}
.menu-item:active {
  background-color: #dddfe2;
}

.side-menu-item {
  padding: 5% 10%;
}
.common-list-item {
  padding: 5% 8% 3% 8%;
}
.common-list-item-location {
  font-size: 0.9em;
  font-weight: 300;
  color: #000;
}
.common-list-item-times {
  font-size: 0.8em;
  font-weight: 300;
  color: #303030;
}
.common-map-item {
  padding: 0 !important;
}
.common-map-item-location {
   font-size: 0.8em;
  font-weight: 300;
  color: #000;
}
.common-detail-title {
  padding: 2% 3%;
  font-weight: 400;
  color: #888;
  font-size: 1em;
  line-height: 1em;
}
.common-detail-item {
  padding: 0 8% 0 8%;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #1123CB;
}
.succ-title {
  font-weight: 400;
  color: #333;
}
.common-detail-trips-to {
  padding: 0 3% 0 3%;
  font-size: 0.8em;
  font-weight: 400;
  color: #000;
  margin-top: 5px;

}
.common-trip-detail-chart-title {
  padding: 2% 3% 0 3%;
  color: #333;

}
text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body, #chart1, svg {
    padding: 0px;
    margin: 0 10px 0 0;

}
html, body, #chart2, svg {
    padding: 0px;
    margin: 0 10px 0 0;
}
.nvd3, nv-noData {
  font-weight: 300 !important;
}

.heatmap-mode-button {
  float: left;
  width: 33%;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
  
}

.current-mode-button {
  border: none;
  background-color:#2D9CDB;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  opacity: 0.4;
  font-size:28px;
  width: 100%;
  text-decoration:none;
  height: 80px;
  z-index: 1;
  position: relative;
  top: 65px;
}

#current-start-time {
  z-index: 1;
  position: absolute;
  top: 5%;
  display: block;
  width: 40%;
  height: 25px;
  background-color: #f5f5f5;;
  border-radius: 10px;
  color: #6A6A6A;
  left: 30%;
}

#current-start-time-text {
  font-size: 15px;
  text-align: center;
  margin-top: 2px;
}

#speed-and-direction {
  z-index: 1;
  position: absolute;
  top: 2%;
  right: 2%;
  text-align: center;
}

#current-speed {
  background-color: #8F8F8F;
  opacity: 0.9;
  color: white;
  width: 60px;
  text-align: center;
  height: 60px;
  border-style: solid;
  border-radius: 50%;
  border-color: #6A6A6A;
  border-width: 4px;
}

#speed-value {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}

#speed-unit {
  font-size: 12px;
  margin-top: -3px;
}

#current-direction-text {
  color:#6A6A6A; 
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  opacity: 0.9;
}

#slider_background {
  z-index: 2;
  position: absolute;
  left: -4px;
}

.slider-pager-page{
  color: #1123cb !important;
}

/*
Algularjs-slider custom css
 */
span.rz-bar-wrapper {
    background-color: #f5f5f5;
}

.rzslider.rz-vertical .rz-bar-wrapper {
    width: 36px !important;
}

.rzslider .rz-bar {
    background: #B3B3B3 !important;
}

.rzslider .rz-selection {
    background: #8F8F8F !important;
}

.rzslider .rz-pointer.rz-active::after {
    background-color: #8F8F8F !important;
}

.rzslider .rz-pointer {
    background-color: #8F8F8F !important;
}

.rzslider .rz-pointer::after {
    background: #8F8F8F !important;
}

.rzslider .rz-tick.rz-selected {
    background: #8F8F8F !important;
}

.rzslider .rz-tick {
    background: #B3B3B3 !important;
}

.rzslider .rz-bubble {
    color: #6A6A6A !important;
    background-color: #f5f5f5;
    z-index: 3;
    border-radius: 0 10px 10px 0;
}

.report-button {
  border-radius: 10px;
  border: none;
  background-color: #E34949;
  color: #ffffff;
  font-size: 20px;
  width: 60%;
  height: 35px;
  z-index: 1;
  position: absolute;
  display: block;
  bottom: 40px;
  left: 20%;
}

.hvcenter {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.heatmap-filter-title {
  position: absolute;
  width: 14%;
  height: 35px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: left;     /* center items horizontally, in this case */
  padding-left: 4px;
}
.heatmap-filter-year {
  position: absolute;
  width: 16%;
  left: 18%;
  height: 35px;
  border-width: 0;
}
.heatmap-filter-month {
  position: absolute;
  width: 11%;
  left: 35%;
  height: 35px;
  border-width: 0;
}
.heatmap-filter-day {
  position: absolute;
  width: 11%;
  left: 47%;
  height: 35px;
  border-width: 0;
}
.heatmap-filter-hour {
  position: absolute;
  width: 11%;
  left: 59%;
  height: 35px;
  border-width: 0;
}
.heatmap-weekday-container-upper {
  left: 71%;
  width: 26%;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}
.heatmap-weekday-container-lower {
  left: 71%;
  width: 26%;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}
.heatmap-fixmap-button {
  float: right;
  width: 30%;
  margin-right: 10px;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}
.heatmap-get-button {
  float: right;
  width: 30%;
  border-radius: 5px;
  background-color: white;
  color: #1123CB;
  height: 35px;
}

.full-toggle-container {
 height: 35px;
}
.full-toggle-left {
  width: 50%;
  float: left;
  height: 35px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: white;
  color: #1123CB;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.full-toggle-left-active {
  width: 50%;
  float: left;
  height: 35px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: #1123CB;
  color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.full-toggle-right {
  width: 50%;
  float: right;
  height: 35px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: white;
  color: #1123CB;
}
.full-toggle-right-active {
  width: 50%;
  float: right;
  height: 35px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: #1123CB;
  color: white;
}
.unit-toggle-container {
 height: 35px;
}
.unit-toggle-left {
  width: 50%;
  float: left;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  color: #1123CB;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.unit-toggle-left-active {
  width: 50%;
  float: left;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #1123CB;
  color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}
.unit-toggle-right {
  width: 50%;
  float: right;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: #1123CB;
}
.unit-toggle-right-active {
  width: 50%;
  float: right;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1123CB;
  color: white;
}
.userdata-title {
  color: #ccc;
}
.carbon-goal-chart {
  height: 5px;
  background-color: #1123CB;
  opacity: 0.6;
  border-radius: 2px;
  width: 100%;
}
#no-border.item {
  border-width: 0 !important;
}
#goal-signup-field{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.item.item-input.item-select {
  border-width: 1px !important;
}
.control-icon-button:active {
  opacity: 0.7;
}
.full-toggle-left:active {
 opacity: 0.7;
}
.full-toggle-right:active {
  opacity: 0.7;
}
#iframe {
    /*width: 375px !important;*/
    height: 100%;
    -webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
}

.button-refresh {
  background-image: url("../img/icons/restart_alt_black_24dp.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border: none;
  width: 24px;
  height: 24px;
}
