<ion-view>
    <ion-content class="has-footer">
        <!-- <div class="intro-space"></div> -->
        <div class="intro-title">
        <center><img alt="e-mission icon" src="img/icon.png"/ style="width: 25%; height: auto;"></center>
        </div>
        <div class="intro-text">
        <div>
        <center><button class="button button-clear button-dark" ng-click="showDetails($event)"><b>Welcome to emTripLog ℹ️ </b></button></center>
        </div>
        <!--  -->

        To proceed further, you need a link 🔗 or QR code to join a study.
        This should have been provided by the researcher who asked you to install this
        app.

        <div class="intro-space"></div>

        <ion-list>
            <ion-item class="item-text-wrap">
            <div>
            <i class="icon ion-iphone"></i>
            On your phone 📱, switch back to the browser 🌐, scroll down and
            click the link in step 2.
            </div>
            </ion-item>
            <ion-item class="item-text-wrap">
            <center> <b> - OR - </b> </center>
            </ion-item>
            <ion-item class="item-text-wrap">
            <div>
            <i class="icon ion-laptop"></i>
            On your computer 💻, scroll down to step 2 and scan ⬇️  the QR code.
            </div>
            </ion-item>
        </ion-list>
        <div class="intro-space"></div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <button ng-enabled="scanEnabled" class="button button-block button-clear" ng-click="scanCode()">
        Scan now
      </button>
    </ion-footer-bar>
</ion-view>
