<ion-view>
    <ion-content class="has-footer">
        <!-- <div class="intro-space"></div> -->
        <div class="intro-title">
        <center><img alt="e-mission icon" src="../img/icon.png"/ style="width: 25%; height: auto;"></center>
        </div>
        <div class="intro-text">
        <div>
        <center><button class="button button-clear button-dark" ng-click="showDetails($event)"><b>Welcome to NREL Lo-Hi ℹ️ </b></button></center>
        </div>
        <!--  -->

        Use of this app is currently restricted to <b>NREL employees only</b>.

        <div class="intro-space"></div>

        <ion-list>
            <ion-item class="item-text-wrap"> <div> ✔️  If you are an NREL employee, in your email 💻, scroll down to step 2 and scan ⬇️  the QR code. </div> </ion-item>
            <ion-item class="item-text-wrap"> <div> ❌ If you are not an NREL employee, please uninstall this app. </div> </ion-item>
        </ion-list>

        <div class="intro-space"></div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <button ng-enabled="scanEnabled" class="button button-block button-clear" ng-click="scanCode()">
        Scan now
      </button>
    </ion-footer-bar>
</ion-view>
